[2020-03-31 08:12] AntoninaLehka opened #5 "Native thread exiting without having called DetachCurrentThread"
Hello, i faced with this issue when testing video. In logCat I see this warning :
W/art: Native thread exiting without having called DetachCurrentThread (maybe it's going to use a pthread_key_create destructor?)

Please look into this issue. Now app crashed...
[code]

[2020-03-31 17:11] hokyungh commented on #5
Thank you for reporting issue.
Would you be able to add few more descriptions?
1. OS Version:
2. Phone Model:
3. Steps to reproduce:

[2020-04-01 06:27] AntoninaLehka commented on #5
Hello! I use  Samsung SM-G960F/ Android 8 and Samsung SM-G900 /Android 6.0.1

1 Run application
2. Connect to room (used yours example with serverless demo and android
sample and used own web server and android application) in both variants
after few seconds (turn on video and audio tracks) on samsung s5 (in
common) application crashed in log I saw:

 03-31 14:52:33.419 20543-22614/com.chime.video

[2020-04-01 23:32] hokyungh commented on #5
We are currently working on the fix and it should be available in next release.

[2020-04-02 07:45] AntoninaLehka commented on #5
Thank YOU!!)

On Thu, Apr 2, 2020 at 2:32 AM Nick Hwang <notifications@github.com> wrote:

--

Antonina Lehka

Android Developer at MobiDev <https://mobidev.biz/>

[2020-04-21 00:34] papercuptech opened #7 "Android Device Screen Sharing support"
**Is your feature request related to a problem? Please describe.**
Want to get off of Opentok, but our app requires sharing Android tablet/phone screen, which OT's SDK supports.

**Describe the solution you'd like**
Sharing Android tablet/phone Screen.

**Describe alternatives you've considered**
Opentok. currently using.

[2020-04-21 18:36] mitankit commented on #7
Currently we only support viewing screen share and not initiating screen share from both the Mobile SDKs. I am putting a Feature enhancement label as its a new feature.
We would love to hear more about your use case which would help us in prioritizing this feature. Could you please fill out the form [here](https://pages.awscloud.com/GLOBAL-aware-GC-Amazon-Chime-SDK-2020-reg.html) and somebody from

[2020-04-22 22:28] dchen-aws opened #9 "Error for joining video on certain Android devices that do not support H.264 hardware encoding/decoding"
H.264 video codec support was added to Android Chrome in version 56 (Jan 2017). At present H.264 video codec is limited to Qualcomm (Kitkat and later) and Samsung Exynos (Lollipop and later) chipsets in webrtc iibrary. Devices with non supported chipsets will not support H.264 hardware encoding/decoding and will result in an error when trying to run video using Chime SDK.

We are working on a solv

[2020-04-23 20:52] mitankit commented on #5
We have released a new version 0.4.1 of Android SDK and we believe this issues is fixed in that.. Could you please try and let us know?

[2020-04-24 05:59] William-ST opened #11 "Shared video is not displayed"
**Describe the bug**
when other user enable of camera, in my phone rendered message "update your client to support recent video" (ocurred in some devices)

**To Reproduce**
Steps to reproduce the behavior:
1. Other user in meeting with enable camera
2. Input 'MeetingID and Name'
2. Click on 'Continue'
3. Select microphone
4. Click on 'Join'
5. Navigate to 'Tab Video'
4. See error

**Expected behav

[2020-04-27 19:56] walterg2 opened #12 "Video Feeds Cover Each Other When Started"
**Describe the bug**
When creating a layout with a "picture in picture" type layout for the user's local video stream such as the example below, when the remote video for the person you're having the meeting with comes through, the video feed covers over the Local video as well. The "Wrapper" for the local video feed continues to show up, it's just the feed that gets overridden.

If the user sends

[2020-04-27 20:09] hokyungh commented on #11
Thank you for reporting. Is this also happening with new version [0.4.1](https://github.com/aws/amazon-chime-sdk-android#1-download-binaries)?

[2020-04-27 21:24] mitankit commented on #12
Thanks for reporting the issue
Can you try calling setZOrderMediaOverlay(true) on the `DefaultVideoRenderView` of the local video tile.

[2020-04-27 21:27] mitankit commented on #9
This issue has been fixed in 0.4.1 version

[2020-04-27 21:28] mitankit commented on #5
Could you please let us know if you still see this issue with version 0.4.1 ?

[2020-04-27 21:49] William-ST commented on #11
it was fixed with version 0.4.1, Thanks

[2020-04-27 21:52] hokyungh commented on #11
Thank you. It might be related to [codec issue](https://github.com/aws/amazon-chime-sdk-android/issues/9), which is fixed in 0.4.1. I'll close the ticket. Feel free to open it again if you have issue. Thanks.

[2020-04-27 21:52] #11 closed

[2020-04-27 21:54] #9 closed

[2020-04-27 22:20] cvmartins1996 opened #13 "Have problems when try to create a room"
I found an issue, when trying to create a meeting session it throws an error
Couldn't find "libamazon_chime_media_client.so"

`DefaultMeetingSession defaultMeetingSession = new DefaultMeetingSession(meetingSessionConfiguration, logger, this.context);`

What could it be?

I have imported following the main tutorial

[2020-04-27 22:26] mitankit commented on #13
Can you confirm you have included both `amazon-chime-sdk.aar` and `amazon-chime-sdk-media.aar`? The above file `libamazon_chime_media_client.so ` is included in `amazon-chime-sdk-media.aar`

[2020-04-27 22:57] cvmartins1996 commented on #13
Yes both are included
![image](https://user-images.githubusercontent.com/22302846/80428833-2b9d0d80-88c1-11ea-8f42-6a649e9107f2.png)
![image](https://user-images.githubusercontent.com/22302846/80428855-39eb2980-88c1-11ea-829f-155868b48fa7.png)
![image](https://user-images.githubusercontent.com/22302846/80428887-4f605380-88c1-11ea-9750-76a89b2a968d.png)

[2020-04-27 23:38] mitankit commented on #13
Could you also confirm which device are you using it on?

[2020-04-27 23:41] cvmartins1996 commented on #13
Well, actually I'm using a emulator device (x86) only for testing purposes

API 29
PIXEL 3

On Mon, Apr 27, 2020, 8:38 PM Ankit Mittal <notifications@github.com> wrote:

[2020-04-27 23:44] mitankit commented on #13
Well that explains it. Currently Chime SDK is only supported on ARM devices. So either you would have to use a physical ARM device or you would have to create a simulator with ARM image.

[2020-04-27 23:56] cristhian-net opened #14 "React Native bridge"
**Is your feature request related to a problem? Please describe.**
In the Amazon blog post shared next, https://aws.amazon.com/es/blogs/business-productivity/amazon-chime-sdks-ios-android/ says "React Native demo applications"

**Describe the solution you'd like**
I would like to install the npm package to use with React Native and Android (I think the JS SDK is not an option here, because it expe

[2020-04-27 23:57] cvmartins1996 commented on #13
Thanks, that explains it

Well, thanks a lot for your help :)

On Mon, Apr 27, 2020, 8:44 PM Ankit Mittal <notifications@github.com> wrote:

[2020-04-28 00:02] mitankit commented on #13
We are going to update our documentation to reflect this. I am going to close this issue. Please feel free to reopen or create a new one if you face this problem with ARM devices too.

[2020-04-28 00:02] #13 closed

[2020-04-28 00:15] cvmartins1996 commented on #13
Ok thanks :)

On Mon, Apr 27, 2020, 9:02 PM Ankit Mittal <notifications@github.com> wrote:

[2020-04-28 08:37] AntoninaLehka commented on #5
Hello! I've downloaded sdk 0.4.1. Connected two devices  Samsung SM-G960F/
Android 8 and Samsung SM-G900 /Android 6.0.1
After some time i've got:
04-28 11:26:32.444 3658-3658/? A/DEBUG: pid: 21625, tid: 22055, name:
Thread-2923  >>> com.chime.videocall.debug <<<
04-28 11:26:32.444 3658-3658/? A/DEBUG: signal 11 (SIGSEGV), code 1
(SEGV_MAPERR), fault addr 0x9c
04-28 11:26:32.549 3658-3658/? A/DEBUG

[2020-04-28 13:10] walterg2 commented on #12
@mitankit Unfortunately, that did not have any effect. The issue still presents itself after adding `setZOrderMediaOverlay(true) on the local video feed.

[2020-04-28 13:38] walterg2 commented on #12
@mitankit Actually, I looked into it a bit more and this setting has to be made before the window view is attached to the manager. After doing that, I was able to get farther, but no local video feed would appear. Looking more into the `SurfaceView` documentation, there is another property, `setZOrderOnTop` that ensures the view will be placed on top of the stack. Setting this property allows the

[2020-04-28 13:38] #12 closed

[2020-04-28 18:28] cristhian-net commented on #14
I will close the issue, as I found Twilio's npm package for React Native more suitable in this case.

[2020-04-28 18:28] #14 closed

[2020-04-28 18:32] mitankit commented on #5
Can you confirm the following?
1) Both the devices are using 0.4.1 version of `amazon-chime-sdk.aar` and `amazon-chime-sdk-media.aar`?
2) Are you using the demo app shipped in this repo or you have implemented your own app?

[2020-04-29 23:14] walterg2 commented on #5
I was testing our app with the Android SDK installed and ran into this issue by doing the following:

**Describe the bug**
Started a Meeting from the Android Device that crashed, and when I attempted to end the meeting, the NativeThread crash occurred.

With the same code installed on an Android 8 OS, the crash does not occur.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to a meet

[2020-04-30 07:44] AntoninaLegkaya commented on #5
Hi! Both the devices are using 0.4.1 version of amazon-chime-sdk.aar and amazon-chime-sdk-media.aar, they connected to one room
I used own app (as template i used demo app). Server side - own implementation

[2020-04-30 20:20] hokyungh commented on #5
Do you know if you are getting `HardwareVideoEncoder` from our log or is it something you have implemented?
[code]

[2020-04-30 20:22] walterg2 commented on #5
I do not have anything specifically calling for that in my app. I would assume it's coming from the `MetricsObserver`.

[2020-04-30 20:28] hokyungh commented on #5
Thank you @walterg2 we'll investigate.

[2020-04-30 23:21] walterg2 commented on #5
@hokyungh One more update that I've found... This is not happening on an Android 7.1 device either. Hoping that narrows down your field of searching to find the issue.

[2020-05-01 18:27] tutysathish opened #15 "Exist meeting Not Reflect Immediately in all attendees app"
When the meeting Organiser exit from the meeting, It is not reflecting immediately in all attendee's applications. It tools 30 to 40 seconds to close the meeting automatically.

Is there any way to achieve this scenarion.

[2020-05-05 01:41] hokyungh commented on #15
Thank you for creating issue. We don't currently support it unfortunately.

If you are running your own server, you can probably add flag to your own database in order to tell whether a person is an organizer or not. Then when [attendeeLeft](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.realtime/-realtime-observer/on-attendees-left.html)

[2020-05-06 13:41] okm-mohan opened #16 "Project is not loading on Android studio, Error Msg is showing.. and i have attached the screenshots here. Please help for fix this issue."
![error](https://user-images.githubusercontent.com/64908597/81183814-3ea09380-8fcd-11ea-86ed-60801f2b89cb.jpg)

[2020-05-06 16:17] weichenhamzn commented on #16
The error indicates that you didn't load the chime sdk media lib. Please follow the instruction to download and add media lib (aar file) to the project.

https://github.com/aws/amazon-chime-sdk-android#1-download-binaries

[2020-05-07 18:17] ajkerfaisal opened #17 "Problem with video"
In onVideoTileAdded I am doing something as written below
`audioVideo.bindVideoView(selfVideoRenderView, tileState.getTileId());`

But alas for an unknown reason I can't see the local and remote video.
And on the other hand, another client in the meeting (which is iOS) can see my video.
What I am missing?

[2020-05-07 19:14] weichenhamzn commented on #17
Hi, can you provide more detail about your usage?

[2020-05-07 21:29] ajkerfaisal commented on #17
I found my silly mistake. Because of my DefaultVideoRenderView had a background color. I couldn't see the video.

[2020-05-07 21:29] #17 closed

[2020-05-12 04:42] mitankit commented on #16
Could you please update if the issue is resolved ?

[2020-05-12 17:07] mitankit commented on #5
@walterg2 Apologies for delay on this issue. We were trying to reproduce it locally. Good news is that now we are able to reproduce it locally on one of our device. We have included this issue in our current sprint. We will keep you updated as we make progress.

[2020-05-13 12:31] rajal2009 opened #20 "Meeting chat"
Hi,

I have been implemented your SDK now I want to implement chat feature can you please help me I describe my requirement below :

How can I integrate chat inside meeting window between connected people in a particular meeting  with amazon-chime-sdk-android SDK?

Is there any meeting chat feature available and how can I integrate it in android sdk ?

[2020-05-13 13:22] rajal2009 opened #21 "Meeting stopped automatically"
Hi,

I had implemented amazon-chime-sdk-android version 0.4.1 and when I am creating/joining meeting after few second meeting window closed automatically with below messages

Audio stopped for reason: null
Video stopped for reason: OK

**Test environment Info:**
 - Device: Mi A2
 - OS: Android 10
 - Version amazon-chime-sdk: 0.4.1
 - Version amazon-chime-sdk-media:0.4.1

**Screenshots**

![2ab7dc5

[2020-05-13 22:14] mitankit commented on #20
Right now amazon chime SDK only supports meetings with audio and video. Chat is not supported currently.
I am putting a Feature enhancement label as its a new feature.
We would love to hear more about your use case which would help us in prioritizing this feature. Could you please fill out the form [here](https://pages.awscloud.com/GLOBAL-aware-GC-Amazon-Chime-SDK-2020-reg.html) and somebody from

[2020-05-13 22:16] mitankit commented on #21
Hi,
Thanks for reporting the issue.
Does it happen on demo app or you have created your own app?
Does it happen after phone's LCD has gone off and phone entered into sleep mode?

[2020-05-13 22:17] mitankit commented on #16
Since there is no reply, so closing this issue. Feel free to reopen or create a new one if you still see the issue.

[2020-05-13 22:17] #16 closed

[2020-05-14 04:49] uday12kumar commented on #20
I am getting this error
@rajal2009  @mitankit  any help
  Process: com.amazonaws.services.chime.sdkdemo, PID: 14582
    java.net.MalformedURLException: no protocol: join?title=6237a3fe-959c-11ea-9092-c8e0eb1581b3&name=uday&region=us-east-1
        at java.net.URL.<init>(URL.java:601)
        at java.net.URL.<init>(URL.java:498)
        at java.net.URL.<init>(URL.java:447)
        at com.amazonaws.

[2020-05-14 04:52] mitankit commented on #20
@uday12kumar In future, please create a new issue for different problem.
You need to deploy a serverless demo and add the url n strings.xml. Please see the detailed instructions here. https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app

[2020-05-14 04:53] rajal2009 commented on #21
Yes, It's happens on demo app.
No, It's happens when phone's LCD has on and phone is alive not on sleep mode and it's happens in few second in between 10 to 15 seconds.

[2020-05-14 04:56] mitankit commented on #21
I have tried the demo app for 15 mins earlier with LCD on and phone not going to sleep. And the meeting remained active for whole 15 minutes. Can you paste the logs from logcat?

[2020-05-14 05:01] uday12kumar commented on #20
what should be the `meetingUrl`  I see that test url is empty in string, after creating meeting i see the following urls, which url should we user.

@mitankit
<img width="144" alt="Screenshot 2020-05-14 at 10 30 47 AM" src="https://user-images.githubusercontent.com/1519934/81894677-fb967f80-95cd-11ea-94ac-93d904372cd7.png">

[2020-05-14 05:10] mitankit commented on #20
`meetingUrl` is the one which you will get from the serverless demo. Have you followed the instructions on the link which I gave earlier and deployed the serverless demo in your aws account? Here is the link 1 more time https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app

[2020-05-14 05:13] uday12kumar commented on #20
I am not using serverless demo. I am using python boto3 to create a meeting. so I am little confused

[2020-05-14 05:28] rajal2009 commented on #21
Yes, it's happens in my device that's why I mentioned device name and version on my 1st message can you please refer that ?

and I also check on other device Mi Note 5 Pro (Version : 9) it's working fine as you said but Mi A2 (Version : Android 10) it's getting stopped

and may I know your device info and version detail in which you tested demo ?

**For more detail you can see my logcat log detail

[2020-05-14 05:39] mitankit commented on #20
Basically how it works is :
You have a server which uses aws sdk to create the meeting and attendee. Looks like you are using python boto3 (Correct me if I am wrong) on the server to create these two.

Now your server needs to expose some endpoint for the client to get meeting params which you got after creating the meeting and attendee. Here is the [sample code](https://github.com/aws/amazon-chim

[2020-05-14 05:52] mitankit commented on #21
so We normally test on various Pixels and Samsung Devices. We would have to debug it more on why it is failing on this particular device.
Can you check 1 thing? For the first few seconds when the meeting is active on this phone, are you able to exchange (both send and receive) audio?

[2020-05-14 06:37] rajal2009 commented on #21
Yes I checked but I am not able to send and receive audio on Mi A2 device

I have also connected same meeting from web and mobile with other device Mi Y2 (Version : 8.1 )

I am shared screenshot with you there is we can see that working device(Mi Y2) shown audio icon (I marked red circle on icon) when Mi A2 device doesn't shown any audio icon

**Screenshots**
![WhatsApp Image 2020-05-14 at 11 47 2

[2020-05-15 07:22] uday12kumar opened #24 "Audio not working"
**When the user tries to speak the Audio is not being transmitted**
I used the demo android app on google pixel for testing

To Reproduce
Steps to reproduce the behavior:
Create Meeting using boto3

Test environment Info (please complete the following information):

Device: Pixel2
OS: Android 10
Version amazon-chime-sdk: 0.5.0
Version amazon-chime-sdk-media: 0.4.2

[2020-05-15 18:30] hokyungh commented on #24
Would you be able to let us know following details?
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Logs**
If applicable, add logs from logcat to help explain your problem.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Test environment Info (please complete the following information):**

[2020-05-16 08:41] uday12kumar commented on #24
@hokyungh updated the issue description 👍

[2020-05-16 17:28] mitankit commented on #24
@uday12kumar We would also need the logcat logs to debug the issue.

[2020-05-16 18:35] mitankit commented on #20
@uday12kumar Just wanted to follow up if you were able to make it work with above suggestions?

[2020-05-17 08:54] uday12kumar commented on #20
I was able to make make it work when I create the meeting using boto3 It returned `MediaPlacement` urls which I passed in the meeting configuration and it worked.

[2020-05-17 08:58] uday12kumar commented on #24
Found the issue is with boto3 I have to update it  to get `audioFallbackUrl` and after that in the demo app I changed the getName method in RoosterViewFragment which is looking for delimiter to fetch the name from externalAteendeeID, well while adding attendee I am not using a delimiter.

[2020-05-17 08:58] #24 closed

[2020-05-20 12:17] caddok opened #25 "Couldn't find libc++_shared.so"
**Describe the bug**
The application crashes when I try to create a DefaultMeetingSession.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps to add Amazon Chime SDK for Android
2. Follow the guide for deploying the serverless demo here -> https://aws.amazon.com/blogs/business-productivity/building-a-meeting-application-using-the-amazon-chime-sdk/
3. Setup networking
4. Send a

[2020-05-20 17:38] hokyungh commented on #25
Thank you for reporting issue. Are you using simulator or real device? If it is simulator, as mentioned [here](https://github.com/aws/amazon-chime-sdk-android/issues/13), we currently only support ARM devices so you will need to create simulator with arm based.

[2020-05-21 07:19] caddok commented on #25
Thank you for the quick answer. Yea I've figured it out by the end of the day. I was trying to use an emulator from Android Studio. The moment I uploaded the code to my phone everything worked perfectly :).

[2020-05-21 16:28] hokyungh commented on #25
Thanks. I'll close the issue. Feel free to open it again if you have issue

[2020-05-21 16:28] #25 closed

[2020-05-22 19:14] wanghaor-amzn commented on #5
@walterg2 @AntoninaLehka @AntoninaLegkaya
Sorry for the delay. We have officially released v0.5.1 of amazon-chime-sdk.aar and v0.4.3 of amazon-chime-sdk-media.aar today, which should contain the fix for this issue.
Please try them out and let us know. Thanks!

[2020-05-25 06:31] sagarisdeveloper opened #28 "App getting crash in video mode."
**Describe the bug**
App getting crash in video mode. I not modified any code.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to App on Video screen.
2. now Other users on turn on and off there video for several times (around 30 times include all other users)
4. after the above steps you able to see an error.

**Expected behavior**
The app should not get a crash.

**Logs**
2020-05-25 11:

[2020-05-25 08:25] tutysathish opened #29 "More than two user video call feature"
amazon-chime-sdk.aar (version:0.5.0)
amazon_chime_sdk_media.aar (version:0.4.2)

I was trying to test the video call from 3 client apps (2 Browser + 1 android app), First two user's videos only shared in the RosterViewFrgament another person's video is not displayed in android application but it is working fine in web application. can you guide me to implement this feature?

[2020-05-25 20:05] hokyungh commented on #29
Sure. If you see [MAX_COUNT](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/RosterViewFragment.kt#L65), we limit it to only two currently. You can increase it to higher numbers. You might need to adjust size of video in order to [diplay properly](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/ama

[2020-05-28 17:39] cvmartins1996 opened #30 "App getting crash after a while"
![image](https://user-images.githubusercontent.com/22302846/83174118-4ea12400-a0f0-11ea-8c67-48fe3acf6e5a.png)

cellphone specs: Galaxy on7, android version 6 and 1.5 gb ram

Version amazon-chime-sdk: 0.4.1
Version amazon-chime-sdk-media: 0.4.1

The application getting always crashing, is it due to smartphone or the libs?

The same error happens when we leave a meeting

[2020-05-28 17:44] mitankit commented on #30
This crash should be fixed in the latest version
Can you try the latest version which is
Version amazon-chime-sdk: 0.5.1
Version amazon-chime-sdk-media: 0.4.3

[2020-05-28 17:59] cvmartins1996 commented on #30
Ok thanks, I'll try it out

[2020-05-28 18:34] cvmartins1996 commented on #30
OK thanks, that's work for me =D

[2020-05-28 18:34] #30 closed

[2020-05-29 14:12] vismay11 commented on #28
**Describe the bug**
App getting crash when users video comes and goes for continuously.

**To Reproduce**
Steps to reproduce the behavior:
1) Go to App on Video screen.
2) Now Other users video should come and go(Ie. Users should reconnect in the call or say 6-7 users should come in the call)
After the above steps, you will be able to see an error.

**Expected behavior**
The app should not get a

[2020-05-30 11:11] deanoj opened #31 "Unable to build project in Android Studio, compile error"
**Describe the bug**
I've cloned the project and I'm trying to build the android demo project, but I get a compile error despite following the instructions in the README. I have copied the AAR into libs as the guide says as well.

**Logs**
[code]

![Capture](https://user-images.githubusercontent.com/4322061/83326790-aa91b700-a26e-11ea-8e79-76335c90ea9b.PNG)

**Test environment Info (please complet

[2020-05-30 11:24] deanoj commented on #31
I was using 0.5.0 and 0.4.2 of the chime libs. using 0.5.1 and 0.4.3 fixed my issue.

[2020-05-30 11:24] #31 closed

[2020-06-01 20:02] #5 closed

[2020-06-02 09:47] Oblivious-Kibria commented on #7
In ChimeAndoid SDK, VideoTileState object is supposed to contain information about device screen sharing. But isContent field always remain false even if user enables screen sharing. Could you please help in this regard? Thank you.

[2020-06-02 09:48] Oblivious-Kibria commented on #7
In ChimeAndoid SDK, VideoTileState object is supposed to contain information about device screen sharing. But isContent field always remains false even if user enables screen sharing. Could you please help in this regard? Thank you.

[2020-06-02 11:32] nvamsi214 opened #32 "unable to build project with following error"
Hello,
Im trying to integrate chime in flutter by integrating android level native code.
I tried everything according to your project structure from git. But i'm not able to build app. Getting following error :

`More than one file was found with OS independent path 'lib/arm64-v8a/libc++_shared.so'`

What could be possible reason for this error? and how can i solve this?

[2020-06-02 13:51] harsh-kyatch commented on #7
In chime android sdk, if we make isContent = true also though it is showing just video only. Can anyone explain how we can enable screen share using chime android sdk?

[2020-06-02 18:26] wanghaor-amzn commented on #32
@nvamsi214  I think you should tell gradle to pick just one.

Can you try adding the following?
[code]

[2020-06-04 09:27] mr-techiee commented on #5
@wanghaor-amzn
**after i updated my android chime SDK with latest one, i'm still facing an issue when i pressed the video call button, app get into crash.
i added my log with this ticket.**

[code]
Thanks and Regards,
@mr.techiee

[2020-06-04 09:29] mr-techiee opened #33 "amazon chime video call- crash issue"
@wanghaor-amzn
**after i updated my android chime SDK with latest one, i'm still facing an issue when i pressed the video call button, app get into crash.
i added my log with this ticket.**

[code]
Thanks and Regards,
@mr.techiee

_Originally posted by @mr-techiee in https://github.com/aws/amazon-chime-sdk-android/issues/5#issuecomment-638733441_

[2020-06-04 12:45] vismay11 commented on #29
Hi, is there any solution to this or can you guys guide me on how to resolve this?

[2020-06-04 12:47] vismay11 commented on #28
Hi, is there any solution to this or can you guys guide me on how to resolve this?

[2020-06-04 17:04] tianyux-amz commented on #5
Will track @mr-techiee 's issue in #33 .

[2020-06-04 17:05] hokyungh commented on #33
Could you also provide more details based on issue template like phone you are using?

[2020-06-04 18:04] mitankit commented on #28
@vismay11 Sorry for delay in reply.
I suspect it is happening because of not releasing the DefaultVideoRenderView.
Can you confirm if you are calling
`audioVideo.unbindVideoView(tileId)`
for the video tiles which are no longer used.
For an example usage, please refer [this function](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/R

[2020-06-04 18:32] vismay11 commented on #28
@mitankit Yes, I am unbinding the view with the same method. Here is my code snippet when onVideoTileRemoved is called
`val tileId: Int = tileState.tileId
        if (videoCollectionTiles.containsKey(tileId)) {
            audioVideo.unbindVideoView(tileId)
            videoCollectionTiles.remove(tileId)
            videoTileAdapter.notifyDataSetChanged()
        }`
actually I have literally borro

[2020-06-05 05:33] mr-techiee commented on #33
Test environment Info (please complete the following information):

    Device: Moto E3 power
    OS: Android 6.0. (patch level 2018-05-05)
    Build number: XT1706_S152_190315_ROW
    Version amazon-chime-sdk: 0.4.1
    Version amazon-chime-sdk-media: 0.4.1

[2020-06-05 10:24] josechagas commented on #20
Are there any predictions for the Android SDK to have this functionality?

[2020-06-05 21:38] mitankit commented on #20
@josechagas Yes This feature is in our roadmap and we have just started working on it. I will keep updating this thread with the timelines once I have it.
On a higher level the feature would be on the lines of Chime JS SDK. Please refer this [link](https://aws.github.io/amazon-chime-sdk-js/modules/apioverview.html#9-send-and-receive-data-messages-optional).

[2020-06-06 14:39] josechagas commented on #20
Thanks for your feedback.

When you say it will not be persistent is that if some user for some reason enter on meeting after some messages this user will not see already sent messages?!

[2020-06-06 18:05] mitankit commented on #7
@harsh-kyatch Are you talking about initiating screen share from android or receiving screen share on android?
Currently chime sdk only supports receiving screen share

[2020-06-06 18:23] mitankit commented on #20
As mentioned on the link

[2020-06-08 04:26] Oblivious-Kibria commented on #7
@mitankit Now I understand. Thank you.

[2020-06-08 04:32] Oblivious-Kibria opened #36 "One to one direct video call."
Is it possible to implement one to one direct video call like Chime App with the sdk that you are providing now?

[2020-06-08 04:33] #36 closed

[2020-06-08 04:36] Oblivious-Kibria opened #37 "One to one direct video call."
Is it possible to implement one to one direct video call like Chime App with the sdk that you are providing now?

Right now it needs to create meeting then participants join that meeting using meeting id. But I want to know if it is possible to call directly without creating meeting session. Thank you.

[2020-06-08 05:06] mitankit commented on #37
1 to 1 call in chime app is also a meeting with 2 attendees. Similarly you can create a meeting with 2 attendees using SDK for implementing a 1:1 call

[2020-06-08 05:11] mitankit commented on #33
@mr-techiee We have not been able to reproduce it. Could you please try with the latest version that was released on June 5th. The versions are
Version amazon-chime-sdk: 0.5.2
Version amazon-chime-sdk-media: 0.5.0
Let us know if you still see the issue.

[2020-06-08 05:12] mitankit commented on #29
In addition we are working on the demo app to have more than 2 videos. We will update the thread once it is released.

[2020-06-08 05:30] Oblivious-Kibria commented on #37
In case of joining meeting user has to enter meeting id but in case of direct call there will be a ring to answer a call.

Is there any option to notify user about incoming call? Hopefully now I am able to make it clear.

[2020-06-08 07:49] William-ST opened #38 "VideoTileObserver methods aren't invoked"
**Describe the bug**
after implement last version (0.5.2 and media 0.5.0) the VideoTileObserver methods aren't invoked when other attendee share video (it work with version 0.4.1 with out problems)

**Expected behavior**
onVideoTileAdded and onVideoTileRemoved are called

**Logs**
<img width="1415" alt="Screen Shot 2020-06-08 at 02 26 51" src="https://user-images.githubusercontent.com/6515038/8400

[2020-06-08 12:02] mr-techiee commented on #33
@mitankit Thank you for your response!
**Still am facing the same issue, when i'm trying click video enable button its getting crashed,**

`    --------- beginning of crash
06-08 17:21:11.112 7527-7853/? E/AndroidRuntime: FATAL EXCEPTION: VideoClientCapturerThread
    Process: com.example.telemedicine_demo, PID: 7527
    java.lang.NoSuchMethodError: No static method create(Lorg/amazon/chime/webrtc

[2020-06-09 17:03] William-ST commented on #38
I have found the error, when initializing the objects for the library, I was sending wrong there was a crossing between signalingUrl and turnControlUrl.

[2020-06-09 17:03] #38 closed

[2020-06-09 20:22] William-ST opened #39 "notify when video call ends immediately"
**Describe the bug**
when videocall ends the onVideoSessionStopped method isn't send videocall_ended (6) status instead sent AudioDisconnected after 15 seconds approximately.

**To Reproduce**
ended videocall

**Expected behavior**
receive videocall_ended status  in onVideoSessionStopped method (similar to the js library)

**Logs**
2020-06-09 15:13:46.431 12543-12543/com.amazonaws.services.chime.s

[2020-06-09 23:30] rllevin-aws opened #40 "Swapping a video tile into a RecyclerView with notifyItemChanged does not render the new video stream."
**Describe the bug**
I have a RecylcerView in my application that displays 4 video tiles. When there are more than 4 participants in the meeting with video, the excess tiles are hidden from view. When one of those hidden video participants speaks, I am trying to swap one of the displayed tiles out and replace it with this new tile.
This works fine if I swap the tiles in the underlying collection t

[2020-06-10 00:11] hokyungh commented on #40
I think it might be the issue with recyclerView not picking up the change somehow. Could you try [notifyItemRemoved](https://developer.android.com/reference/androidx/recyclerview/widget/RecyclerView.Adapter#notifyItemRemoved(int)) and then [notifyItemInserted](https://developer.android.com/reference/androidx/recyclerview/widget/RecyclerView.Adapter#notifyItemInserted(int)) and see if recyclerView

[2020-06-10 00:44] rllevin-aws commented on #40
Unfortunately I see the same behavior in my app with that approach; still seeing the last frame of the previously shown video.

[2020-06-10 05:02] hokyungh commented on #33
@mr-techiee Do you have other devices for testing by any chance?
Closet devices we have were
Moto E (2nd Generation)
OS: Android 6.0

Motorola Moto G (2nd Generation)
OS: Android 6.0

We were not able to reproduce the crash.

[2020-06-10 05:46] haifengx commented on #39
Do you mean `AudioCallEnded` status which should be coming from `onAudioSessionStopped`?

[2020-06-10 06:11] William-ST commented on #39
Yes, Or how can I find out that the video call has ended on android
 

[2020-06-10 06:21] haifengx commented on #39
Can you try watching `onAudioSessionStopped` for `AudioCallEnded` event instead?

Similar to [**Use case 26** in JS SDK](https://github.com/aws/amazon-chime-sdk-js#stopping-a-session):
[code]

[2020-06-11 17:19] rllevin-aws commented on #40
I discovered that the reason notifyItemChanged wasn't working was due to this line:
https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/VideoCollectionTileAdapter.kt#L56
Removing it (allowing isRecyclable to be _true_) caused notifyItemChanged to start working. However, I also discovered that this would periodically (maybe 1/5 times) c

[2020-06-11 17:51] haifengx commented on #37
To start the call directly, builder can let their app **programmatically** "enter" the meeting id for user, instead of displaying UIs for user to explicitly enter the meeting id.

Regarding options to notify user about incoming call, builder can have their service to listen to [EventBridge notifications](https://docs.aws.amazon.com/chime/latest/dg/mtgs-sdk-notifications.html), and send push notifi

[2020-06-15 12:39] Praroop149 opened #42 "This version of the Android Support plugin for IntelliJ IDEA (or Android Studio) cannot open this project, please retry with version 4.2 or newer."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
If applicable, add logs from logcat to help explain your problem.

**Screenshots**
If applicable, add scree

[2020-06-15 13:19] Praroop149 opened #43 "Gradle DSL method not found: 'implementation()' Possible causes: The project 'amazon-chime-sdk-android' may be using a version of Gradle that does not contain the method. Open Gradle wrapper file The build file may be missing a Gradle plugin. Apply Gradle plugin"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
If applicable, add logs from logcat to help explain your problem.

**Screenshots**
If applicable, add scree

[2020-06-15 20:32] hokyungh commented on #43
Hi could you let us know your gradle version and Android studio version?
implementation() is supported gradle 3.4+.

[2020-06-16 04:13] Praroop149 commented on #43
def multidex_version = "2.0.1"
        implementation "androidx.multidex:multidex:$multidex_version"
        classpath 'com.android.tools.build:gradle:4.2.0-alpha01'
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
        classpath 'com.github.dcendents:android-maven-gradle-plugin:1.3'
        classpath("org.jlleitschuh.gradle:ktlint-gradle:9.1.1")
        classpath "

[2020-06-16 04:16] Praroop149 commented on #43
Gradle DSL method not found: 'implementation()'
Possible causes:
The project 'amazon-chime-sdk-android' may be using a version of Gradle that does not contain the method.
Open Gradle wrapper file

The build file may be missing a Gradle plugin.
Apply Gradle plugin

 ****this is Error****

[2020-06-16 04:37] Praroop149 opened #44 "No signature of method: build_9w1f9g667qvbpe1swf3gmg0vn.android() is applicable for argument types: (build_9w1f9g667qvbpe1swf3gmg0vn$_run_closure2) values: [build_9w1f9g667qvbpe1swf3gmg0vn$_run_closure2@798e6112] Open File"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
If applicable, add logs from logcat to help explain your problem.

**Screenshots**
If applicable, add scree

[2020-06-16 05:17] Praroop149 opened #45 "Gradle DSL method not found: 'implementation()' Possible causes: The project 'amazon-chime-sdk-android' may be using a version of Gradle that does not contain the method."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
If applicable, add logs from logcat to help explain your problem.

**Screenshots**
If applicable, add scree

[2020-06-16 10:06] Praroop149 opened #46 "Demo Not Run"
Describe the bug
Demo Code is Not Running

To Reproduce
**Could not find :amazon-chime-sdk:.
Required by:
    project :app
Search in build.gradle files**

Expected behavior
Run demo code

Logs
Could not find :amazon-chime-sdk-media:.
Required by:
    project :amazon-chime-sdk
Search in build.gradle files

Gradel Version
        **classpath 'com.android.tools.build:gradle:4.1.0-alpha10'
        cla

[2020-06-16 16:48] haifengx commented on #46
Can you follow the README to download required lib file and copy it to the specified folder?: https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app

[2020-06-16 16:51] haifengx commented on #44
The title of the issue is not helpful. Please provide detailed description of the bug, and all other information required by the template, so that we can help you looking into the issue. Closing.

[2020-06-16 16:51] #44 closed

[2020-06-16 17:02] haifengx commented on #42
Can you try upgrading to a newer version of your IDE as the error suggested?

[2020-06-16 17:09] haifengx commented on #45
Closing this one in favor of this issue: https://github.com/aws/amazon-chime-sdk-android/issues/43

[2020-06-16 17:09] #45 closed

[2020-06-16 17:13] haifengx commented on #43
Can you provide the Gradle version of your project? You can find that in the build.gradle file. As the error message suggests, it requires a newer version of gradle to use 'implementation()' method.

[2020-06-18 04:20] Praroop149 commented on #46
yes  i m following all step

[2020-06-18 04:23] Praroop149 commented on #43
dependencies {
        classpath 'com.android.tools.build:gradle:4.0.0'
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
        classpath "io.gitlab.arturbosch.detekt:detekt-gradle-plugin:1.3.1"
        classpath("org.jlleitschuh.gradle:ktlint-gradle:9.1.1")
        classpath "org.jetbrains.dokka:dokka-gradle-plugin:${dokka_version}"
        classpath 'com.github.jeng

[2020-06-18 04:31] Praroop149 commented on #42
yes i am already update IDE version 4.0 but error is Failed to resolve: :amazon-chime-sdk-media:

[2020-06-18 04:36] Praroop149 commented on #43
And gradel version
distributionUrl=https\://services.gradle.org/distributions/gradle-6.1.1-all.zip

[2020-06-18 07:15] Praroop149 commented on #46
private fun populateDeviceList(freshAudioDeviceList: List<MediaDevice>) { audioDevices.clear()audioDevices.addAll(freshAudioDeviceList.filter { it.type != MediaDeviceType.OTHER }.sortedBy { it.order })
        adapter.notifyDataSetChanged()
        if (audioDevices.isNotEmpty()) {
            audioVideo.chooseAudioDevice(audioDevices[0])
        }
    }

this function audioDevices not working

[2020-06-18 08:56] Oblivious-Kibria opened #47 "AudioClientPresenceListener"
amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/internal/audio/AudioClientObserver.kt

Unresolved reference: AudioClientPresenceListener
Unresolved reference: AudioClientPresenceListener

[2020-06-18 08:59] mohanjicbe opened #48 "Demo app crashed while Submiting the Meeting id and Meeting Name.."
2020-06-18 14:24:16.697 15373-15373/com.amazonaws.services.chime.sdkdemo I/MeetingHomeActivity: Joining meeting. meetingUrl: xxxxxxxxxxxxxxxxxxxxxxx/Prod, meetingId: svdg, attendeeName: sgsgsv
2020-06-18 14:24:16.708 15373-15519/com.amazonaws.services.chime.sdkdemo I/System.out: serverUrl-----------https://xxxxxxxxxxxxxxxxxxxxxxx/Prod/join?title=svdg&name=sgsgsv&region=us-east-1
2020-06-18 14:24:1

[2020-06-18 17:49] hokyungh commented on #47
Could you let us know what version of SDK and media library you are using?
Latest we publish was
amazon-chime-sdk-0.5.2.tar.gz
amazon-chime-sdk-media-0.5.0.tar.gz
Would you be able to use this and see if you still experience same error?

[2020-06-18 17:52] Oblivious-Kibria commented on #47
It was amazon-chime-sdk version 0.5.2.

[2020-06-18 17:53] hokyungh commented on #47
Could you download amazon-chime-sdk-media-0.5.0.tar.gz once more and test it?

[2020-06-18 17:55] Oblivious-Kibria commented on #47
Ok I am checking and will let you know.

[2020-06-18 17:55] hokyungh commented on #48
Would you be able to provide more details based on issue template?

Test environment Info (please complete the following information):

Device: [e.g. Pixel3] (if it is simulator please mention it as well)
OS: [e.g. Android 10]
Version amazon-chime-sdk: [e.g. 0.4.0]
Version amazon-chime-sdk-media: [e.g. 0.4.0]

How much is this reproducible? 10/10 5/10 1/10?

[2020-06-18 18:08] hokyungh commented on #42
Will close this since this is no longer issue.

[2020-06-18 18:08] #42 closed

[2020-06-19 05:02] Praroop149 commented on #47
done

[2020-06-19 05:05] Praroop149 commented on #46
Close

[2020-06-19 05:44] Praroop149 opened #49 "Which Url Pass in meeting Url"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
If applicable, add logs from logcat to help explain your problem.

**Screenshots**
If applicable, add scree

[2020-06-19 07:07] Praroop149 commented on #49
java.net.MalformedURLException: no protocol: join?title=92e039cd-ecc4-47ff-a2fd-e4dfbedf5d8&name=bj&region=ap-southeast-1
        at java.net.URL.<init>(URL.java:601)
        at java.net.URL.<init>(URL.java:498)
        at java.net.URL.<init>(URL.java:447)
        at com.amazonaws.services.chime.sdkdemo.MeetingHomeActivity$joinMeeting$2.invokeSuspend(MeetingHomeActivity.kt:155)

[2020-06-19 07:15] Praroop149 commented on #28
Which url pass in meeting Url @vismay11 @vidya-mohan  whence i fill meeting id and attendee name app been creashed plz suggest

[2020-06-19 08:39] mohanjicbe commented on #48
I have downloaded latest Github SDK project in this site code tab, and i change server url only. and i run the project.. After it is loaded, it asks Meeting ID & name. I gave and pressed continue button, It is crashed.. error log given above. I checked with various type of mobiles.. Please healp to fix this issue..

Android device Version : Oreo 8.1.0
Device : Xiaomi Redmi 5

amazon-chime-sdk-0.5.

[2020-06-19 18:38] hokyungh commented on #49
Hi you'll first need to deploy serverless demo. You can follow instruction on [running demo app](https://github.com/aws/amazon-chime-sdk-android#1-deploy-serverless-demo)

[2020-06-19 18:53] hokyungh commented on #48
Would you be able to let me know if you only followed
https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app?

If possible, would you also be able to paste `build.gradle` in app folder

[2020-06-21 00:36] cvmartins1996 opened #50 "Doesn't works create meeting when deployed apk"
a lib does not work when deploying to the playstore.
Before that we were having some problems with libs in C ++ (shared.so c ++), is this correlated?

Thank you
![image](https://user-images.githubusercontent.com/22302846/85214181-44182a00-b33e-11ea-8540-cab342f60bf8.png)
![image](https://user-images.githubusercontent.com/22302846/85214184-5003ec00-b33e-11ea-9cc5-68f8e1c9b4c4.png)

More info:

Unab

[2020-06-22 06:24] rohit0337 commented on #49
hello
we are not using server less demo , i created a meeting on my domain and i want a user can also join that meeting from our android app, at my server  i am getting a response like
"Meeting": {
        "MeetingId": "92e039cd-ecc4-47ff-a2fd-e4dfbedf5d84",
        "ExternalMeetingId": "test-mmet",
        "MediaPlacement": {
          "AudioHostUrl": "1f7451fa8a44b1aff49d2f0db4f2b857.k.m2.as1.ap

[2020-06-22 12:14] okm-mohan commented on #48
apply plugin: 'com.android.application'

apply plugin: 'kotlin-android'

apply plugin: 'kotlin-android-extensions'

android {
    compileSdkVersion project.ext.chimeCompileSdkVersion
    buildToolsVersion project.ext.chimeBuildToolsVersion
    defaultConfig {
        applicationId "com.amazonaws.services.chime.sdkdemo"
        minSdkVersion project.ext.chimeMinSdkVersion
        targetSdkVersion p

[2020-06-22 12:22] icliniq-smart-doctor commented on #48
Serverless demo and IOS both works perfectly. But Android only crashing.. Mohan am i correct?

[2020-06-22 17:10] cvmartins1996 opened #51 "After closing the meeting room, it remains open for a few seconds, transmitting audio."
After closing the meeting room, it remains open for a few seconds, transmitting audio.

This is our code:
![image](https://user-images.githubusercontent.com/22302846/85315704-e8f74c00-b491-11ea-9883-2d41e17a3d33.png)

There's something wrong?

version media : 0.4.3
version sdk: 0.5.1

thanks

[2020-06-22 17:10] #50 closed

[2020-06-22 20:09] hokyungh commented on #49
Oh so if you have server like that you can use your server url.
Our app expects one API -> /join?title=<meeting-id>&name=<name>&region=<region>
See [example](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/MeetingHomeActivity.kt#L164) for actual url.

1. You can change API of example to match your server API (the server that return

[2020-06-23 20:53] dchen-aws opened #52 "Maven support"
**Is your feature request related to a problem? Please describe.**
To be able to use dependency management such as Maven for integration.

[2020-06-25 19:41] linsang21 commented on #29
We have updated the demo app to support 4 video tiles by default: https://github.com/aws/amazon-chime-sdk-android/commit/b01e7d69f4f78b24b9a500fa29a8945b2c6676d6
You're welcome to increase further by assigning MAX_TILE_COUNT.

[2020-06-25 19:41] #29 closed

[2020-06-27 05:22] okm-mohan commented on #48
We are waiting for Solution.. How to Fix this issue.. I have pasted build.gradle text too..

[2020-06-29 16:46] hokyungh commented on #48
@okm-mohan and @icliniq-smart-doctor sorry for late reply.

Would you be able to remove
[code]

[2020-06-29 17:24] hokyungh commented on #47
@Oblivious-Kibria is this fixed?

[2020-06-30 08:44] NataliiaZarudna opened #57 "When two people trying to speak at the same time, only one can be heard"
**Describe the bug**
Hello.

We've noticed that there is some feature that allows only one active speaker during call.

**To Reproduce**
**TC 1**:
1. Start a call between A and B
2. A speaks
3. B starts to speak at the same time.

ER. A cannot hear first several words from B
AR. A can hear B from the very beginning of his speach.

**TC 2**:
1. Start a call between users A and B
2. A and B speak si

[2020-06-30 09:12] NataliiaZarudna commented on #57
Checked on Version amazon-chime-sdk: 0.5.3 - all the same.

[2020-06-30 12:14] avrum opened #58 "Unable to set minimum resolution for streaming"
I want to set the camera minimum resolution for streaming 640*480
Is there any option to do so? I haven't found any camera setting.
I know that the steam is changing:  FPS / Video Resolution / Video bitrate  according to the internet speed, but can I set a fixed or minimum resolution so tat the internet speed will only affect FPS/Bitrate?

[2020-06-30 12:35] avrum opened #59 "Option to save the streamed video to a local file"
**Is your feature request related to a problem? Please describe.**
I would like to have an option to save also the streamed video (camera stream) to a local file

**Describe the solution you'd like**
I would like to gain access to camera recorder API so I'll have a local copy of the camera stream

**Describe alternatives you've considered**
Extract the relevant Camera related API's from the new SD

[2020-06-30 23:57] hokyungh commented on #51
@cvmartins1996 Thank you for reporting issue

When you say it remains open for few seconds, audioVideo.stop() takes a while or even after audioVideo.stop() is called, you were able to transmit audio?

[2020-07-01 05:59] Oblivious-Kibria commented on #47
@hokyungh Yes done. Thanks.

[2020-07-01 06:24] #47 closed

[2020-07-01 06:25] Oblivious-Kibria opened #60 "Mute Unmute Audio/Video for All Attendees"
Hello!

1. Is it possible to mute audio and video for all attendees at a time?

2. Does the sdk provide any way to end the meeting for all?

[2020-07-01 14:00] cvmartins1996 commented on #51
audioVideo.stop() take a while to shut, I can still hear other attendee after leaving the room.

[2020-07-01 14:01] cvmartins1996 commented on #51
Did I do something wrong?

[2020-07-01 23:54] hokyungh commented on #51
@cvmartins1996 I don't think you did something wrong. `audioVideo.stop()` runs in different thread, so if it takes time to finish it and UI changes beforehand, this seems to be possible. What device do you use?

Additionally, `audioVideo.stop` will call `onAudioSessionStopped`. Would you be able to put closing meeting room logic in there and see if it improves UX wise?

[2020-07-02 12:38] cvmartins1996 commented on #51
Thanks for you answer =D

We have a closing meeting room logic onAudioSessionStopped, indeed =D

Well, my device is:
Galaxy on7
Android 6.0

The delay happens because the phone is old, then?

[2020-07-05 09:02] Oblivious-Kibria commented on #33
I have also faced this issue.

 java.lang.NoSuchMethodError: No static method create(Lorg/amazon/chime/webrtc/EglBase$Context;[I)Lorg/amazon/chime/webrtc/EglBase; in class Lorg/amazon/chime/webrtc/EglBase; or its super classes (declaration of 'org.amazon.chime.webrtc.EglBase' appears in /data/app/com.banglatrac.workopolo-1/split_virtualmeeting.apk)

Testing on :
Huawei CUN-U29
Android Version - 5.

[2020-07-06 18:17] hokyungh commented on #46
Closing in favor of author

[2020-07-06 18:17] #46 closed

[2020-07-06 18:18] hokyungh commented on #48
@icliniq-smart-doctor and @okm-mohan does it fix issue?

[2020-07-06 18:35] hokyungh commented on #51
@cvmartins1996. This sounds like a bug, so just to confirm even after onAudioSessionStopped is called, you are still able to transmit or receive audio right?

[2020-07-07 02:07] maplefeng-cn opened #61 "Some questions about the video streaming"
1. When starting the local video, what are the default settings of the video streaming, e.g. resolution, bitrate, etc, since we can't set them in SDK directly?
2. Can we get the resolution of remote user's video in SDK?
3. When rendering the video in `DefaultVideoRenderView `, seems the SDK will enlarge/reduce and crop the video according to the given width/height? What is the basic rule of this?

[2020-07-07 15:20] toffclc opened #62 "Native library crash on join and get mute status"
**Describe the bug**
Native library crash on trying to mute user's mic and get mic status
Note: we did not enable the video function, only audio channel is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Join meeting and mute local user's mic
2. See error

**Logs**
[code]

**Test environment Info (please complete the following information):**
 - Device: Vivo s1 Pro
 - OS: Android 9

[2020-07-07 23:20] hokyungh commented on #57
@NataliiaZarudna sorry for late reply. We don't have feature for one active speaker, so it might be a bug. Do you also see this issue in different device?

Also to clarify for 4 attendees scenario you mentions, when there is A, B, C, D and all speaking, you can only hear only one of them right?

[2020-07-07 23:21] hokyungh commented on #43
@Praroop149 could you confirm that this issue is fixed after updating android studio?

[2020-07-07 23:25] hokyungh commented on #58
We currently don't support custom resolution on video.
Let me put feature enhancement label as its a new feature.
We would love to hear more about your use case which would help us in prioritizing this feature. Could you please fill out the form [here](https://pages.awscloud.com/GLOBAL-aware-GC-Amazon-Chime-SDK-2020-reg.html) and somebody from our team would contact you. In the form there is a fie

[2020-07-08 06:01] NataliiaZarudna commented on #57
yeah, there's one other speaker I can hear if 3 others are talking or I cannot hear anyone else if I'm talking.
We've checked on Pixel 2 (A10), Samsung Galaxy Tab A SM-T510 (A9), OnePlus 6 (A10), Xiaomi Redmi Note 7 (A9) - all had this issue.

[2020-07-08 14:41] cvmartins1996 commented on #51
Yes, I'm able to receive audio.

Correct =D

[2020-07-09 12:00] mr-techiee commented on #33
i resolved the issue when i downgrading the android gradle  version to 3.4.1,

`classpath 'com.android.tools.build:gradle:3.4.1'`

i think this should be temporary solutions, you guys are look into sort this issue in future.

[2020-07-09 23:52] hokyungh commented on #61
1. I think default is 720p, 15 frames/s, and 450~1800 kps. This could change based on network.
2. This is currently unsupported. We are working to expose more video
Let me put feature enhancement label as its a new feature.
We would love to hear more about your use case which would help us in prioritizing this feature. Could you please fill out the form [here](https://pages.awscloud.com/GLOBAL-awa

[2020-07-10 07:43] maplefeng-cn commented on #61
hello @hokyungh

Thank you for your reply. Please kindly see further questions below.

About 1, is the ratio 16:9 or 4:3? And will the ratio be different for portrait and landscape?
About 2, ok have submitted the form.
About 3, could you help advise more about the mechanism, how will we handle the video rendering with them? And is there a schedule for this feature already?

Thanks and Regards

[2020-07-10 15:52] mitankit commented on #32
@nvamsi214 Any updates on the issue? Did above mentioned solution work for you?

[2020-07-10 18:03] Oblivious-Kibria commented on #33
Downgrading the gradle version can be a temporary solution. But currently we are using gradle version 6.1.1.

[2020-07-10 19:21] hokyungh commented on #62
Thank you for reporting issue @toffclc .

Would you be able to try with
Version amazon-chime-sdk: 0.5.3
Version amazon-chime-sdk-media: 0.5.1
and see if you still can reproduce the issue?

[2020-07-10 19:41] CSLLCUser opened #63 "Cannot resolve com.amazonaws.services.chime.sdk.meetings.session.URLRewriter"
**Describe the bug**
`import com.amazonaws.services.chime.sdk.meetings.session.URLRewriter` throws compiler error: `Cannot resolve symbol 'URLRewriter'`

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to import: `com.amazonaws.services.chime.sdk.meetings.session.URLRewriter`

**Expected behavior**
Expect this import to be resolved.  Other imports resolve without issue.  For example:

[2020-07-10 20:12] hokyungh commented on #63
Could you be able to provide us with versions of
amazon-chime-sdk.aar
amazon-chime-sdk-media.aar?

[2020-07-10 20:19] CSLLCUser commented on #63
amazon-chime-sdk.aar (v0.5.3)
amazon-chime-sdk-media.aar (v0.5.1)

[2020-07-10 20:25] hokyungh commented on #60
Let me put feature enhancement label as its a new feature.
1. We currently don't support remote mute. For now, you could properly implement custom signal and when one gets mute signal from server call `realtimeLocalMute()`
2. Unfortunately, this is still not implemented yet. A workaround for now would be another custom signal.

We would love to hear more about your use case which would help us in

[2020-07-10 20:45] hokyungh commented on #63
Could you try File -> Invalidate Cache and Restart or Sync Project with Gradle files?
If not would you be able to provide us your
Android Studio Version
Gradle Version
build.gradle for app and root?

[2020-07-10 20:52] CSLLCUser commented on #63
Android Studio 4.0
Build #AI-193.6911.18.40.6514223, built on May 20, 2020
Runtime version: 1.8.0_242-release-1644-b3-6222593 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.15.5
GC: ParNew, ConcurrentMarkSweep
Memory: 1237M
Cores: 8
Registry: ide.new.welcome.screen.force=true
Non-Bundled Plugins:

Gradle version 6.1.1
Android Gradle Plugin version 4.0.0

[2020-07-10 22:05] hokyungh commented on #63
Thank you for reporting bug. Looks like Java cannot handle [typealias](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/session/URLRewriter.kt#L14)

We'll try to fix this issue

[2020-07-10 22:07] bizready opened #64 "App crasher before starting the meeting session - java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList"
**Describe the bug**
I tried to run the Android demo  code using my Mac Pro with Android Studio 3.6 and App crashes soon after getting a meeting resources.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the code using Android Studio
2. Picked Pixel 2 API as default
3. App loaded successfully. Entered Meeting ID, name and clicked CONTINUE
4. App crashed and see the log below.

**Expected

[2020-07-10 23:52] hokyungh commented on #63
@CSLLCUser could you try this?
In your build.gralde (root)
[code]

In your build.gradle in app
`
implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk7:$kotlin_version"
`

Instead of importing URLRewriter
[code]

[2020-07-11 05:33] hokyungh commented on #64
Could you check section on [NOTE](https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app) to see if your emulator is x86?

[2020-07-11 13:39] belike-priyesh commented on #32
putting
android {
    packagingOptions {
        pickFirst '**/*.so'
    }
}
resolved the issue for me

[2020-07-11 17:19] bizready commented on #64
Thanks @hokyungh. I changed the device to ARM and after several build attempts, I was able to start the video. Looks like the video shows a chessboard kind of visual not user image/display. Is it because of the emulator setup?

[2020-07-13 03:46] hokyungh commented on #64
@bizready Have you set Camera when you were setting up emulator? There should be advance setting and set front/back camera to webcam

[2020-07-13 04:20] Oblivious-Kibria commented on #60
@hokyungh I have submitted the form that you asked for.

Can you briefly tell about the workaround using custom signal.

[2020-07-13 05:30] Praroop149 opened #65 "Screen Sharing features And Chat Features in Androd App"
How To Share Mobile Screen in Mobile Sdk and How to chat features enabled in mobile App

[2020-07-13 09:18] alpha-centauri9 opened #66 "Mirror Image in ViewTile"
DefaultVideoRenderView is showing mirror image or horizontally flipped video. Is there any option to set camera mirroring?

[2020-07-13 16:20] CSLLCUser commented on #63
That resolves the import issue, but additionally requires:

   `buildscript {
         ext.kotlin_coroutinesVersion = "1.2.1"
   }`

and

   `dependencies {
        implementation "org.jetbrains.kotlinx:kotlinx-coroutines-core:$kotlin_coroutinesVersion"
        implementation "org.jetbrains.kotlinx:kotlinx-coroutines-android:$kotlin_coroutinesVersion"
   }`

to prevent runtime error:
   `java.lang

[2020-07-14 01:09] wanghaor-amzn commented on #66
@alpha-centauri9 Since `DefaultVideoRenderView` [extends](https://github.com/aws/amazon-chime-sdk-android/blob/59efe57481969ed8e8eb4f02f6217fd8e85679aa/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/DefaultVideoRenderView.kt#L14) `SurfaceViewRenderer`, you can call [setMute()](https://chromium.googlesource.com/external/webrtc/trunk/talk/+/cdd35e557b600d1f

[2020-07-14 04:54] avalon3xyz opened #67 "Phone's default camera app video capture doesn't work."
I am facing a problem after implementing this sdk.

Android phone's default video recorder button becomes disable when video call starts. Even when video call ends, default camera app's video recorder button remains still disable.

When I close the app forcibly or uninstall then video recorder button becomes active again.

I would like to mention that after video call ends I am stopping audioVideo

[2020-07-14 10:41] alpha-centauri9 opened #68 "Video calling crash on Android 21(Lollipop) version."
Bug Description:
I am implementing chime SDK in a dynamic feature module. When generating universal APK for all device then the APK encounters the following error. Again, if I run the app on a device of APIlevel 21, then same error happens. I have seen the same bug in previous issues. But unfortunately that issue was closed without giving any solution.

**To Reproduce**
Steps to reproduce the beha

[2020-07-14 14:01] schonfeld opened #69 "Audio Lag"
We've been experiencing a significant audio lag in our Android Chime implementation, around 1s. This only applies to audio, not video. Video is clear & does not suffer from latency. This also does not happen on iOS. We've noticed a few interesting log statements that may be relevant:

[code]

Has anyone else noticed this? Any solutions/recommendations?

[2020-07-14 17:22] joelvlt opened #70 "Setting background attribute to DefaultVideoRenderView prevents frame rendering"
If `background` attribute for DefaultVideoRenderView is set to any drawable, no fame is rendered even if session is properly established.

Once `background` attribute is removed, everything works fine.

[2020-07-14 22:54] hokyungh commented on #60
So one thing I can think of is have another websocket(or some subscription way) from your server from mobile when meeting started. If you call some rest api like /muteAll, the websocket will send signal to each mobile. Any mobile devices that is subscribe to the server will be notified and you can call localMute when notified.

[2020-07-14 23:13] hokyungh commented on #61
Sorry for late reply.
1. It is based on camera capture for Android (so if camera capture 16:9, it is going to be 16:9) but mostly it is going to be 16 : 9. Same for portrait and landscape. For iOS, it is set as 16:9.
3. We'll probably release it in the next release, so probably in a week or two.

[2020-07-14 23:16] hokyungh commented on #68
Would you be able to let us know your build.gradle files?

[2020-07-14 23:23] hokyungh commented on #68
For a workaround, could you try use gradle 3.6.3?

[2020-07-14 23:28] hokyungh commented on #33
@Oblivious-Kibria and @mr-techiee could you try 'com.android.tools.build:gradle:3.6.3' (something more than > 3.6) and see if it works?

[2020-07-14 23:46] mitankit commented on #33
If you are using gradle version 6.1.1 can you try using AGP 4.0.*. The SDK should work with any AGP >=3.6.3

[2020-07-15 19:26] linsang21 commented on #70
Could you explain what was the expected result you wanted to achieve by adding background to DefaultVideoRenderView?
If you'd like to add background around video tiles, do you consider wrapping DefaultVideoRenderView with a parent view and set background to it?

Also it'd be great if you can fill in the template of issue, which contains more information so that we can provide better help.

[2020-07-15 22:02] linsang21 commented on #69
Hi, thanks for reaching out. Would you fill in the template with more information that is going to help us better investigate?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected

[2020-07-15 22:21] linsang21 commented on #67
Hi, thanks for contacting us.
Would you provide more related information by filling the following template?
We're also interested in what device you are using, and knowing more about the **default recorder button**(is it specific to certain brand/model).

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Cl

[2020-07-15 22:28] linsang21 commented on #65
Hello, thanks for submitting the request.
Share screen request is duplicate with https://github.com/aws/amazon-chime-sdk-android/issues/7, please track that as the master issue.
For chat feature, we're actively working on it. Stay tuned : )
Will close the issue at the moment, let me know if there's more question.

[2020-07-15 22:28] #65 closed

[2020-07-15 23:22] linsang21 commented on #63
We're working support defaulting to UrlRewriter (no modification on url) from Java. Will update this thread when it's available.

[2020-07-16 05:34] avalon3xyz commented on #67
**Bug Description**

Android phone's default video recorder button becomes disable when video call starts. Even when video call ends, default camera app's video recorder button remains still disable.
When I close the app forcibly or uninstall then video recorder button becomes active again.

T**o Reproduce**
Steps to reproduce the behavior:

Go to 'Video call screen'
Click on 'Start a video call t

[2020-07-16 09:20] Praroop149 opened #71 "Enable text Chat Features in mobile"

[2020-07-16 15:51] #32 closed

[2020-07-16 15:52] mitankit commented on #48
Since there is no response from the user, we are closing this issue. Feel free to reopen if you still see the issue.

[2020-07-16 15:52] #48 closed

[2020-07-16 22:18] #66 closed

[2020-07-16 22:39] linsang21 commented on #71
Thanks for the post. This is duplicate with https://github.com/aws/amazon-chime-sdk-android/issues/20, please track that as master issue.

[2020-07-16 22:39] #71 closed

[2020-07-16 22:59] linsang21 commented on #67
Was not able to reproduce locally.
In the description,

Does that mean in API level, you call audioVideo.start() -> audioVideo.startLocalVideo() -> audioVideo.stop(). After you received the notification of video client is stopped, you still can't record video?

[2020-07-16 23:40] hokyungh commented on #62
We were not able to reproduce this issue. Closest device we have is Vivo V9 (Android 9), but still unable to reproduce. Were you able to reproduce this issue with that device consistently?

[2020-07-17 15:24] CSLLCUser opened #72 "java.net.SocketException: java.lang.IllegalStateException: No factory found"
Using the stock Android demo project, modify res/strings/resource/

`<string name="test_url">this points to a serverless demo as per the instructions</string>`

add signature to gradle build, compile and deploy to a device.

Should be able to connect to the serverless demo instance running and working.  Confirmed by creating a meeting in two browser sessions.

**Error**

`2020-07-17 10:10:48.149 4

[2020-07-17 18:58] hokyungh commented on #72
Unfortunately we do not have `Acer Iconia Tab One 10 B`.
Would you be able to provide more details on following?

1. Are you able to reproduce for any other phone?
2. What is your java version? `java -version`?
3. Is url you provided something like `https://<some-url>.com/Prod/`?
4. Was there any change on `build.gradle`?

[2020-07-17 19:43] CSLLCUser commented on #72
1. Occurs on all devices installed including but not limited to Nexus 5x, Pixel...
2. openjdk version "1.8.0_252"
3. Yes, it's a serverless demo deployed (https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless) and verified
4. Changes to build gradle:

[code]

[code]

[code]

[2020-07-17 23:25] hokyungh commented on #72
Could you install extra oracle java and point Android Studio to new JDK and see if it works?

[2020-07-18 05:20] Oblivious-Kibria commented on #33
@mitankit Thanks a lot. After upgrading the gradle version it's working fine.

[2020-07-18 05:48] avalon3xyz commented on #67
@linsang21 Yes you are right. After calling audioVideo.stop(), if I open my camera app and try to capture video then the button remains disables.

But if I stop my video calling app forcibly then the camera app's video capture button works fine.

What I guess is may be audioVideoFacade still holds any reference even after finishing the video call.

[2020-07-20 06:56] hokyungh commented on #33
Will close this issue as this is resolved with new gradle version.

[2020-07-20 06:56] #33 closed

[2020-07-20 08:08] NataliiaZarudna commented on #57
@hokyungh hello, do you have any updates for the issue? thanks.

[2020-07-20 13:26] CSLLCUser commented on #72
Using Oracle Java I encounter the same error:

[code]

[2020-07-20 17:53] hokyungh commented on #57
@NataliiaZarudna really sorry for late reply.

Would you be able to remove if statement in [media logging](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/internal/audio/DefaultAudioClientObserver.kt#L208)

instead of
[code]

you will have
[code]
and give us logs?

Additionally, would you be able to let us know [M

[2020-07-20 19:06] hokyungh commented on #72
Could you confirm some of following questions?
1. Could you check if you can reproduce this in demo application from clean state? For instance, clone the whole repo, open it in Android Studio and follow only [Running demo app](https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app) step and run it on real device?
2. Could you paste your whole build.gradle file?
3. What is your OS & v

[2020-07-20 19:24] cmpeguerog opened #74 "EglRenderer still alive after onBackPressed event."
**EglRenderer** classs still alive after user navigate back to **Join a meeting** screen. Log statistics is not removed and Handler still posting updates every 4s.

[code]

Device: KYOCERA
OS: API 23
Chime version: 0.5.3.

[2020-07-20 19:36] CSLLCUser commented on #72
This is from cloned demo repo.

**gradle build**
[code]

Android 7.1
Device has no known network issues.  Can browse web and see endpoint.  It just fails to open a socket.

[2020-07-20 19:51] hokyungh commented on #72
Let me clarify on 1.
Could you reclone the repo, open it in Android Studio and follow only [Running demo app](https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app) step and run it on real device? So no changes other than `strings.xml` and adding media lib to `amazon-chime-sdk-android/amazon-chime-sdk/libs`

For 3, could you let me know your laptop/computer OS and version like macOS

[2020-07-20 20:15] CSLLCUser commented on #72
It will not run on a real device w/o a signature - which is what we are trying to run the demo on.  But I will reclone and try again

[2020-07-20 22:02] hokyungh commented on #72
Could you clarify "It will not run on a real device w/o a signature"?  You can enable developer [option](https://developer.android.com/studio/debug/dev-options) to run directly from Android Studio to Phone if connected.

Android SDK works with any server as long as the server is using [Chime SDK](https://docs.aws.amazon.com/chime/latest/APIReference/Welcome.html) and you are following [Getting Sta

[2020-07-20 23:54] CSLLCUser commented on #72
We have a process that uses adb to install on our test devices.  Whether it's a debug or production release, Android only allows signed apks to be installed on devices via adb.

The url (https://<your-url>.com/Prod/) solves the `FileNotFoundException`  It works on the serverless demo (I understand wanting to showcase features), but not with the browser demo - get the `FileNotFoundException`.  I wi

[2020-07-21 00:00] hokyungh commented on #72
Thank you. I believe that it could be browser demo might not expose API needed for Mobile such as [join](https://github.com/aws/amazon-chime-sdk-js/blob/master/demos/serverless/src/handlers.js#L37). I'll go ahead and close this issue. Feel free to open new issue if you have any question.

[2020-07-21 00:00] #72 closed

[2020-07-21 00:29] hokyungh commented on #63
This issue should be fixed. Unless you explicitly need `urlRewriter`, you should be able to create `MeetingConfiguration` without it.

[2020-07-21 00:38] hokyungh commented on #61
We have added [onVideoTileSizeChanged ](https://github.com/aws/amazon-chime-sdk-android/commit/376599a3b9c978a8f1f0e028c0089c0b1ddc0701). Could you download
amazon-chime-sdk-0.6.0.tar.gz
amazon-chime-sdk-media-0.5.2.tar.gz?

[2020-07-21 03:15] mohanjicbe commented on #48
Issues has been resolved. Thank you very much..

On Thu, Jul 16, 2020 at 9:23 PM Ankit Mittal <notifications@github.com>
wrote:

--
MOHAN KM
Android Developer
www.icliniq.com <https://www.icliniq.com/?utm_campaign=mail_sign_internal>

[2020-07-21 05:21] Praroop149 opened #76 "How To Start Meeting in Android App"

[2020-07-21 10:20] ajkerfaisal opened #77 "Poor internet connection handling"
Dear All,
We have implemented amazon chime sdk in our app. Everything works well and we are happy with it. But we started receiving complaints from users with a slow internet connection. It seems like they can't join/attend because of a slow internet connection.
**Firstly**, Is there any build-in network retirer implemented with chime SDK?
**Secondly** how we could make video calling experience be

[2020-07-21 12:32] walterg2 commented on #74
Assuming the `onBackPressed` method is calling the necessary functionality to stop the meeting on the device, to make the `EglRenderer` not continue to run, you must unbind the video feeds you have.

pseudoCode:
[code]

[2020-07-21 17:39] mitankit commented on #77
@ajkerfaisal Could you please give specific details about

Is it that you are not able to create meeting? Or you are not able to start audio/video ? or you are not able receive only video?
We would need more specific details.
Chime SDK uses adaptive bandwidth policy wherein based on network bandwidth it will auto adjust the resolution of the video. So for example if the network becomes poor it wil

[2020-07-21 17:43] #43 closed

[2020-07-21 17:45] mitankit commented on #70
Chime SDK uses Surface view for displaying Video. The surface view has 2 layers. First is surface which is used for displaying video and the other layer is used for displaying any view. The surface is Z ordered so that it is behind the window holding its SurfaceView. The SurfaceView punches a hole in its window to allow its surface to be displayed. More details are on [android official page](https

[2020-07-21 17:49] mitankit commented on #76
@Praroop149 Could you please have a look at the demo app source code and read me to see how to start the meeting. On a high level
1) Deploy a serverless demo in your aws account. You can have your own server too if you dont want to use serverless demo
2) Create a meeting and attendees. This will allocate meeting resources for your meeting.
3) Pass this information to client
4) On Client side, crea

[2020-07-21 17:53] mitankit commented on #69
@schonfeld
Can you provide us the following for debugging this issue
1) A complete log file from logcat capturing during the meeting where you faced lag. Please capture just before calling audioVideo.start() to audioVideo.stop()
2) Meeting id for the meeting. This will be present in JSON response when you create the meeting.
3) What is the device model and OS version? Are you facing the problem on

[2020-07-21 17:56] mitankit commented on #68
Please see this [issue](https://github.com/aws/amazon-chime-sdk-android/issues/33)  as reference . As @hokyungh mentioned please upgrade to Android gradle plugin >=3.6.3

[2020-07-21 17:59] mitankit commented on #62
@toffclc Could you please respond to above question in order for to assist you better?

[2020-07-21 18:02] mitankit commented on #60
@Oblivious-Kibria We are in the process of launching a new feature for meeting chat. This is the [issue](https://github.com/aws/amazon-chime-sdk-android/issues/20) to track it.
This feature will give you the ability to broadcast the message to all the participants or send it to individual participant. Once the feature is out, you can use it to implement Mute/Unmute for remote attendees. You can us

[2020-07-21 18:04] mitankit commented on #59
Right now Chime SDK does not give the control over capturer APIs. This is a feature which is in our pipeline. We will upate the issue once we have this feature.

[2020-07-21 18:09] mitankit commented on #74
+1 to what @walterg2 mentioned. To free the `EglRenderer` you need to unbind the video view.
To stop receiving frames for remote video you need to call `stopRemoteVideo()` or `pauseRemoteVideoTile()`.
To stop receiving frames for local Video you need to call `stopLocalVideo()`

[2020-07-21 18:48] hokyungh commented on #51
Would you be able to paste your `onAudioSessionStopped` logic?

[2020-07-21 19:15] cvmartins1996 commented on #51
![image](https://user-images.githubusercontent.com/22302846/88096659-6aafc780-cb6d-11ea-8221-d15e5d66f0d9.png)

[2020-07-21 19:59] hokyungh commented on #51
Could you let us know what calls `audioVideo.stop()`? Is it a button?

[2020-07-21 21:34] cvmartins1996 commented on #51
yes, it's

[2020-07-21 21:51] hokyungh commented on #51
I am not sure if I am correct on this, but feel like when button is pressed it calls `onLeaveMeeting` and `super.onBackPressed()` is what changes the UI.
Could you try this
remove `super.onBackPressed()` from `onLeaveMeeting` and put it in last line of `onAudioSessionStopped()`?

[2020-07-22 05:49] Praroop149 opened #78 "How To Add 4+ Vedio Streaming in Mobile App"

[2020-07-22 06:17] ankit-maheshwari opened #79 "Active Speaker Video Tile"
Is there a way to find and show active speaker video tile in android app?

[2020-07-22 07:08] ankit-maheshwari commented on #29
@linsang21 demo app supports 4 video tiles.

1. Where can I increase the MAX_TILE_COUNT? I want to increase to 16.
2. Will it requires to adjust display requirements or already handled in code?

Thanks,

[2020-07-22 14:43] cmpeguerog commented on #74
I just run demo code and it has this issue. I will try to call that function and let u know @walterg2

[2020-07-22 15:04] rperezsolis commented on #74
I have this same issue. I call the functions that @walterg2 mentioned to stop local and remote videos and to unbind each video tile, but the problem persist. This problem appears when there are two or more attendees, but for some reason if I init a meeting with just my local video and no other attendees the problem doesn't occur.

Device: Huawei.
OS: Api 26.
Chime version: 0.5.3.

<img width="1341

[2020-07-22 17:54] linsang21 commented on #29
1. You can manipulate the limit [here](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/fragment/MeetingFragment.kt#L75)
2. It should not require additional changes, however you might see performance compromise due to too large number of video tiles enabled, depending on the current demo app implementation.

[2020-07-22 19:22] hokyungh commented on #74
This might be related to [28](https://github.com/aws/amazon-chime-sdk-android/issues/28) and [40](https://github.com/aws/amazon-chime-sdk-android/issues/40).

[2020-07-23 04:20] Oblivious-Kibria commented on #60
@mitankit Thank you so much for your sincere reply. This will really be a useful feature for everyone who wants to implement chime sdk. I hope that you will also integrate feature to end the video session as a host.

[2020-07-23 09:20] Praroop149 opened #80 "Whence user Share Screen And Mobile App presenter List screen share Add a <content> How To Rename"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-23 12:22] hi-ko-wi opened #81 "Video encoder fails initializing / encoding frame"
**Describe the bug**
After connecting to a meeting, the incoming video is displayed and the own camera stream is also visible but is not encoded / sent to other participants.

**Logs**
`
...
E/libc: Access denied finding property "vendor.camera.aux.packagelist"
    Access denied finding property "vendor.camera.aux.packagelist"
...
E/DefaultVideoClientObserver: video_renderer_adapter.cc: [000:289]

[2020-07-23 16:10] wanghaor-amzn commented on #78
Hi @Praroop149
I believe you can find you answer in this issue #29
By the way, currently the maximum number of video tiles we support is 8 in Amazon Chime SDK for Android.

[2020-07-23 16:19] wanghaor-amzn commented on #80
Hi @Praroop149
I think you might be using our demo app, so you can take a look at these [codes](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/adapter/RosterAdapter.kt#L46-L48). We named it "<content>" [here](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/fragment

[2020-07-23 17:01] wanghaor-amzn commented on #79
Hi @ankit-maheshwari
I believe you can have a workaround for it.
For each video tile, it has `attendeeId` in its `VideoTileState`. So first, I think you can use data structure to link the attendeeId to a video tile. Once you can track a video tile using the attendeeId, all you need is to update the video tile in the way you want whenever you detect this attendee is an active speaker in `onActiveSp

[2020-07-24 06:30] Praroop149 commented on #79
I Want  integrated Active Speaker and Active video In separately Not Update in list,So how can do this?

[2020-07-24 19:56] walterg2 commented on #28
Another way this issue shows itself is when you have multiple people in a meeting and you set up the ability to swap tiles for who is actively speaking (via `onSpeakerScoreChanged` calls). If there are enough swaps quickly enough, this crash occurs.

[2020-07-24 20:28] walterg2 commented on #12
While I am not going to reopen this thread, I wanted to mention that by setting `setZOrderOnTop(true)` on any video view that you will have to manually manage the showing and hiding of that view if you want to slide views onto the screen.

[2020-07-25 19:18] ajkerfaisal commented on #77
@mitankit actually it was me who was misunderstanding onAttendeesJoined. Now it seems fine.

[2020-07-25 19:18] #77 closed

[2020-07-25 19:28] ajkerfaisal opened #82 "Exception while doing TURN Request & Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)"
**Describe the bug**
I am facing an issue with meetings duration of more than 5 minutes. In my app, meetings consist of only 2 attendees.
Lets say PersonA is the meeting creator and PersonB joins that meeting. When PersonA leaves the meeting then PersonB gets notified by onAttendeesLeft then I kick PersonB also from the meeting. Things all are fine but weirdly app is crashing for those meetings of

[2020-07-26 08:58] ajkerfaisal commented on #82
Found the issue.
I was calling our API for disconnecting the call first. When I get the response from API I used to stop() audioVideo.
Solution: By stopping audioVideo first then calling the API for disconnecting the call solved the issue. Now it all makes sense now, one should delete the meeting room last.
But one thing still does not make sense. Why it only crashed for calls longer than 5 minute

[2020-07-26 08:58] #82 closed

[2020-07-28 08:35] maplefeng-cn opened #83 "app crash when rendering videos - signal 11 (SIGSEGV), code 1 (SEGV_MAPERR) Cause: null pointer dereference"
**Describe the bug**
My app uses `ViewPager2` to render videos, each page is a `GridLayout`.  `setIsRecyclable(false)` is called in the adapter. The content in the page will be regenerated when configuration changes.
Then the app crashed when rotated the device several times.

**Expected behavior**
Should render videos successfully

**Logs**
2020-07-28 15:59:35.743 22297-22297/? A/DEBUG: *** *** *

[2020-07-28 09:39] maplefeng-cn commented on #83
There is another different error also caused app crash

2020-07-28 10:01:06.275 com.example.app E/DefaultVideoClientObserver: srtp_transport.cc: [312:125] [3626] (line 223): Failed to unprotect RTP packet: size=1172, seqnum=26618, SSRC=3193086253, previous failure count: 2200
2020-07-28 10:01:06.304 ? E/C2DColorConvert: unknown format passed for luma alignment number
2020-07-28 10:01:06.308 ? E/Ba

[2020-07-28 18:45] #37 closed

[2020-07-28 18:46] #70 closed

[2020-07-29 02:52] maplefeng-cn commented on #83
Also encountered above error in the demo app without any change...

**To Reproduce**
Steps to reproduce the behavior:
1. Enter the meeting with 2 attendees
2. Turn on the camera
3. Open vidoe tab
4. Rotate device several times

**Logs**
2020-07-29 10:11:31.438 31241-31830/com.amazonaws.services.chime.sdkdemo W/System.err: java.lang.RuntimeException: java.lang.IllegalArgumentException: Invalid size

[2020-07-29 12:55] WarishaAli commented on #81
facing the same issue in Samsung S8, Android OS 9.

[2020-07-29 18:52] walterg2 commented on #28
**Describe the bug**
While in a video call with multiple attendees, if the video feeds are switched out for active speakers, certain devices can/will crash.

**Steps to reproduce the behavior:**
Set up the app to use a RecyclerView to show the video tiles (our app splits them into a 2x2 grid)
Start a Video call with multiple people
As new Active Speakers are detected, swap them into a position for

[2020-07-31 09:20] ioaneusebiu opened #85 "App Crashing - Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x68 in tid 21887"
**To Reproduce**

1. Start audioVideo client ( audioVideo.start() ) - this is done when activity is created ( onCreate() )
2. Stop the audioVideo client ( audioVideo.stop() ) - this is done when activity is destroyed ( onDestroy() )
3. Rejoin meeting - start audioVideo client again right after stopped it (actually audioVideo is not closed yet)
4. Crash

**Expected behavior**
The crash should not h

[2020-07-31 10:59] #85 closed

[2020-08-03 06:37] ioaneusebiu opened #87 "Access to Flashlight"
Hello ! I successfully integrated Amazon Chime into my project. I can switch between cameras, mute / unmute but I didn't find a way to access the flash and turn it on / off. I didn't find a method inside the SDK to do that or a way to directly access the camera. Is there any way to access the flash ? Thank you !

[2020-08-03 09:02] NataliiaZarudna commented on #57
@hokyungh Sorry for the delay!

I've prepared logs: https://gist.github.com/NataliiaZarudna/27685d3b2c0e5c8c5f5a900cf06b86f5.
MeetingId: `38f2a4f0-316c-415f-9420-40f108087fc4`.

Thanks.

[2020-08-03 20:41] linsang21 commented on #20
Data message feature is out. Check out the guide for more details: https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/01_Getting_Started.md#10-send-and-receive-data-messages-optional

[2020-08-03 20:41] #20 closed

[2020-08-04 01:31] hokyungh commented on #57
Thank you. We'll investigate onto issue and get back to you!

[2020-08-04 04:59] kennysun999 opened #90 "App crash: Native thread exited without calling DetachCurrentThread"
**Describe the bug**
We integrate your SDK to our app to achieve the call feature.
However, we noticed there is a crash case during the time of connecting, the crash can be reproduced when the audio is connecting but it ends before the the call is connected.

This shall be the same case for #5

**To Reproduce**
Steps to reproduce the behavior:
1. user clicked the accept call button in our app,
2.

[2020-08-04 13:16] RamandeepGalton commented on #61
@hokyungh
This does not resolve my issue it gives me idea of size of actual video but it does not help me show larger size video on small screen for example :
I am sharing screen from web and has to display on mobile.
Here, actual video size I receive in onVideoTileSizeChanged is 1366*788 but mobile screen size is say, 1120*720 how can I make sure video not get cropped  and show full size video wi

[2020-08-04 13:20] RamandeepGalton opened #91 "Screen sharing video cropped"
The video from web is getting auto cropped in mobile.

I am sharing screen from web and has to display on mobile.
Here, actual video size I receive in onVideoTileSizeChanged() is 1366X788 but mobile screen size is 1120X720 how can I make sure video not get cropped  and show full size video without scrolling.

Is there any way to see full shared screen without getting cropped in android mobile port

[2020-08-04 13:49] RamandeepGalton opened #92 "Video Quality Handling"
From #77  I know that chime sdk handles video quality and resolution but is there any way I can handle it in my project for less bandwidth consumption etc.??

[2020-08-04 18:36] hokyungh commented on #91
Hi, we currently use screen size in [onBindViewHolder](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/adapter/VideoAdapter.kt#L41). Instead of screen size, could you try,

[code]
and see if it still crops?

Would you be able to add little more details? Are you asking if demo app supports this?

[2020-08-04 18:39] hokyungh commented on #92
Would you be able to provide little more details?

I am trying to understand if this is a feature like force set video to 360p or if there is issue on our sdk where it doesn't handle video properly on low bandwidth

[2020-08-05 01:41] HQarroum opened #93 "Give the ability to clients to Zoom and Record the video"
**Is your feature request related to a problem? Please describe.**
We are currently implementing the Amazon Chime SDK for Android and we did not find any obvious way to access the Android camera controller in order to set the zoom level we would like to have, or to record the video of the selected camera while streaming.

**Describe the solution you'd like**
Provide an API in order to change the z

[2020-08-05 11:41] abhishekBansal opened #94 "DefaultMeetingSession constructor crashes after updating to 0.7.0- Forcing GSON dependency on app"
**Describe the bug**
After updating AAR files to latest version(0.7) call started crashing

**To Reproduce**
Steps to reproduce the behavior:
Constructor of `DefaultMeetingSession` crashes in my app with following crashstack
[code]

**Expected behavior**
It should not crash and work as it was working in previous version.

**Test environment Info (please complete the following information):**
 - De

[2020-08-05 12:29] abhishekBansal commented on #94
I can confirm that above issue does not reproduce with version `0.5.3` and `0.6.0` it got introduced in `0.7.0`. [This is the commit](https://github.com/aws/amazon-chime-sdk-android/commit/4d52004c9a3b4aa440cdc962f7b1f3adde646a2c) where `Gson` was introduced.
Ideally SDK should not force us to use a particular serialisation library.

[2020-08-05 16:38] mitankit commented on #94
This should be right. SDK should not force you to use GSON. However SDK internally uses GSON for JSON parsing but that should be handled by SDK's build.gradle. I am not sure why are you getting this error since GSON should automatically be included by SDK.

Are you doing some exclude on GSON in your app's build.gradle?

[2020-08-05 16:41] mitankit commented on #28
We have put some fixes around this. Can you try with the latest version?
Version amazon-chime-sdk: 0.7.0
Version amazon-chime-sdk-media: 0.6.0

[2020-08-05 16:41] abhishekBansal commented on #94
No, I am not doing that.

[2020-08-05 16:41] mitankit commented on #40
We have put some fixes around this. Can you try with the latest version?
Version amazon-chime-sdk: 0.7.0
Version amazon-chime-sdk-media: 0.6.0

[2020-08-05 16:42] mitankit commented on #49
Closing this issue as there has been no response

[2020-08-05 16:43] #49 closed

[2020-08-05 16:44] mitankit commented on #87
Currently Chime SDK does not provide any API to access the flash light.
One possible workaround which I can think of is using standard OS APIs to access the flash light when the chime session is in progress.

[2020-08-05 16:45] mitankit commented on #80
@Praroop149 Any updates on this issue? Is the prescribes solution woking for you?

[2020-08-05 16:46] mitankit commented on #76
Closing this issue as there has been no response

[2020-08-05 16:46] #76 closed

[2020-08-05 16:47] mitankit commented on #78
Closing this issue as the solution has already been described and there has been no response.

[2020-08-05 16:47] #78 closed

[2020-08-05 16:55] abhishekBansal commented on #94
I am not an expert on this topic but see [this](https://stackoverflow.com/questions/37392296/class-not-found-in-aar) and [this](https://stackoverflow.com/a/38140889/1107755)
As per these answers using `Gson` in AAR will force clients to include it as well.

[2020-08-05 20:05] zhinang-amazon commented on #79
Hi @Praroop149 Could you clarify your question?
What do you mean by "active video"?
I think @wanghaor-amzn 's suggestion can resolve @ankit-maheshwari 's question. If this is not what you are looking for, can you create a separate issue?

[2020-08-05 20:26] zhinang-amazon commented on #68
Closing due to inactivity. Feel free to reopen if this is still an issue after making the suggested change by @hokyungh

[2020-08-05 20:26] #68 closed

[2020-08-05 20:30] zhinang-amazon commented on #62
Closing due to inactivity. Feel free to reopen if this is still an issue for you.

[2020-08-05 20:30] #62 closed

[2020-08-05 20:36] zhinang-amazon commented on #63
Closing the issue since the fix is release. Please used the latest release v0.7.0

[2020-08-05 20:36] #63 closed

[2020-08-05 20:37] zhinang-amazon commented on #51
@cvmartins1996 Are you able to try what @hokyungh suggested?

[2020-08-05 20:46] zhinang-amazon commented on #39
@William-ST Can you answer @haifengx 's question so that we can better assist your?

[2020-08-05 20:51] zhinang-amazon commented on #64
@bizready Is this still an issue for you?

[2020-08-05 22:12] hokyungh commented on #90
Thank you for reporting issue. Were you also able to reproduce in our application?
I am trying to reproduce this
Samsung Galaxy Note 4 (Android 5.1.1), but I wasn't able to reproduce this issue.
Could you also let us know what the repro rate is and does it happen in previous version?

[2020-08-06 07:46] avin18 opened #95 "Getting sessionConfig as null in case of signed apk"
**Describe the bug**
I have integrated Amazon Chime in my android app for the purpose of joining a meeting. Currently I am able to join the meeting in case of the debug apk (non - production) but in case I generate a signed apk (production) and try to join a meeting i'm getting the error " Error creating session configuration: throw with null exception" in the logs.

While creating the session con

[2020-08-06 11:13] kennysun999 commented on #90
Thanks for your feedback. As for the repro rate, sorry to say it's 100% reproducible.

I use my app to open your demo app MeetingActivity, and I can reproduce the crash in your android demo app with our server.

Meanwhile, in order to make my work done, I made some changes in your code, and they are as follow:

AndroidManifest.xml (in order to call your MeetingActivity)
[code]

MeetingFragment.kt

[2020-08-06 16:27] duraz0rz opened #96 "Microphone input and/or mixing is inconsistent"
**Describe the bug**
We're implementing group video calls into our app and a consistent issue I'm having with a few devices I have is that talking to the phone with the screen facing you does not result in any audio input. The devices I'm testing on do have multiple mics.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a video call with audio on a device that has multiple mics.
2. Talk

[2020-08-06 16:37] zhinang-amazon commented on #81
Hi @hi-ko-wi and @WarishaAli we are able to reproduce this issue and it's caused by expected Frame width/height during encoding from certain Android devices. We are working on a fix in our amazon-chime-sdk-media framework and this will go in the next release. We will update here once the next release is out.

[2020-08-06 16:56] zhinang-amazon commented on #96
Hi @duraz0rz are you seeing this issue only on device with multiple microphones?

Are you able to reproduce this with our demo app?

[2020-08-06 18:02] zhinang-amazon commented on #82
Hi @ajkerfaisal Glad that you were able to fix the issue.
The meetings end automatically after a period of inactivity. See documentation [here](https://docs.aws.amazon.com/chime/latest/dg/mtgs-sdk-mtgs.html)

[2020-08-06 18:08] duraz0rz commented on #96
After trying the demo app, the problem only occurs when switching audio devices. I can get the issue to occur on the Note 9 by either:

- Enter the meeting with the speaker device, then switching to the handset device, then back to speaker.
- Enter the meeting with the handset device, then switching to the speaker device.
- Enter the meeting with the speaker device, then switching to the speaker d

[2020-08-06 21:10] duraz0rz commented on #96
Ok, so it looks like we were calling `AudioVideoFacade.start` _without setting the initial device_. The demo app has the user select the audio device before joining the meeting, so once I did that programmatically, my device's microphones were just fine!

We were using the `onAudioDeviceChanged` callback to select a device for us. That event fires after `AudioVideoFacade.start` is called, so the b

[2020-08-06 21:19] zhinang-amazon commented on #96
Hi @duraz0rz , what's the remaining issue?

[2020-08-06 21:27] hokyungh commented on #90
Would you be able to paste full logs?

[2020-08-06 21:28] duraz0rz commented on #96
Microphone volume is greatly diminished after switching from any audio device, or even from the built-in speaker, to the built-in speaker.

[2020-08-07 03:50] kennysun999 commented on #90
Sure, and here's the full log with "Show only selected application" com.amazonaws.services.chime.sdkdemo
[code]

[2020-08-07 08:31] ajkerfaisal commented on #82
@zhinang-amazon I think you misunderstood that problem I was facing. Inactivity was never the case.

[2020-08-07 17:32] RamandeepKW opened #97 "Getting error Failed to start audio session. Response code: 15"
Error logs:
DefaultAudioClientObserver: xal_gingerbread: cvp_module_flag instrumentation event failed to submit
DefaultAudioClientObserver: session already started
FAILED STARTING AUDIO CLIENT SESSION
Failed to start audio session. Response code: 15

After  this video and audio of that session is not connected and never able to listen audio and see video after this issue in android sdk. This is an

[2020-08-07 17:35] RamandeepKW commented on #92
@hokyungh yes I want to know is there any way to have a feature of setting video quality as of 360dp/480dp/144dp as in youtube and also handle this video quality in low bandwidth automatically to make calling experience smooth.

[2020-08-07 18:01] zhinang-amazon commented on #92
Hi @RamandeepKW Our SDK currently controls Video resolution based on network bandwidth, but does not expose option to manually change resolution. If this is what you are looking for, our team will definitely keep this in mind while we keep improving our Amazon Chime SDK.

Labelling this as Enhancement

[2020-08-09 03:43] HQarroum opened #100 "Give the ability to take pictures on the selected camera"
Is your feature request related to a problem? Please describe.
We are currently implementing the Amazon Chime SDK for Android and we are wondering how we can take a picture of the currently selected camera while streaming its video to other attendees. Is there a specific API to take a picture ? Or should we leverage the `onReceiveFrame` callback on our own attendee and use the returned frame when

[2020-08-09 16:35] praveenvaddimgunta opened #101 "Unable to send video bites from Andriod 10 (Oxygen OS)"
**Describe the bug**
I am using One plus 6T having Andriod 10 and the customised OS by one plus Oxygen. The app is stable but attendees were not able to see my video. I can see the metrics values like Videosendavailablebandwidth as 700000 but videosendbitrate is 0. Here is I am attaching the screenshots.

Anyone else is facing this issue

**Expected behavior**
All attendees in the meeting should s

[2020-08-10 15:44] zhinang-amazon commented on #100
Hi @HQarroum our SDK currently does not support taking pictures from the Camera Video stream.
I will label this issue as Enhancement and we will consider this while we keep improving the SDK.

[2020-08-10 15:58] zhinang-amazon commented on #101
Hi @praveenvaddimgunta we are aware of this issue caused by Video Encoding on certain Android devices.
This is a duplicate of #81
Please use that to track the issue. Closing this one.

[2020-08-10 15:58] #101 closed

[2020-08-10 17:37] linsang21 commented on #94
To solve the error, builders need to add the following to their ```build.gradle```:
[code]

This dependency is introduced by Data Message feature in 0.7.0 release. It is meant to simplify the serialization process for builders before transporting the data. However, since we has not migrated our artifacts to public repository with more sophisticated dependency management, builders might need to inc

[2020-08-10 17:37] #94 closed

[2020-08-10 23:53] hokyungh commented on #90
Would you be able to clean project by `Build -> Clean Project` and delete `amazon-chime-sdk.aar` and `amazon-chime-sdk-media.aar`. Re-download [sdk](https://amazon-chime-sdk-android.s3.amazonaws.com/sdk/0.7.0/amazon-chime-sdk-0.7.0.tar.gz) and [media](https://amazon-chime-sdk-android.s3.amazonaws.com/media/0.6.0/amazon-chime-sdk-media-0.6.0.tar.gz) and build it again?

Last time this happens, we w

[2020-08-11 04:00] abhishekBansal commented on #94
Thank you for reply!
I would also like to request to keep SDK size in mind while adding additional dependencies because it's already big as is. Also this calls for a document update.

[2020-08-11 04:56] kennysun999 commented on #90
I already followed your instructions but I still encountered the same crash problem with the same crash logs which I sent to you previously.

[2020-08-11 05:01] kennysun999 commented on #90
Further, I keep testing this issue by using another device, but the crash still happens, and I checked the crash log in details, seems like there're some differences from the previous crash log, please refer to the following for your further investigation:

**Test environment Info (please complete the following information):**

 - Device: LG G6 (LG-H870DS)
 - OS: Android 8.0.0
 - Version amazon-ch

[2020-08-11 06:32] kennysun999 commented on #90
This is my 3rd try with a new device, same crash happened, logs are as follows

**Test environment Info (please complete the following information):**

 - Device: Essential PH-1
 - OS: Android 10
 - Version amazon-chime-sdk: 0.7.0
 - Version amazon-chime-sdk-media: 0.6.0

**Logs**

[code]

[2020-08-11 06:41] kennysun999 commented on #90
Here's my 4th attempt for your reference

**Test environment Info (please complete the following information):**

 - Device: Samsung Galaxy A9 SM-A9000
 - OS: Android 6.0.1
 - Version amazon-chime-sdk: 0.7.0
 - Version amazon-chime-sdk-media: 0.6.0

**Logs**

[code]

[2020-08-12 22:44] mitankit commented on #95
Is there any exception stack trace that you can share with us?

[2020-08-12 23:28] hokyungh commented on #97
Would you be able to provide little more details

**Logs**
If applicable, add logs from logcat to help explain your problem.

**Test environment Info (please complete the following information):**
 - Device: [e.g. Pixel3]
 - OS: [e.g. Android 10]
 - Version amazon-chime-sdk: [e.g. 0.4.0]
 - Version amazon-chime-sdk-media: [e.g. 0.4.0]

Also would you be able to let me know how start/stop is done?

[2020-08-13 04:37] avin18 commented on #95
Thnx for replying. I have added the stack trace below.

E/InMeetingActivity: Error creating session configuration: throw with null exception

D/InMeetingActivity: java.lang.Exception
        at com.app.test.activity.MeetingActivity.a(:131)
        at com.app.test.activity.MeetingActivity.onCreate(:51)
        at android.app.Activity.performCreate(Activity.java:7802)
        at android.app.Activity

[2020-08-13 11:54] ankit-maheshwari commented on #51
Hi, It is a major security issue.

As a workaround, we are planning to use push notification to disconnect the meeting attendee. Is this a right workaround? Or let us know any other workaround.

[2020-08-13 12:04] cvmartins1996 commented on #51
Sorry for delay

Thanks @hokyungh this works for me =D

[2020-08-13 16:43] hokyungh commented on #51
@ankit-maheshwari Are you referring to [82](https://github.com/aws/amazon-chime-sdk-ios/issues/82) like meeting end for all feature or is meeting still not ending after you call `audiovideo.stop`?

[2020-08-13 17:03] hokyungh commented on #95
Would you be able to paste your `proguard.rules` and let us know which version of
SDK/media library you are using? For now, could you see if adding
[code]
helps? We have added in our SDK in later version.

[2020-08-13 23:31] hokyungh commented on #90
Would you be able to paste build.gradle files for your app? We also have released new version of [0.7.1](https://amazon-chime-sdk-android.s3.amazonaws.com/sdk/0.7.1/amazon-chime-sdk-0.7.1.tar.gz) and [0.6.1](https://amazon-chime-sdk-android.s3.amazonaws.com/media/0.6.1/amazon-chime-sdk-media-0.6.1.tar.gz). Could you try see if this version doesn't crash for your case?

[2020-08-14 02:31] maplefeng-cn commented on #78
hello @wanghaor-amzn

Do you mean the SDK can only receive maximum 8 videos at the same time?
Or can only bind maximum 8 videos to views at the same time? and if want to show other vidoes, need to unbind some in the 8 videos then bind others?

Thank you

[2020-08-14 11:19] kennysun999 commented on #90
Thanks for your reply. I've attached the build.gradle files for your reference, fyi, I have filtered those logs  which may be sensitive to our business. Regarding to the latest version you've released, here are my testing results:

case 1:
I used the latest version  in our app, similar crash still happened

case 2:
I used your demo app to try your latest version again, unfortunately, the crash hap

[2020-08-16 07:17] #59 closed

[2020-08-16 07:17] #21 closed

[2020-08-17 17:15] hokyungh commented on #81
@hi-ko-wi Would you be able to try new version?

[2020-08-17 17:20] hokyungh commented on #83
@maplefeng-cn sorry for late reply. Would you be able to try with sdk 0.7.1 and media of 0.6.1 to see if this issue is fixed?

[2020-08-17 21:32] duraz0rz commented on #96
Stalebot's pretty aggressive about closing issues, it seems. Looks like this is being worked on ... do you need more input from me?

[2020-08-18 08:22] abhishekBansal commented on #94
Just to mention SDK Media AAR has grown to `20.7mb` in `v6.1` from ~13mb in `v5.2`

[2020-08-18 10:06] abhishekBansal opened #107 "video flicker with green screen"
**Describe the bug**
Chime SDK crashes in `DefaultMeetingSession` constructor for `Android 5.1`. My test device is `HTC Desire 828 Dual Sim.`

**To Reproduce**
Following code reproduces this crash on said device
[code]

**Expected behavior**
SDK should not crash its should work as its working on other Android versions.

**Logs**
[code]
**Screenshots**
NA

**Test environment Info (please complete t

[2020-08-18 10:10] hi-ko-wi commented on #81
Hi @hokyungh yes, I tried it today and it works perfectly on that device, now
I also successfully tried it on a Pixel 4, Galaxy A51 and A71, all running Android 10, fyi.

[2020-08-18 10:10] #81 closed

[2020-08-19 20:13] ZacSweers opened #109 "Missing release notes for 0.7.1"
FYI!

[2020-08-20 02:09] hokyungh commented on #96
@duraz0rz Do you have any other device that also has this issue? I am trying to reproduce this issue, but wasn't able to do so in S9 and Pixel 3XL. I click on built-in speaker again, and still plays on built in speaker.

[2020-08-20 08:37] songjie1990 opened #111 "Failed to resolve: :amazon-chime-sdk-media:"
api(name: 'amazon-chime-sdk-media', ext: 'aar') { transitive = true }

这里的aar包找不到,

[2020-08-20 11:44] abhishekBansal opened #112 "`onVideoTileAdded()` not getting called when remote unpauses(`startLocalVideo`) the video"
**Describe the bug**
[As per document](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/01_Getting_Started.md#8e-binding-a-video-tile-to-a-video-view) `onVideoTileRemoved` and `onVideoTileAdded` should be called when a remote attendee calls `stopLocalVideo` and `startLocalVideo` respectively. However, Android SDK only receives `onVideoTileRemoved` when paused and not `onVideoTile

[2020-08-20 12:30] ribafish opened #113 "Audio selection with multiple Bluetooth devices"
**Describe the bug**
When there are multiple Bluetooth audio devices connected to the phone, only the last one added is usable. Even if `chooseAudioDevice` is called with the first connected BT device, only the last added/connected is used.

**To Reproduce**
Steps to reproduce the behavior:
0. Connect multiple BT audio devices (headphones, speakers, etc.) - doesn't need to be before the call thoug

[2020-08-20 12:36] ribafish opened #114 "Audio input when using Bluetooth A2DP device."
**Describe the bug**
Chime is using builtin mic as input even when Bluetooth A2DP (I suspect) is selected. It should either use that devices Bluetooth SCO mic or not allow A2DP as an audio device.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to a meeting
2. Click on select audio devices
3. Select one of BT devices that support both A2DP and SCO (shown as 2 devices with same labels

[2020-08-20 12:40] ribafish opened #115 "Audio devices when using multiple BT devices with A2DP and SCO support"
**Describe the bug**
When there are multiple BT devices connected that support both SCO and A2DP, only the last connected is displayed as both SCO and A2DP (and we cannot know which is which, we only see 2 devices with same label), even though mutliple of them support both protocols.

**To Reproduce**
Steps to reproduce the behavior:
0. Have only one BT device connected that supports both A2DP and

[2020-08-20 13:34] duraz0rz commented on #96
The issue isn't the speaker on the device you are using; the issue is the microphone and how you sound to other meeting attendees.

You would need to call someone and have them tell you how it sounds _before_ and _after_ you select "Built-In Speaker". _Before_ selecting "Built-In Speaker", you should sound fine on the other end of the call. _After_ selecting "Built-In Speaker", you should sound ve

[2020-08-20 17:32] hokyungh commented on #90
So in your case, you are directly using SDK code and only using media library am I correct on that? If so, you wouldn't need amazon-chime-sdk.aar. If not, I expect lines like [build.gradle](https://github.com/aws/amazon-chime-sdk-android#2-update-gradle-files)
[code]
Your folder structure I believe might look like if using SDK as code
[code]
In this case, I somehow see this line missing
[code]

Ad

[2020-08-20 18:17] hokyungh commented on #111
Hi could you let me know if you are using our demo app or building your own application?

If you are building your own application using sdk and media, you should follow [Setup](https://github.com/aws/amazon-chime-sdk-android#setup).

If you are just building our demo app and run it, you should follow [Running demo app](https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app)

Let us

[2020-08-20 18:21] hokyungh commented on #112
on your `onVideoTileRemoved`, could you check if you have line for
`audioVideo.unbindVideoView`?

[2020-08-20 18:23] linsang21 commented on #111
It sounds like you did not add media aar to /libs: https://github.com/aws/amazon-chime-sdk-android#2-download-binary

[2020-08-20 19:57] hokyungh commented on #109
There is no impacting change in the SDK layer (we made a change in the demo app for integration tests). We do have change in the underlying media library which we don’t yet have a separate repo to track for. We are discussing about how to improve the change log to have better visibility for builders. Thanks!

[2020-08-20 23:54] hokyungh commented on #107
Thank you for reporting. Does it only happen on this device, or do you see more often?

[2020-08-21 03:59] abhishekBansal commented on #112
Hello Yes I figured that last night, It starts working after adding `audioVideo.unbindVideoView` in `onVideoTileRemoved`.
Thanks for your reply.

[2020-08-21 03:59] #112 closed

[2020-08-21 04:01] abhishekBansal commented on #107
No I have only seen this on this device. Also, I just have one Android 5.1 device to test.
Except for this I have tested on Android 6(Motorola), 8(Samsung) and 10(Google) which do not reproduce this issue.

[2020-08-24 07:10] abhishekBansal commented on #107
Tested on another device `Oppo A33f` Running `ColorOS v2.1.0` Based on `Android 5.1.1` and call worked fine.

[2020-08-24 18:42] hokyungh commented on #90
@kennysun999 sorry for late reply was testing more devices with our demo application. I am interested in test case 2 scenario. In this case, you are just using code (activity/fragments/res), but nothing else right?

I am really sorry, but would you be able to test just our demo application like fresh clone and no change like including in other application? So in this case, you would be cloning [co

[2020-08-24 22:33] #109 closed

[2020-08-25 00:24] hokyungh commented on #28
@sagarisdeveloper and @vismay11 were you still be able to repro on latest version?

[2020-08-25 03:52] kennysun999 commented on #90
Answer your first question, for case 2 scenario, our app just used the  following code to call your MeetingActivity. Also built your demo code and follow Guide with some modification. (which we mentioned in my previous reply)

The following code is for your reference only, as we noticed that our main concern would be in another area, which I will further explain in the upcoming reply.
[code]

We h

[2020-08-25 07:40] hokyungh commented on #90
Thank you for very detailed step. I was able to reproduce. The key was step 5. We'll further diagnose and get back to you.

[2020-08-25 20:46] duraz0rz opened #119 "Tiles misbehaving when bandwidth is severely constrained"
**Describe the bug**
There's a few issues we're noticing when a connection is bandwidth-constrained. This was reproducible in the demo app against `master`.

- When an attendee is bandwidth-constrained, their tile to other attendees are either frozen and/or are rendered in a black state. When bandwidth becomes sufficient again, the attendee that was frozen does not recover immediately.
- Sometimes

[2020-08-25 21:50] dchen-aws commented on #28
Please feel free to re-open if this issue still exists for you. Thanks

[2020-08-25 21:50] #28 closed

[2020-08-25 22:06] hokyungh commented on #60
Data message (ability to broadcast message across clients) is released and you can use this feature to implement remote mute!

Let us know if you have any further question and feel free to open new issue if you have any trouble.

[2020-08-25 22:06] #60 closed

[2020-08-25 22:36] dchen-aws commented on #87
We tested the scenario above and because the camera object is locked by the underlying WebRTC code, builders can not access directly the camera object to do things like, turn on the flashlight. We are working on extending that functionality to the builders. Will update the thread once have more to share. Thanks!

[2020-08-26 00:25] hokyungh commented on #96
Thank you. Would you be able to provide full logs and meeting Id?
Meeting Id is JSON response for [Meeting](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/session/CreateMeetingResponse.kt#L15) which correspond to [JoinMeetingResponse](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/c

[2020-08-26 19:21] hokyungh commented on #90
@kennysun999 we found the root cause and currently fixing it. Will update this thread once we release the fix.

[2020-08-26 20:41] astas79 opened #120 "onAttendeesJoined not getting called"
Hello,

I'm implementing Android video conference using SDK in Java, and has

public class VirtualChatActivity extends AppCompatActivity implements RealtimeObserver, AudioVideoObserver, VideoTileObserver

and later

        currentMeetingSession.getAudioVideo().addRealtimeObserver(this);

after connection to the meeting is established  onVideoTileAdded is getting called and video stream starts as

[2020-08-26 23:32] hokyungh commented on #111
@songjie1990 Please reopen if you still have issue.

[2020-08-26 23:32] #111 closed

[2020-08-27 00:52] hokyungh commented on #92
We will track this issue on #58

[2020-08-27 00:52] #92 closed

[2020-08-27 00:55] tianyux-amz commented on #79
Hi @ankit-maheshwari and @Praroop149 , we are working on a POC to arrange video tiles based on the active speaker status (e.g. video tiles are paginated and user can swap between different pages, and active speakers will be promoted to the top of the list). Will keep you posted once the POC is available. Thank you!

[2020-08-27 02:42] hokyungh commented on #120
Would you be able to paste full logs? We would also like to know how you reproduce the issue. Is it only remote attendee that is not getting `onAttendeesJoined` or you don't get this callback at all?

[2020-08-27 03:14] hokyungh commented on #113
It looks like we currently don't support this feature. We only set route and I believe OS will determine the device that will be used for bluetooth. I'll add enhancement label and we'll come up with better solution.

[2020-08-27 06:52] ribafish commented on #113
That is true. I guess a better issue title would be to change it to `Audio device selection with multiple devices of the same type`

[2020-08-27 06:59] astas79 commented on #120
Hello,

Unfortunately none of the realtimeobserver methods called neither for local or remote attendees and there is nothing in the logs regarding that observer.

To reproduces I used Java not Kotlin and as there are no examples, I just followed similar structure. Do you have example in Java to test on my end as well?

Thank you.

On Aug 27, 2020, at 03:42, Nick Hwang <notifications@github.com> wr

[2020-08-27 07:00] ribafish opened #121 "Get currently used audio device"
**Is your feature request related to a problem? Please describe.**
It would be useful for the user to see which audio device is currently used when displaying a list of possible audio devices. This is currently not possible.

**Describe the solution you'd like**
A way to get the currently used audio device, either as an additional field in the items in list that `listAudioDevices ` provides or a n

[2020-08-27 08:56] astas79 commented on #120
Test Activity is as follow:

public class VirtualActivity extends AppCompatActivity implements RealtimeObserver, AudioVideoObserver, VideoTileObserver{

//Meeting initialised here

void initMeeting () {
        Meeting meeting = new Meeting(meetingDetails.ExternalMeetingId(),
                new MediaPlacement(meetingDetails.AudioFallbackUrl(), meetingDetails.AudioFallbackUrl(), meetingDetails.Sig

[2020-08-28 03:10] maplefeng-cn commented on #83
hello @hokyungh

Thank you for your reply. Have tried sdk 0.7.1 and media 0.6.1, but still encountered crash...
Please see below logs

**Log 1**
2020-08-27 13:51:47.871 9350-9350/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
2020-08-27 13:51:47.871 9350-9350/? A/DEBUG: Build fingerprint: 'samsung/gtaxlltexx/gtaxllte:8.1.0/M1AJQ/T585XXS6CTE5:user/release-keys'
2020-08-2

[2020-08-28 04:20] dchen-aws commented on #121
We currently provide APIs to list audio devices and choose audio device. If a new device is added (e.g. a wired headset or BT device connected), then the OS will automatically switch to the new device. Similarly, if a currently selected device is removed, the OS will fallback to the previous one. A callback on device changed will also be triggered. The SDK does not have any logic to automatically

[2020-08-28 07:36] hokyungh commented on #120
Do you mind pasting full logs?
I pasted your code on my POC Java application with only difference on `gson`
[code]

I see logs for
[code]

[2020-08-28 07:50] ribafish commented on #121
I have thought about getting the currently used device from system, but there's no reliable way to map it to audio devices that we get from Chime SDK if there are multiple identical devices connected or specific to Bluetooth, to know if we've connected via A2DP or SCO, since it's reported with the same label and type (see issue #115 )

[2020-08-28 08:17] HQarroum commented on #93
Hi,
Is there a timeline for this PFR on your side ?
Thanks.

[2020-08-28 13:02] astas79 commented on #120
I've re-created activity from scratch for the test.
There is an error coming up in the logs, would failing audio session prevent call back?

2020-08-28 13:50:48.551 5593-5855/fit.jeem I/DefaultAudioClientController: spkMinBufSizeInSamples 2052 micMinBufSizeInSamples 1920
**2020-08-28 13:50:48.577 5593-5593/fit.jeem E/audioclient_jni: FAILED STARTING AUDIO CLIENT SESSION - MISSING REQUIRED PARAMETE

[2020-08-28 15:59] astas79 commented on #120
Additionally: here is example session of the session

MeetingSessionConfiguration(meetingId=2a2ce956-05f3-4090-9a31-7bc66d32120d, credentials=MeetingSessionCredentials(attendeeId=bf220883-c51a-43cb-bc21-e9596ee81a66, externalUserId=Test###623b6a15149a23e7d608, joinToken=Ym**********zUxYS00M2NiLWJjMjEtZTk1OTZlZTgxYTY2OjA2YmQ3YzAyLTJlNDEtNDkxMi04MDg4LTg2MWZiYTQ1MTliZA), urls=MeetingSessionURLs(_audi

[2020-08-28 19:02] hokyungh commented on #120
Could you check
[code]

[2020-08-28 19:06] hokyungh commented on #119
Thank you for really detailed experiment and questions. Let me try to answer one by one.

I believe onConnectionBecamePoor is based on the jitter/loss/RTT of audio. If audio is good enough, I believe it will not call onConnectionBecamePoor.

I believe `PausedForPoorConnection` is based on the local network, not remote network, so if your network is bad, it will invoke `onVideoTilePaused` with
`Pau

[2020-08-28 19:57] hokyungh commented on #83
Would you be able to let me know what are some of things you are doing on
onStop(), onStart() and onDestroy()?

[2020-08-29 11:13] astas79 commented on #120
Thanks, that resolved issue with callback.

[2020-08-29 11:13] #120 closed

[2020-08-30 23:22] #67 closed

[2020-08-30 23:22] #69 closed

[2020-08-30 23:22] #74 closed

[2020-08-30 23:22] #91 closed

[2020-08-30 23:22] #80 closed

[2020-08-30 23:22] #64 closed

[2020-09-01 12:47] mj8894 opened #122 "Audio - Video transmitting on receiving calls"
After joining a meeting, If a user receives a call over his/her phone, The meeting does not go to a halt and the voice from the call is audible in the meeting and vice versa.

**To Reproduce**
1. Join a meeting
2. Accept a call on your phone while being on the meeting
3. Your voice can be heard on the meeting as well as the meeting audio can be heard on the camm

**Expected behavior**
There should

[2020-09-01 12:50] mj8894 commented on #79
Hi Team,

I want to implement something like zoom wherein I have two different views, one having a single tile which is the active speaker tile and another is the tile listing where I can see all participant videos. However, If I try to bind a tile to 2 different Default Render Views, It gets stuck in one of them at some point.

Can you suggest a workaround for the same.

[2020-09-01 17:58] hokyungh commented on #79
@mj8894 Do you mind opening new issue? That seems to be new feature. We would to hear use case.

[2020-09-01 21:01] hokyungh commented on #107
@abhishekBansal Thank you for reporting. Would you be able to try 0.7.2 and 0.6.2? We have excluded that library.

[2020-09-01 21:02] hokyungh commented on #90
@kennysun999 We have released 0.7.2 and 0.6.2, which should fix your issue. Let us know if it still occurs.

[2020-09-01 21:04] hokyungh commented on #83
@maplefeng-cn Would you also mind trying 0.7.2 and 0.6.2? We fixed few null pointer issues. Let us know if you still see issues.

[2020-09-02 03:05] kennysun999 commented on #90
@hokyungh Thank you for your update. We have tested 0.7.2 and 0.6.2, so far everything goes fine. We will let you know if there's anything that need further assistance from you.

[2020-09-02 06:32] abhishekBansal commented on #107
It does not crash anymore but there seem to be other issues where video flicker with green screen and call freezes after 5-6 seconds and then causes a crash.

[2020-09-02 16:59] hokyungh commented on #107
@abhishekBansal Do you mind giving us the full log?

[2020-09-03 05:58] abhishekBansal commented on #107
@hokyungh sure, I wouldn't want to attach full logs here. Is there a email where I can send these logs?

[2020-09-03 06:00] hokyungh commented on #107
You can send it to hokyungh@amazon.com

[2020-09-03 06:22] abhishekBansal commented on #107
Thanks for email, I have sent the logs.

[2020-09-03 06:26] hokyungh commented on #107
I got it. We'll take further look

[2020-09-03 08:31] maplefeng-cn commented on #83
hello @hokyungh called `AudioVideoFacade#unbindVideoView()` for all attendees in `Fragment#onDestroyView()`

ok will try the new version, thanks

[2020-09-03 23:23] tianyux-amz commented on #79
Hi @ankit-maheshwari and @Praroop149, we merged in an iOS PR [#105](https://github.com/aws/amazon-chime-sdk-ios/pull/105) for the video pagination with active speaker logic. You can find the code in the [amazon-chime-sdk-ios development branch](https://github.com/aws/amazon-chime-sdk-ios/tree/development). You can also find a GIF demo in the PR description. Although the demo was in iOS SDK, you sh

[2020-09-03 23:23] #79 closed

[2020-09-05 20:14] #97 closed

[2020-09-05 20:14] #51 closed

[2020-09-05 20:14] #95 closed

[2020-09-08 03:32] #90 closed

[2020-09-08 23:10] linsang21 commented on #57
Hi, we applied a fix in the [latest release](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.7.2) (0.7.2 android SDK, 0.6.2 media SDK). Would you try it out? Please let me know if the problem persists.

[2020-09-09 00:40] linsang21 commented on #93
Hi, sorry we are not able to provide a date as for now. Will keep you posted!

[2020-09-09 14:50] duraz0rz commented on #119
This makes sense to me, as audio uses much less bandwidth than video, right?

I believe it just takes a very long time to recover, upwards of minutes. It's been a few weeks since we've been actively testing it.

- We've observed `onVideoSessionStopped ` fire with an OK code before restarting.
- We've seen, on the device with constrained bandwidth, tiles with frozen video, but `onVideoTilePaused` w

[2020-09-09 19:00] linsang21 commented on #96
Hi, just want to check if you got chance to get the meeting Id, or is the issue still going on?
Meanwhile we had some audio issue fixed in the recent release, do you want to try out?

[2020-09-10 00:39] linsang21 commented on #122
Hi, I followed the reproduce steps on a S9 Android 10 device but not able to replay the situation ```Your voice can be heard on the meeting```, which means I can only hear the voice from the phone call not from meeting. Could you share more detail on the testing env?

My reproduce steps: (using the 0.7.3 sdk and 0.6.2 media sdk)
* Join a meeting from a Android demo app with another attendee on web

[2020-09-10 00:56] linsang21 commented on #107
Hi, we got the log, but unfortunately it does not contain sufficient information for us to troubleshoot the issue easily. Is it possible for you to share even more information - e.g. use case, API you utilized, any specific pattern you see this issue has (device-wise, OS-wise, etc). Most importantly, could you share the meeting Id (not the meeting name, but an identifier return from create meeting

[2020-09-13 07:35] mj8894 opened #129 "Hands-free call notification shown"
**Describe the bug**
On MI devices a hands free call notification is shown on top and the the hands free mode isn't disabled until we decide to kill the application or force stop it.

**To Reproduce**
1. Open the application.
2. Join a meeting
3. End a meeting and do not kill the application
4. Open a video streaming service such as Youtube, you will not be able to access the audio properly until

[2020-09-13 07:37] mj8894 commented on #122
Hi,

We tested several cases , however every time our voice from the call could be heard on other devices who had joined the meeting. Regarding meeting audio on the call, would be great if we have support for pausing the remote audio via code or pause the entire meeting altogether if required.

[2020-09-13 11:59] abhishekBansal commented on #107
Hello, I have sent another log file with meeting id.
Here are a few more details

- SIGSEGV occurs at line #104944 Crashstack occurs at line #105210 of log file.
- This is reproducible 100% of the time on this device(may be mediatek chipset?).
- Green flickr did not come in this instance.
- The Crash occurred after 10-20 seconds of call.
- SDK Versions are 0.7.3 and 0.6.2

I am going to try to rep

[2020-09-13 12:01] abhishekBansal commented on #107
Okay the email just bounced, let me know if I should send it to some other email-id.

[2020-09-18 10:03] tianyux-amz commented on #129
Hi @mj8894 ,

Thank you for reaching out.

Could you please provide the following information so we can better assist you:
1. What's the SDK version and Media version you are using?
2. Is the issue reproducible on the Android SDK demo app, or it's only reproducible on your own app?
3. Could you elaborate more regarding the "hands free call notification" and "hands free mode"?

Thanks,
Tianyu

[2020-09-18 17:25] mohitb117 opened #130 "The Chime SDK overrides application string identifier: @string/app_name"
**Describe the bug**
Building an Android App with the ChimeSDK gets the application wide string identifier: **@string/app_name** name overridden to **amazon-chime-sdk**.

Steps to trigger behavior
1.Integrate ChimeSDK with any Android App which has uses  **@string/app_name**.
2.Build the project.
3.Start the app.

Expected behavior
My app should keep its own name from string resources defined with

[2020-09-18 18:39] #57 closed

[2020-09-21 07:16] tianyux-amz commented on #130
Hi @mohitb117 ,

Thank you for reporting this!

While we are investigating the issue, feel free to use the workaround in [this SO post](https://stackoverflow.com/questions/33798564/android-an-external-library-changes-the-whole-app-name). We will get back to you once we have a plan for a fix. Thanks!

Best,
Tianyu

[2020-09-29 10:17] mj8894 commented on #129
Hi @tianyux-amz ,

I am using the latest version for both Chime Media and Chime

[2020-10-02 16:21] speedmetal opened #135 "RNVideoView overlay don't work"
**Describe the bug**
I have kept the call for 2 users only, where the other user's video would be full screen, and self video would be in a small box displayed over the full video. The videos are rendered using a RNVideoView component which is implemented natively by AWS Chime SDK, The problem is, when the small/self video view is rendered first it appears on top of the full video view, which is t

[2020-10-04 03:54] #119 closed

[2020-10-04 03:54] #96 closed

[2020-10-06 22:02] hokyungh commented on #135
Thank you for reporting. Do you mind closing this and reopen it in https://github.com/aws-samples/amazon-chime-react-native-demo/issues?

Just to confirm both Android/iOS are not able to control z index right?

[2020-10-07 09:26] speedmetal commented on #135
Yes the use of css z index is ignored and the RNVideoView seems to overflow the container.
If the RNVideoView has a Label on his left or right this is covered by the Video when a remote stream is connected.

-------------------------
| LABEL. | RNVideoView | <--- Label and RNVideo are inside different <View>
-------------------------
Al works fine when no stream video is connected and i see the la

[2020-10-08 13:00] varunchandran333 commented on #21
![image](https://user-images.githubusercontent.com/24404413/95461350-bf582700-0993-11eb-9823-aa51de84a5cb.png)
In my case it happend when I switch from mobile data to wifi. The preview got stuck and started to show this popup.

[2020-10-08 18:33] hokyungh commented on #61
Hi @rishuverkey would you mind opening a new ticket, so that we can label as new feature request. We currently don't have change quality Input like JS SDK, it would be new feature.

[2020-10-09 04:33] hokyungh opened #140 "Add uplink/downlink policy to control video resolution"
**Is your feature request related to a problem? Please describe.**
Builders do not have way to control the resolution of sending/receiving videos

**Describe the solution you'd like**
An API to control either send/receive video.

**Additional context**
JS SDK has `chooseVideoInputQuality` API: https://aws.github.io/amazon-chime-sdk-js/interfaces/audiovideofacade.html#choosevideoinputquality
Corres

[2020-10-09 07:19] rishuverkey opened #141 "Set camera capture resolution as per user requirement"
**Is your feature request related to a problem? Please describe.**
I am using amazon-chime-sdk-0.7.1 and amazon-chime-sdk-media-0.6.1
On starting the local video, the default resolution SDK provides me 960x720@15 . but this resolution is not available in our device preview sizes.

[code]

**Describe the solution you'd like**
Users should be able to set or update the default camera capture resoluti

[2020-10-09 21:45] IrvingCrespo opened #143 "Audio output keep configured with selected device"
When i start the meeting session with .start() this starts to send and receive audio, i don't configure video because i just use audio for voice calls. then, i stop the meeting with .stop() but the output audio still sounds in device that i configured, for example soptify's player sounds through the device[0] and i can't change this.

this is how i configure session
private fun configureMeeting(me

[2020-10-13 23:19] tianyux-amz commented on #141
Hi @rishuverkey,

We have a feature request #140 for specifying the sending/receiving video resolution and customize the video uplink/downlink policy. I am gonna close your issue as a duplicate and track the task in the master Github issue. Feel free to add more comments there if you have more questions/feedback regarding this feature request.

Thanks,
Tianyu

[2020-10-13 23:19] #141 closed

[2020-10-14 12:32] speedmetal commented on #135
Nobody care?

[2020-10-14 21:33] tianyux-amz commented on #135
Hi @speedmetal, I'm gonna resolve this issue as a dup of https://github.com/aws-samples/amazon-chime-react-native-demo/issues/23. Thanks!

[2020-10-14 21:33] #135 closed

[2020-10-21 15:18] k-zahid opened #148 "Unable to resolve reference for VideoClient in 0.7.4"
I am unable to build the project due to missing files
![Screen Shot 2020-10-21 at 6 17 23 PM](https://user-images.githubusercontent.com/69902166/96740751-ccc8d480-13c9-11eb-9904-aa3ff439c178.png)

[2020-10-21 18:49] hokyungh commented on #148
Do you know if you have media library as described https://github.com/aws/amazon-chime-sdk-android#2-download-binary?

[2020-10-22 05:38] k-zahid commented on #148
@hokyungh  Yes, the media library has been kept in amazon-chime-sdk-android/amazon-chime-sdk/libs folder.

[2020-10-22 05:51] hokyungh commented on #148
Do you mind pasting build.gradle file and your android studio version + gradle version?

Just to make sure if I understand process correctly. You have fresh cloned https://github.com/aws/amazon-chime-sdk-android and just downloaded the media library [amazon-chime-sdk-media-0.7.0.tar.gz](https://amazon-chime-sdk-android.s3.amazonaws.com/media/0.7.0/amazon-chime-sdk-media-0.7.0.tar.gz) into amazon-c

[2020-10-24 06:21] sreejeshklm-git commented on #148
using the latest amazon-chime-sdk-0.7.5.tar.gz and amazon-chime-sdk-media-0.7.1.tar.gz but still the class com.xodee.client.video.VideoClientDataMessageListener is missing

[2020-10-24 06:22] sreejeshklm-git opened #150 "class com.xodee.client.video.VideoClientDataMessageListener is missing"
using the latest amazon-chime-sdk-0.7.5.tar.gz and amazon-chime-sdk-media-0.7.1.tar.gz but still the class com.xodee.client.video.VideoClientDataMessageListener is missing

[2020-10-25 08:51] k-zahid commented on #148
@hokyungh  FYI
Project  build.gradle Screenshot
![Screen Shot 2020-10-25 at 11 49 14 AM](https://user-images.githubusercontent.com/69902166/97102642-3a218180-16b8-11eb-974e-184ccad67cba.png)
Amazon Chime SDK  build.gradle
![Screen Shot 2020-10-25 at 11 49 24 AM](https://user-images.githubusercontent.com/69902166/97102653-4b6a8e00-16b8-11eb-9233-ea21474f821b.png)
App  build.gradle
![Screen Shot 202

[2020-10-26 18:37] hokyungh commented on #148
Do you mind fresh cloning our project again and follow only https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app portion? I have fresh cloned again, but I don't see this issue.

[2020-10-26 21:15] tmilovan123 opened #152 "[Audio Issue] Active Speaker feature possibly affecting audio output during the call"
**Describe the bug**
During a call with a Web participant and an Android participant, there seem to be an Active Speaker feature or some noise cancellation algorithms that prevent two users from speaking simultaneously. The scenario is:
- User A (Android) joins the room and unmutes themselves. User A is on speaker.
- User B joins the room and unmutes themselves.

If the user A speaks loudly enough

[2020-10-26 21:16] tmilovan123 commented on #152
[Active Speaker issue log.zip](https://github.com/aws/amazon-chime-sdk-android/files/5441605/Active.Speaker.issue.log.zip)

[2020-10-26 21:44] tmilovan123 opened #153 "Implement TextureViewRenderer support"
**Is your feature request related to a problem? Please describe.**
In Android, both `SurfaceView` and `TextureView` could be used for video rendering. We used `SurfaceViews` at early stages, but then migrated to `TextureViews` in order to support quickly evolving product requirements for animations and View shapes.
The Chime SDK for Android currently only supports `SurfaceView` as a renderer targe

[2020-10-27 06:05] tianyux-amz commented on #153
Hi @tmilovan123,

Thank you for this feature request.

The goal for the mobile Chime SDK is to provide mobile developers with highly-reusable components that fulfill most common use cases. While I understand that `TextureView` can be handy for animations, image transformation, customer shapes, alpha-blended composite, etc., we still chose `SurfaceView` over `TextureView` for our `DefaultVideoRende

[2020-10-27 06:24] tianyux-amz commented on #152
Hi @tmilovan123,

Thank you for reporting this. We will try to reproduce the issue and come back with our findings. Just want to double check, have you made any changes to the Android demo when you ran into this?

Best,
Tianyu

[2020-10-27 16:13] tmilovan123 commented on #152
Hello @tianyux-amz ,

Thanks a lot for the prompt response!

I have made two modifications to the demo app:
- Added a log statement to print the `meetingId` right after the session configuration is created,
- Removed the conditional log printing for audio as suggested [here](https://github.com/aws/amazon-chime-sdk-android/issues/57#issuecomment-661241034) by @hokyungh .

Let me know if any info be

[2020-10-28 06:09] tmilovan123 commented on #153
Hi @tianyux-amz ,

That's a very good point - I did not realize that the `VideoRenderView` abstraction is used throughout the default implementation of other classes (like Controllers) and was under the impression we'd need to copy and alter some of them. It's a miss on my part.

Thank you for providing additional info about the `TextureView`/`SurfaceView` comparison. We're aware of these differen

[2020-10-28 07:39] tmilovan123 commented on #153
I was able to use an altered version of `TextureViewRenderer` with Chime SDK dependencies for `RendererCommon` and `VideoRenderer.I420Frame` with minimal changes and created a `TextureVideoRenderView` that worked successfully. Seems pretty easy! Now we're able to use `OutlineProvider` for custom shape and animations are before.

[2020-10-29 09:25] mmmaxi opened #158 "Mute Before/On Meetingjoin"
**Describe the bug**
We are trying to implement a feature which allows a user to join a meeting without mic activated. To achieve this we are triggering the function `realtimeLocalMute()` once the user joined the meeting.

We are now experiencing issues with this function. On some devices the function seems to take more than 15s to mute the attendee. Is it possible to disable the microphone before

[2020-10-29 16:44] tianyux-amz commented on #158
Hi @mmmaxi ,

We currently do not support mute before meeting join. The recommended way to do this is to call `realtimeLocalMute()` in your `onAudioSessionStarted()` handler as the first thing to do. Is this what you are currently doing now? Also, on the devices that can repro this issue, do you see 15sec delay all the time, or it's intermittent?

Best,
Tianyu

[2020-10-29 16:56] tianyux-amz commented on #153
Cool! Anything else before we can close this issue?

[2020-10-29 17:17] tmilovan123 commented on #153
Nothing in terms of immediate support, thanks!

Is my understanding correct that you have no plans to embed the support of `TextureViews` into the SDK itself? It will be just adding two classes, `TextureViewRenderer` and something like `TextureVideoRenderView` (similar to `DefaultVideoRenderView`). We can share a Gist if you're interested.

[2020-11-03 00:31] tmilovan123 opened #160 "[Audio issue] Echo and sound distortion when Samsung S10+ is used on the call"
**Describe the bug**
Our use case suggests two participants in the room: one is always Web, one is mobile. During testing, we noticed a specific issue that could only be reproduced when the mobile side uses a Samsung S10+ phone.

A - the web participant using the default macOS mic and speaker,
B - the mobile participant (on Samsung S10+) using phone speaker and no headset.

When A and B join the r

[2020-11-03 00:52] tmilovan123 commented on #160
This is the approximate code for initialization we have (the order should be the preserved):
[code]

[2020-11-06 04:25] varunchandran333 opened #167 "The video streaming still continues after removing application from recent stack"
**Describe the bug**
I made a successful communication between the web portal and android using AWS chime. Then I move my app to background and remove the application from the recent application.
Still, I can see my video received in the Web portal. It's a serious security issue.
I have tested the same in 4 devices and versions and it happens only in 2 devices.
The meeting started using activity,

[2020-11-06 17:02] alexmccabe commented on #158
The way I handle this is basically how it's described above, when the meeting has successfully been joined, dispatch `success = meetingSession.audioVideo.realtimeLocalMute()`. I do this in a separate call as it may be that someone _doesn't_ want to mute on joining, so having it in the `onAudioSessionStarted` observer could prevent you from doing that.

The downside to this is there may be a slight

[2020-11-06 21:59] hokyungh commented on #167
Thank you for reporting.
Do you know if it continues to display for a long period of time? I am trying to see if android took a while to actually kill the app.

Would you also be able to paste the full logs?

[2020-11-07 22:06] #129 closed

[2020-11-07 22:06] #130 closed

[2020-11-09 03:54] varunchandran333 commented on #167
It continued for a long, didn't take the exact time. I will try to identify that. Logs not available at the moment. will look into it too.

[2020-11-09 17:57] hokyungh commented on #150
@sreejeshklm-git do you mind if fresh re-cloning as described here https://github.com/aws/amazon-chime-sdk-android/issues/148 works?

[2020-11-10 19:07] #158 closed

[2020-11-15 22:31] Otephia commented on #74
I have same problem! +++

[2020-11-17 23:26] dchen-aws commented on #160
@tmilovan123 can you try to involve a 3rd participant C on the call, maybe also using web and see if what is the experience for C when A speaks. Wanted to see if it's an audio input (on web) or output issue. Thanks!

[2020-11-23 08:34] aryapkurniawan15 opened #183 "Smaller DefaultVideoRenderView Overlapping Doesn't Work"
I'm trying to create a 1 to 1 video call app with 2 overlapping screen, one of them with a full screen size and the other one on top right corner. On API level 23(Samsung Galaxy S7) the app works fine, however when tested on API level 29(Xiaomi Pocophone F2 Pro) the smaller screen is seemingly gone from the activity. The problem is quite similar with https://github.com/aws-samples/amazon-chime-rea

[2020-11-24 17:12] tianyux-amz commented on #183
Hi @aryapkurniawan15, as mentioned in https://github.com/aws-samples/amazon-chime-react-native-demo/issues/23#issuecomment-733075258, the solution should work for both Java and Kotlin. Could you please provide a minimal Java demo that can reproduce the issue on Xiaomi Pocophone F2 Pro?

[2020-11-24 21:45] linsang21 commented on #121
We have launched the new [getActiveAudioDevice](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.device/-default-device-controller/get-active-audio-device.html) API in our latest release [0.8.1](https://github.com/aws/amazon-chime-sdk-android/releases).
You can also refer to [demo app](https://github.com/aws/amazon-chime-sdk-android/blob/705

[2020-11-24 21:45] #121 closed

[2020-11-24 21:54] aryapkurniawan15 commented on #183
Hi @tianyux-amz thanks for replying!

I have tried implementing method setZOrderMediaOverlay(isOnTop) on both the local and remote video view in the event of loading the video tile for both views. I have also found that if i change the order of view placed in my activity's xml(i used ConstraintLayout as parent layout), it will behave differently on api level 21 and 29. The smaller one on api level

[2020-11-25 13:43] ribafish opened #186 "onVideoTileAdded sometimes not called for videos added"
**Describe the bug**
`onVideoTileAdded` callback is not always called when an attendee enables his video. This is not tied to a specific device or even only to android platform - it happens (on android) even with a cross-platform call. `onVideoTileAdded` is also not (always) called when the local video is started. We get all the correct `onVideoTileRemoved` events, but not `onVideoTileAdded`.

**T

[2020-11-25 18:30] linsang21 commented on #87
Hello there, checkout [Custom Video Sources, Processors, and Sinks](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/custom_video.md) we launched recently, which also provide [flashlight access](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.audiovideo.video.capture/-default-camera-capture-source/torch-enabled.html) on th

[2020-11-25 18:30] #87 closed

[2020-11-25 23:33] tianyux-amz commented on #186
Hi @ribafish,

Could you [enable verbose logging in the Logger](https://github.com/aws/amazon-chime-sdk-android/blob/d01809c20751f00b97019f988b6f3dcbaa8cb379/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/utils/logger/Logger.kt#L16) to gather detailed logs? This will collect verbose logs from media side and help us understand what was going on. Thank you!

Best,
Tianyu

[2020-11-26 04:37] aryapkurniawan15 commented on #183
Hi @tianyux-amz i have an update. It turn out that i was able to fix the issue and was wrong on my xml setting. Thanks for the attentions!

[2020-11-26 04:37] #183 closed

[2020-11-26 08:53] ribafish commented on #186
[chime_verbose_log_onVideoTileAdded_missing.txt](https://github.com/aws/amazon-chime-sdk-android/files/5601558/chime_verbose_log_onVideoTileAdded_missing.txt)
 This is the log I managed to capture - The start is missing, as it doesn't happen always, but after starting/stopping the video it does. Here you can see multiple consecutive `onVideoTileRemoved` outputs for the same attendee. I hope this h

[2020-11-30 19:47] tianyux-amz commented on #186
Hi @ribafish,

Thanks for providing verbose logs. I checked the log and seemed like the SDK could subscribe the video stream properly. I did notice that there was no [`unbindVideoView`](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.audiovideo.video/-video-tile-controller-facade/unbind-video-view.html) call after each `onVideoTileRemoved`

[2020-12-02 17:26] ribafish commented on #186
Hi @tianyux-amz ,

Thanks for helping, but as we show only one stream at a time (decided by activeSpeaker functionality), the times you didn't see `unbindVideoView` after `onVideoTileRemoved` was when that video was not bound before this, as the video did not belong to the active speaker.

You can also find another log, which has capture from the beginning of the call here: [Uploading chime_verbos

[2020-12-03 00:55] tianyux-amz commented on #186
Hi @ribafish,

Thanks for providing details regarding your implementation. I understand that you are not binding view to newly added videos that do not belong to active speakers. However, the current SDK implementation always adds metadata of the new video to the internal cache, even you did not explicitly bind the video. The internal cache will be cleared only after you call `unbindVideoView `. I

[2020-12-03 10:28] ribafish commented on #186
Hi @tianyux-amz ,

Thank you for the quick reply. Now that I added that video is unbound unconditionally when `onVideoTileRemoved` is called it seems to work well. I saw that you opened a PR with the change you proposed, which is great.

Just another clarification (both for before and going forward): In our case, where we're displaying a single video at a time, are we expected to call `unbindVideo

[2020-12-05 02:56] tianyux-amz commented on #186
When you call `bindVideoView(videoView, tileId)`, if `videoView` was bound to a different tile id before, or if `tileId` was bound to a different video render view before, it will automatically unbind and rebind with the new parameters. So you don't have to call `unbindVideoView` before calling `bindVideoView`.

[2020-12-07 23:35] hensmi-amazon commented on #153
This was added in latest release (code [here](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/gl/TextureRenderView.kt)) with help of @tmilovan123 :) ).

[2020-12-07 23:35] #153 closed

[2020-12-07 23:39] hensmi-amazon commented on #107
Green flicker and crashes due to corrupted frames have been fixed in latest release, @abhishekBansal could you try 0.8.1 ?

[2020-12-07 23:43] hensmi-amazon commented on #100
Hi @HQarroum if desired to add picture capture to the ongoing camera capture stream, you can look to [creating a custom camera source](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/custom_video.md#implementing-a-custom-video-source-and-transmitting) similar to `DefaultCameraCaptureSource` which has additional APIs for capturing pictures using system APIs.

Let me know if this

[2020-12-07 23:45] hensmi-amazon commented on #93
Hi @HQarroum if desired to add zoom level to the ongoing camera capture stream, you can look to [creating a custom camera source](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/custom_video.md#implementing-a-custom-video-source-and-transmitting) similar to `DefaultCameraCaptureSource` which has additional APIs for capturing pictures using system APIs.

For recording, we may in

[2020-12-09 07:51] tmilovan123 opened #189 "AudioManager's mode should always be reset from MODE_COMMUNICATION when stop() is called"
**Describe the bug**
It seems like creating `DefaultMeetingSession` changes the AudioManager's mode to 3 (`MODE_IN_COMMUNICATION`) in `DefaultDeviceController`'s init block.
However, the session gets truly started with the explicit `start()` call. Only if the session was started, the call to `stop()` will reset the mode back.
If the user decides not to join the call, the `MODE_IN_COMMUNICATION` sh

[2020-12-09 18:34] zhinang-amazon commented on #143
Hi @IrvingCrespo,

Can you try moving the `mSession?.audioVideo?.chooseAudioDevice(aDevices.get(0))` call to your audioVideoObserver instead of before ` mSession?.audioVideo?.start()`?
`AudioVideoObserver.onAudioSessionStarted(reconnecting: Boolean)` [API](https://github.com/aws/amazon-chime-sdk-android/blob/development/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audio

[2020-12-15 21:26] hensmi-amazon commented on #58
You should now be able to accomplish a min resolution with a few fairly straightforward steps.  First you will need to [create and set the format](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/custom_video.md#using-the-provided-camera-capture-implementation-as-a-custom-source-to-access-additional-functionality) externally on the camera capture feed.  To hint to the SDK to main

[2020-12-19 08:26] #148 closed

[2020-12-21 14:21] rlebosse opened #198 "Microphone stops working after some time when the app goes in the background"
* I join a Chime Meeting in which i'm able to hear the other attendees and the other attendees are able to listen to me.
* I put the Android app in the background (for instance I go back to the home page or into another app)
* During a short time (let's say 1 min 30 sec), I'm still able to hear and to be heard
* After this short time, the ability to hear the others remain, but nobody can hear what

[2020-12-21 16:19] LilianAlvarez123 opened #199 "Automatic selection of audio output."
**Describe the bug**
When I connect a bluetooth headset to my Android Phone, the sound of a live is not getting through it.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch a live on an Android phone : cut the camera and microphone.
2. Launch a live on the web with the microphone on.
3. Connect a bluetooth headset to the android phone
4. Start speaking from the web.
5. The audio output

[2020-12-21 19:32] hokyungh commented on #198
Hi. This is due to Android killing any background app. You need to use [service](https://developer.android.com/reference/kotlin/android/app/Service) to keep the app running in Android. Let us know if this worked out.

[2020-12-21 20:54] hokyungh commented on #107
Closing this issue as this has been resolved. Feel free to reopen if you have any issue.

[2020-12-21 20:54] #107 closed

[2020-12-22 00:10] hokyungh commented on #199
Hi @LilianAlvarez123, could you try implement similar as [MeetingFragment](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/fragment/MeetingFragment.kt#L454). So basically,
[code]

We are currently letting users to handle logic. If you wish to request it as feature to automatically control, we can put it as feature request

[2020-12-22 08:18] rlebosse commented on #198
Thanks for your answer.

It seems to work with a service however I don't understand why I can keep hear the other attendees BUT they cannot hear me while the app is in the background 😐

[2020-12-22 14:45] LilianAlvarez123 commented on #199
Hello @hokyungh. Thanks for the feedback. I am so sorry I forgot to mention, I am using the React Native version.

Not sure it's the same answer then. The MeetingFragment is part of the SDK right ? Does that implies I need to rebuild it after adding this method ? Thanks for the feedback.

[2020-12-22 20:02] hokyungh commented on #198
Hi @rlebosse, my best guess is Android/vendor privacy policy. With higher Android version, these are more restrictive. Some of privacy permission includes microphone, location, and camera. Since microphone is one of the permission, I think some devices might restrict you to access it in the background unless explicitly requested.

[2020-12-23 23:14] alnlau commented on #199
Hello @LilianAlvarez123,

The `MeetingFragment` is part of the Android demo app. You'll still have to add a `DeviceChangeObserver` and implement `onAudioDeviceChanged` to handle the logic for switching to the new device.

[2020-12-24 13:57] ajkerfaisal commented on #183
@aryapkurniawan15 requesting you provide the solution. I am facing the same issue.

[2020-12-30 18:15] linsang21 commented on #186
Hi @ribafish, PR has been merged with v.0.9.0. Maybe you can try out with your original implementation, if that is preferred.
 Also let us know if there's further question regarding the issue.

[2020-12-30 18:15] #186 closed

[2020-12-30 21:28] linsang21 commented on #83
@maplefeng-cn I'm going to close the issue since it's been inactive for a while. Please let us know if the issue persists with the new version.

[2020-12-30 21:28] #83 closed

[2021-01-06 22:31] nealmanaktola opened #204 "Bind video tiles to multiple render views"
**Is your feature request related to a problem? Please describe.**
It seems like we can't bind a tile id to multiple videos. i.e have an attendee show up multiple times.
Is there a reason why this is not possible?

It seems like this is brought up in the past for iOS as well
https://github.com/aws/amazon-chime-sdk-ios/issues/95

**Describe the solution you'd like**
bindVideoView can be used to bin

[2021-01-07 23:03] hensmi-amazon commented on #204
Currently it is by design that we maintain a 1:1 mapping from `TileId` to bound `VideoTile`.  To help us improve our SDK could you explain your use case if possible?

There is a workaround by binding a custom sink as covered in [this guide](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/custom_video.md#implementing-a-custom-video-sink-for-remote-sources).  You should be able to

[2021-01-08 02:10] nealmanaktola commented on #204
Thanks for this, would you have an example for this on iOS as well?

[2021-01-08 03:25] hensmi-amazon commented on #204
They should be nearly identical.  Taken mostly from the respective iOS guide [here](https://github.com/aws/amazon-chime-sdk-ios/blob/master/guides/custom_video.md#implementing-a-custom-video-processing-step-for-local-source):

[code]

[2021-01-10 22:34] james04gr opened #212 "Implement Picture-In-Picture mode"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-11 07:28] tianyux-amz commented on #212
Hi @james04gr,

Thank you for contacting us. You should be able to implement a picture-in-picture feature by properly positioning two `VideoRenderView`s so that a smaller view overlaps with a bigger view, and you bind two videos on them. You can find some related information here: https://github.com/aws/amazon-chime-sdk-android/issues/183

Have you tried adding two overlapping `VideoRenderView`s?

[2021-01-11 07:43] tianyux-amz commented on #204
Resolving as we provided code samples to implement this using `VideoSink`.

[2021-01-11 07:43] #204 closed

[2021-01-16 08:55] Gazyu opened #217 "Unable to start sending local camera video on devices without a front camera"
**Describe the bug**
For Android devices without a front camera, "startLocalVideo" will not be able to start sending local camera video data.

This issue occurs when using "DefaultCameraCaptureSource.kt".

If there is no front camera, the "device" property in "DefaultCameraCaptureSource.kt" will be initialized to null.
I want to change to the back camera by call the "switchCamera" method.
However,

[2021-01-19 22:13] hokyungh commented on #217
@Gazyu Thank you for opening an issue and for detailed investigation. For a workaround, would you be able to implement your own `DefaultCameraCaptureSource` and call [`startLocalVideo`](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.audiovideo/-default-audio-video-facade/start-local-video.html) with your video source.

[2021-01-20 22:50] hokyungh commented on #198
I'll close the issue. Feel free to reopen if you have any question.

[2021-01-20 22:50] #198 closed

[2021-01-21 09:07] Gazyu commented on #217
@hokyungh
Thank you very much for your reply and Pull Request.
And I was able to work around the issue by creating the original DefaultCameraCaptureSource you told me about.

Thank you.

[2021-01-24 22:51] tmilovan123 opened #220 "SDP issues when using both Chime SDK and vanilla WebRTC for calls in the same app"
**Describe the bug**
If one application utilizes both Chime SDK and vanilla WebRTC implementation (e.g. AppRTC) in the same app, and two calls using different vessels are done in a single application run (first Chime, then WebRTC), the second call fails on the CreateOffer step due to a malformed SDP.

**Failure scenarios**
Our app is transitioning from using vanilla WebRTC to using Chime SDK, and

[2021-01-25 21:16] tmilovan123 opened #221 "Crash in DefaultSurfaceTextureCaptureSource"
**Describe the bug**
This does not happen every time, but sometimes the app crashes when displaying the local preview and then transitioning into the call. The stack trace below.

**To Reproduce**
Basically, the chain of events is:
1. Create a custom `CameraCaptureSource` and start a local video preview onto a `TextureRenderView`
2. Start a meeting with another `TextureRenderView`
3. Bind a local

[2021-01-26 06:56] hokyungh commented on #221
Thank you for opening the issue. We'll investigate and keep this thread updated for any PR for the fix.

[2021-01-26 17:56] tylerlot opened #222 "Reconnection: Mobile Video Send Bug"
**Describe the bug**
Wanted to report a bug for the mobile client’s video reconnection logic between the mobile and web sdk. When we force the mobile client to reconnect to a meeting (toggling mobile device WiFi/LTE off/on, no web changes), we notice that after the mobile client reconnects, the mobile-video-send is not received by the web client (web client sees audioVideoTileWasRemoved fires afte

[2021-01-27 07:56] JHetzel opened #224 "Local Video not working if fpsRange max is higher than 15 FPS"
**Describe the bug**
On some Devices, where the max values of the available fps ranges are higher than 15, the local video won't start.

**To Reproduce**
Steps to reproduce the behavior:
1. Use e.G. the Samsung Note 4
2. Start the call
3. Activate local video
4. No Video is active and the log prompts "No FPS ranges below set max FPS"

**Expected behavior**
The local video should be started

**Logs

[2021-01-27 10:12] yboyer opened #225 "Fallback on a lower ordered `MediaDevice`"
**Describe the bug**
Connected to a bluetooth speaker, the code seems to detect that my bluetooth device doesn't have a microphone so it fallback to the handset device.

**To Reproduce**
1. Connect the BT speaker (Bose SoundLink Mini)
2. Start a live
3. Call `chooseAudioDevice(…)` with the `MediaDeviceType.AUDIO_BLUETOOTH` type in the `onAudioSessionStarted(…)` method
4. A fallback is done to the

[2021-01-27 20:41] nealmanaktola opened #226 "Crash on start meeting latest sdk 0.10.0"
**Describe the bug**
Getting a crash when starting a meeting with latest 0.10.0

**To Reproduce**
1. Start Meeting

**Expected behavior**
Should not crash

**Logs**
2021-01-27 15:36:17.550 3209-3209/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
2021-01-27 15:36:17.551 3209-3209/? A/DEBUG: Build fingerprint: 'google/blueline/blueline:11/RP1A.200720.009/6720564:user/rele

[2021-01-28 17:01] zhinang-amazon commented on #7
Hi all, we added support for screen sharing from Android devices in the latest 0.10.0 release.
Take a look at this [guide](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/content_share.md) and our demo app in this repo for reference.

[2021-01-28 17:01] #7 closed

[2021-01-30 18:48] hansemannn commented on #52
Any update here? It would really help adopting a larger user base and make it easier to upgrade this project. Thanks in advance!

[2021-02-01 18:50] tmilovan123 commented on #220
Hello,

Is there any update on this one?

Thanks in advance!

[2021-02-02 13:29] hansemannn opened #230 "Flip / mirror / transform camera?"
**Describe the solution you'd like**

On iOS, we are able to flip/mirror/transform the camera (using the `mirror: true`) property. We have been searching for an Android API, but haven't found one. Is there one already or can we help exposing it? Thank you!

[2021-02-02 13:33] hansemannn commented on #230
Already found it: `DefaultVideoRenderView.mirror` :-)

[2021-02-02 13:33] #230 closed

[2021-02-02 20:13] zhinang-amazon commented on #220
Sorry for the late response. I have ask our Media team to start investigating on this issue. Our team will provide update on this

[2021-02-04 06:35] tmilovan123 opened #231 "Peer Discovery after reconnect"
**Describe the bug**
Not sure if this is a bug, feel free to change the type to "feature" or "question".

What would be the correct way to discover remote attendees presence after local reconnect? `RealtimeObserver#onAttendeeXXX(...)` callbacks don't seem to be consistently reflecting the changes after the meeting is reconnected on both sides.

A use case we're seeking is a conversation between tw

[2021-02-04 17:46] zhinang-amazon commented on #222
Thanks @tylerlot for reporting this.
Our team is currently investigating this issue

[2021-02-04 18:16] zhinang-amazon commented on #226
Hi @nealmanaktola
Apologies for the late response, I'm not able to reproduce this with our demo app.
How consistent is this issue for your?

Can you try to reproduce with our demo app?

[2021-02-04 19:18] tmilovan123 commented on #160
Hi @dchen-aws , I apologize for the late reply, I have missed your comment on this issue.
It will be somewhat difficult to do since our use case setup only expects two participants, but we can possibly work around and add a 3rd one for this test.
The current actions from our side: the QA team will retest this with the latest version of the app and the Chime SDK binaries and see whether the issue s

[2021-02-05 15:39] nealmanaktola opened #234 "Crash: Fatal Exception: java.lang.RuntimeException: Failed to query context"
**Describe the bug**
I am seeing these crashes. Looking at the source code seems like it gets triggered when `eglQueryContext` returns false. However, I don't have clear steps to reproduce this. Generally happens when there are multiple renderviews triggered on screen.

**To Reproduce**

No clear steps.
**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**

[2021-02-05 17:31] zhinang-amazon commented on #231
Hi @tmilovan123 ,
While android attendee is disconnected, it will miss the RealtimeObserver events from other attendees.
We will consider this as a feature request.

[2021-02-05 17:36] tmilovan123 commented on #231
Hi @zhinang-amazon ,

Sorry, I want to be really clear here - I don't expect them to be notified *while* they have been disconnected, but *after* they got reconnected. I have checked with Web and iOS, and it seems that right after the local participant reconnects, they receive `onAttendeeDropped` callback with the list of the users removed while they were disconnected.

So this seems to be working

[2021-02-05 18:10] hokyungh commented on #225
@yboyer Thank you for opening issue. When you say fallback, do you mean it wasn't able to select bluetooth device or when you remove the device?

Currently we are letting builders handle the logic of changing device.

In this case, you can add device observer [DeviceChangeObserver](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.audiovideo/

[2021-02-06 00:23] hokyungh commented on #189
Hi this should have been released. Let us know if you still encounter same issue.

[2021-02-06 00:23] #189 closed

[2021-02-06 00:28] alnlau commented on #217
Hello,

The fix was included in yesterday's release. Let us know if you are still encountering this issue.

[2021-02-06 00:28] #217 closed

[2021-02-08 08:59] yboyer commented on #225
Yes, it doesn't appears when I remove the device but when it fails to select the device. I don't have any indication that the `chooseAudioDevice(…)` has failed.. Is there a way to detect that ? 😕

[2021-02-08 18:41] zhinang-amazon commented on #199
Closing since we have not heard back. Feel free to reopen if this remains an issue.

[2021-02-08 18:41] #199 closed

[2021-02-08 18:50] hokyungh commented on #167
Hello @varunchandran333 were you able to successfully handle the case?

You can call `audiovideo.stop()` when app is killed to explicitly release resources.

[2021-02-08 18:55] zhinang-amazon commented on #150
Closing since we have not heard back. Feel free to reopen if this is still an issue.

[2021-02-08 18:55] #150 closed

[2021-02-08 19:21] alnlau commented on #52
Unfortunately, it is currently not prioritized. We will provide an update when this changes.

[2021-02-08 19:22] alnlau commented on #152
Media team took a look a while back and testing showed that it was a hardware issue.

[2021-02-08 19:22] #152 closed

[2021-02-08 19:27] zhinang-amazon commented on #58
Closing since we have provided solution. Feel free to reopen if you have more questions.

[2021-02-08 19:27] #58 closed

[2021-02-08 19:31] alnlau commented on #93
Let us know if you have further questions or if the provided suggestion does not work for you

[2021-02-08 19:31] #93 closed

[2021-02-08 19:32] alnlau commented on #212
Let us know if you have further questions or if the provided suggestion does not work for you

[2021-02-08 19:32] #212 closed

[2021-02-08 19:33] alnlau commented on #100
Let us know if you have further questions or if the provided suggestion does not work for you

[2021-02-08 19:33] #100 closed

[2021-02-08 23:14] hokyungh commented on #114
Hello @ribafish sorry for late update on the thread. From [0.8.0](https://github.com/aws/amazon-chime-sdk-android/blob/master/CHANGELOG.md#080---2020-11-17), A2DP devices were removed from the list since it doesn't allow two way communication.

Feel free to reopen it if you have any further concern.

[2021-02-08 23:14] #114 closed

[2021-02-09 20:47] nealmanaktola opened #236 "Video frames are not being received on larger calls (8-10+) participants"
**Describe the bug**
Video frames are not being received from time to time
On a call with multiple participants (i.e 10+), new video frames are not being received consistently. i.e sometimes you'd have 5 frames appear then you'd wait a few seconds to get a few more frame. This generally tends to happen when there are multiple views mounted on the screen.

 I have inspected the VideoTile state and

[2021-02-10 17:22] tmilovan123 commented on #160
Our QA team has re-tested this and did not find any existing issues. Closing.

[2021-02-10 17:22] #160 closed

[2021-02-10 18:26] linsang21 commented on #234
Hi there, couple questions to get clarified, more to understand your implementation and use cases.

What do you mean by triggered? Do you mean multiple render views binding the video tiles?

Did this happen for local video or remote video?

Do you use external video source other than 'audioVideo.startLocalVideo`?

Even though you may not able to reproduce consistently, would you describe in detail

[2021-02-10 18:46] nealmanaktola commented on #234
It can happen for local or remote video tiles. We don't use any external video source.

In our implementation, people can come in an out of a meeting, and we re-order the video tiles based on who's video is enabled. As a result, in the shuffling, render views are unmounted and mounted  frequently.  When a renderview is mounted on screen, the following steps happen
1. Create the render view
2. Bind

[2021-02-10 18:46] nealmanaktola commented on #226
Will try with the demo

[2021-02-10 19:32] linsang21 commented on #236
Hi, if I understand correctly, is the issue some of video tiles stopped sending frames with 10+ attendees/ongoing video tiles in a meeting and the state were "Unpaused"?

In general, receiving multiple remote video on mobile device could encounter pause base on the network condition. The video bandwidth on mobile list as below: (N - remote video #)
* 1-6  participants: HD: 1650kbps up, 1400*(N-1)

[2021-02-10 20:08] linsang21 commented on #234
I see. So basically you just display the available videos of attendees in the meeting. Instead of creating render views for each attendee upon attendee presence events (join/leave), do you think you can maintain the bound video view collection and only create view when new video added?
Something like:
[code]

[2021-02-10 20:29] nealmanaktola commented on #236
I attached the debugger via Android Studio, looked at the videoTileMap https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/DefaultVideoTileController.kt#L45 over here.

Inspected the `VideoTileState`

https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazon

[2021-02-10 20:29] linsang21 commented on #224
We have identified the issue and fixed on [0.9.1](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.9.1).
[code]

Would you give it a try? Let us know if the issue persists.

[2021-02-10 20:29] #224 closed

[2021-02-10 21:51] linsang21 commented on #236
Gotcha, the state is expected to be unpaused when there's still video frames coming in. Considering the resource and network bandwidth is limited on mobile devices, receiving and rendering large amount of videos at the same time might not be efficient. As in our sample app, we shows 4 video tiles at once and pauses the rest, resume only when displaying.

[2021-02-10 22:27] nealmanaktola commented on #236
So as suggested in your guides, even with the 4 active unpaused tiles, and the rest paused, we are still seeing this issue.
To put it in better terms:
Let's say we have 12 render views mounted on screen
8 of which are paused
4 are of active
**The four that are active still see missing frames.**

However, if we only show the active unpaused tiles, so there are only 4 renderviews mounted to the scre

[2021-02-10 22:31] nealmanaktola commented on #234
Yep, so we are doing something similar to mitigate this issue. But, I think the root cause of the issue should be identified, or perhaps return a non critical exception, so either the developer can try to recreate the view

[2021-02-15 18:55] linsang21 commented on #225
Hi @yboyer, sorry for any confusion. As we suggested in the [Use case 4. Choose an audio device by passing a MediaDevice object.](https://github.com/aws/amazon-chime-sdk-android#use-case-4-choose-an-audio-device-by-passing-a-mediadevice-object), the SDK expect you to call `chooseAudioDevice` with a media device that returned from `listAudioDevices`, which indicates they are supported in the meetin

[2021-02-15 23:44] linsang21 commented on #143
Hi @IrvingCrespo, could you also provide the SDK version and device model?
FYI, we had patched the issue that audio manager mode doesn't restored after meeting stops from [0.5.3](https://github.com/aws/amazon-chime-sdk-android/blob/master/CHANGELOG.md#changed-7). Please let us know if you still encounter the issue.

[2021-02-17 00:52] zhinang-amazon commented on #236
Hi @nealmanaktola,
When the video is paused, it still uses some EGL resources, which are released on [`unbindVideoView(tileId: Int)`](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/DefaultVideoTileController.kt#L179) and Android specific.
And it would explain why you see a much better experience

[2021-02-17 18:10] yboyer commented on #225
Yes, I select the bluetooth device (the Bose speaker) from the list returned by `onAudioDeviceChanged(…)` or `listAudioDevices()` and it automatically falls back to the handset device without notification. Does the SDK do this? This doesn't happen with wireless earbuds for exemple. I just want to hook this fallback if it comes from your SDK..

I understand the complexity to select the input from o

[2021-02-17 18:34] linsang21 commented on #225
Interesting!
Is this speaker also come with a microphone? Have you tried use it on a phone call or any other VOIP call?

Do you mind turn on the **debug** log level on your app and provide logs to us?

[2021-02-17 20:10] nealmanaktola commented on #236
got it. @zhinang-amazon are video tiles unpaused by default? i.e if i join a call, but im not showing any video render views, im assuming ill be receiving all the traffic for all the tiles

[2021-02-17 21:02] zhinang-amazon commented on #236
Hi @nealmanaktola,
You will start receiving video streams after invoking `startRemoteVideo()`
Please take a look at our documentation [here](https://github.com/aws/amazon-chime-sdk-android#use-case-11-start-receiving-remote-videos)

[2021-02-18 20:45] nealmanaktola commented on #236
thanks.

[2021-02-18 20:49] zhinang-amazon commented on #236
Closing this issue. Feel free to reopen if you have more questions.

[2021-02-18 20:49] #236 closed

[2021-02-20 02:06] hensmi-amazon commented on #220
The fix has been made to remove the loose libwebrtc symbols from our media lib binary and verified with requester.  This will be included in next release, after which I will close this ticket.

[2021-02-25 11:21] carlol opened #242 "Bluetooth devices labels doesn't have any correspondence with the system ones"
Hi,

thank you in advance for your time.

**Describe the bug**
When I obtain the audio device choices available using the proper method of the Android SDK, MediaDevice label property contains a string not corresponding with the current label I can see if I check the devices using Android's methods, so it is impossible to create a correspondence between android-system BLE detection and chime audio

[2021-02-26 03:07] hokyungh commented on #242
Thank you for reporting.

Are you trying to connect multiple bluetooth devices and check which device is getting audio?

If this is single device, the device has bluetooth as type, so you could easily map.

We currently read from Android API without remapping to `BluetoothHeadset`, so this could be new feature request.

However, it could be very tricky with multiple bluetooth devices present, espe

[2021-02-26 10:29] carlol commented on #242
Hi, in my case two bluetooth devices are connected but only one of theme has "Bluetooth" in its label, the other one contains "Handset".
What could be the distinction provided by the internal logic?

Best regards

[2021-02-26 23:30] hokyungh commented on #242
Could you check if Handset does map to one of your bluetooth device? For Android, I don't think it allows you to have multiple bluetooth devices with calls. You can have multiple connection, but audio will route through only one and our `DefaultDeviceController` should return only one.

You can use [isAudioActive](https://developer.android.com/reference/android/bluetooth/BluetoothHeadset#isAudioCo

[2021-02-28 15:56] revox-gh opened #244 "Distribute Chime Android SDK via Maven / JCenter"
Manually handling .aar files on Android can be very critical, especially when it comes to larger multi-dependency projects. Therefore, I'd like to suggest adding support for Maven / JCenter, so developers can update the Chime SDK more easily and don't have to manage the artifacts manually.

This is the way to go for nearly all other video chat competitors, so from a business perspective, it will a

[2021-03-01 13:02] revox-gh opened #245 "CameraCaptureSession: android.hardware.camera2.CameraAccessException"
**Describe the bug**
The following stack trace is shown when running the sample project on a Pixel 5 with Android 11:
[code]

**Test environment Info (please complete the following information):**
 - Device: Pixel 5
 - OS: Android 11
 - Version amazon-chime-sdk: 0.11.1
 - Version amazon-chime-sdk-media: 0.11.1

[2021-03-01 17:59] hokyungh commented on #244
Thank you for opening the issue. Since there is another thread open for MAVEN support, I'll close this issue and update it https://github.com/aws/amazon-chime-sdk-android/issues/52.

[2021-03-01 17:59] #244 closed

[2021-03-01 22:15] hokyungh commented on #245
Hi I wasn't able to reproduce this on Pixel 4, 5 (Android 11) with our latest SDK

Do you mind pasting `app/build.gradle`?

[2021-03-03 09:09] Doko-Demo-Doa opened #246 "Crash upon startRemoteVideo()"
**Describe the bug**

I'm using the example [here](https://github.com/aws-samples/amazon-chime-react-native-demo) (React Native, with modifications to work with latest Chime library (0.11.1)):

**To Reproduce**

Run the app and whenever I enable `it.audioVideo.startRemoteVideo()`, the app crashes. Commenting that line will make it works, but no video of course. So far I only need:

- Audio call.
-

[2021-03-03 11:23] Doko-Demo-Doa commented on #246
More info: In the observer, video events seem to stop at:

[code]

and no further.

[2021-03-04 03:48] Doko-Demo-Doa commented on #226
@nealmanaktola How did you solve it?

[2021-03-04 21:00] adesun2k opened #247 "Can I record call locally in-app? not on server but on the device. I mean just record the call even if is just the voice? Thanks"
Can I record call locally in-app? not on server but on the device. I mean just record the call even if is just the voice?
Thanks

[2021-03-05 11:24] adesun2k opened #249 "Observers sometimes and randomly does not get called even when call has connected."
Observers sometimes and randomly does not get called even when call has connected.
i.e. subscribeToAttendeeChangeHandlers()  does not subscribe sometimes
private fun subscribeToAttendeeChangeHandlers() {
        audioVideo.addAudioVideoObserver(this)
        audioVideo.addDeviceChangeObserver(this)
        audioVideo.addMetricsObserver(this)
        audioVideo.addRealtimeObserver(this)
        aud

[2021-03-05 15:08] #249 closed

[2021-03-05 19:33] dylonChime commented on #221
This was fixed with release (0.11.1). Feel free to reopen if the issue re-emerges.

[2021-03-05 19:33] #221 closed

[2021-03-05 23:34] dylonChime commented on #247
We don't currently support this. I will leave this open as a feature request.

[2021-03-08 19:56] dylonChime commented on #246
Thanks for your patience @Doko-Demo-Doa. We are looking into this issue.

[2021-03-08 21:59] tmilovan123 commented on #231
@zhinang-amazon Do we have any update on this one? Not a blocking issue, but interested in it since the same functionality appears to be working on other platforms (from my conversations with iOS engineers, iOS seems to be affected but they only seen it once or twice).

[2021-03-10 21:08] hensmi-amazon commented on #222
This should be fixed by https://github.com/aws/amazon-chime-sdk-js/pull/1073 .  Please let me know if there are still issues.

[2021-03-10 21:08] #222 closed

[2021-03-10 21:09] hensmi-amazon commented on #220
Fix has been released

[2021-03-10 21:09] #220 closed

[2021-03-11 22:31] alnlau commented on #246
Hello @Doko-Demo-Doa ,

If you are able to reproduce the crash reliably, could you share more logs of the crash? We are trying to determine if the crash is at the same place but cannot reproduce the crash.

[2021-03-17 07:10] NaleenDissanayake opened #252 "I always want to be in portrait orientation"
While doing the video call,

Actual behavior :
・ When the device is rotated sideways,
The camera preview turns sideways

Expected behavior :
→ **I always want to be in portrait orientation**

Any help????????

[2021-03-17 19:02] linsang21 commented on #252
Hi @NaleenDissanayake,
By portrait orientation, you mean as in the width * height of the frame keeps but video rotates, or the whole video doesn't rotate at all?

[2021-03-17 22:26] arocha55 opened #253 "Amazon Chime App crash when running in Android 12 Developer Previews"
**Describe the bug**
A clear and concise description of what the bug is.
Launching Amazon Chime Android crashes immediately after launching it in Android S Developer Preview.

A public bug has been filed under Android Developer Preview. issue tracker here also:
https://issuetracker.google.com/issues/182787409

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Amazon Chime app
2. App cras

[2021-03-18 01:19] NaleenDissanayake commented on #252
Hi @linsang21
I meant I want to limit to the portrait orientation and it should appear in correct angle. While I am doing video call test and rotate the the device then it always rotate the camera preview in both client side and server side.

Example : If You rotate the device it should appear in portrait orientation with correct angle (both client and server side). I don't want to make it rotate

[2021-03-18 04:32] hokyungh commented on #231
@tmilovan123 Sorry for late reply. We are currently investigating it.

[2021-03-18 13:19] JennyKK22 opened #254 "library "libc++_shared.so" not found"
Trying to connect when running the demo gives this error. Please advise on how to include this library in the build. Thank you.

[2021-03-18 23:31] linsang21 commented on #252
If I understand correctly, you wanted to lock the rotation on your device, so that when you rotate the phone sideways, your app won't refresh to landscape mode. But at the same time, the self video displays in a natural direction on local preview and server (to other attendees).

This behavior is not supported from SDK at this point, because the SDK uses [WindowsManager.defaultDisplay.rotation](ht

[2021-03-18 23:34] linsang21 commented on #254
Hi @JennyKK22 Could you provide more information using the template? Also what was your step to configure and run the demo app?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected

[2021-03-18 23:38] linsang21 commented on #253
Thanks for reporting. Our client team is notified with the issue.
Have you also noticed the same issue when using SDK?

[2021-03-19 01:50] bdcgoogle commented on #253
With the sample SDK app, it will not crash upon launch like the Amazon Chime app does, but it will crash once you connect to a Chime meeting.

[2021-03-19 23:04] hokyungh commented on #231
Hello @tmilovan123, server doesn't hold the information about the dropped event, so if mobile clients missed this event, it won't be able to receive further dropped event. I was able to confirm the behavior on both iOS and Android. You might not see the same UI update for the web, however, due to its own handling logic of presence. [code](https://github.com/aws/amazon-chime-sdk-js/blob/f27340548c7

[2021-03-20 01:06] tmilovan123 commented on #231
Got it, thank you for explanation!

[2021-03-21 09:30] deepesh-kn commented on #246
Facing the same issue. Crashes every time when `startRemoteVideo` is called.
@dylonChime @alnlau, could it be possible to update the demo repository with the latest SDKs
https://github.com/aws-samples/amazon-chime-react-native-demo

[2021-03-24 05:28] Doko-Demo-Doa commented on #246
@alnlau I think it can be reproducible with [React Native demo](https://github.com/aws-samples/amazon-chime-react-native-demo). Android side is enough.

[2021-03-24 14:27] k-zahid opened #256 "End Meeting callback is triggered with delay"
**Describe the bug**
When we end a meeting using web or iOS SDK the Android SDK End meeting is triggered lately.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a meeting using web/iOS SDK
2. Start the meeting and invite any Android user
3. Join the meeting from Android SDK
4. End the meeting using web/iOS SDK
5. The meeting will end with delay of 30 sec on Android SDK

**Expected beh

[2021-03-24 17:04] zhinang-amazon commented on #256
Hi @k-zahid,
Thanks for reporting. This is a duplicate of #15
I will close this one. Please follow that issue for update.

[2021-03-24 17:04] #256 closed

[2021-03-24 18:11] linsang21 commented on #115
Hi @ribafish, our team is triaging the feature requests. I feel like this issue can be resolved by https://github.com/aws/amazon-chime-sdk-android/issues/113, since the ultimate goal is to support multiple BT devices (both displaying and selecting).

I'll close this one for now, let us know if you think otherwise.

[2021-03-24 18:11] #115 closed

[2021-03-24 19:08] linsang21 commented on #61
Will track resolution selection by https://github.com/aws/amazon-chime-sdk-android/issues/140.
Close this as duplicate.

[2021-03-24 19:08] #61 closed

[2021-03-25 11:22] Doko-Demo-Doa commented on #246
Okay I think I figured out something else: I'm using CometChat (which also includes a video call module, but I don't use it). CometChat video call module is based on Jitsi, and Jitsi also has native compiled binary, which may conflict with Chime's.

I'm still investigating.

[2021-03-26 11:38] adesun2k opened #258 "Record LocalVideo Source"
Hi guys.
Please is there a way to record the localvideo (local camera output) source to a file say record.mp4.

And also is there a way to record voice signal to a local file say voice.mp3

[2021-03-26 15:59] zhinang-amazon commented on #258
Hi @adesun2k, it looks like you already open an issue #247 . We will use that issue to track supporting video and audio recording locally.

[2021-03-26 15:59] #258 closed

[2021-03-30 22:10] e-nouri commented on #246
I have the same problem, with the last SDK version 0.11.1:
`libc++abi: terminating with uncaught exception of type std::bad_cast: std::bad_cast`

[2021-03-31 03:10] firx opened #259 "Bug in default active speaker policy volume normalization"
Just looking at the code to calculate the normalizedVolume in calculateScore (from DefaultActiveSpeakerPolicy.kt), it is obviously wrong:

        if (normalizedVolume > 0.0) {
            normalizedVolume = 1.0
        } else {
            normalizedVolume = 0.0
        }

This treats all volume levels except muted (0) as the same. Clearly the test should be on "> 1.0".

[2021-03-31 07:14] hokyungh commented on #246
@e-nouri  and @Doko-Demo-Doa what React-Native version do you use? I am trying to find out if this is related to issue in https://github.com/facebook/react-native/issues/29377

[2021-03-31 07:18] Doko-Demo-Doa commented on #246
I met the problem with 0.63.x and even 0.64.x . Same problem.

[2021-03-31 07:26] hokyungh commented on #246
@Doko-Demo-Doa do you also meet issue with 0.61.x?

[2021-03-31 19:58] hokyungh commented on #259
Hi I think this is intentional, unless you are muted or not speaking, It will have value of 1 (means someone is speaking whether they are low volume or high volume).

If you see [normalize code](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/audio/activespeakerpolicy/DefaultActiveSpeakerPolicy.kt#L45),

[2021-03-31 21:57] tmilovan123 opened #260 "Local preview freezing for ~1sec (TextureRenderView only) when starting the meeting in the background"
**Describe the bug**
If you show a local preview (as described [here](https://github.com/aws/amazon-chime-sdk-android/blob/development/guides/custom_video.md)) using [TextureRenderView](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/gl/TextureRenderView.kt) and call `audioVideo.start()` **while t

[2021-04-01 00:08] hokyungh commented on #260
Thank you for detailed explanation and reproduce step. We'll investigate and get back to you.

[2021-04-01 00:16] firx commented on #259
I don't think you've thought that through. You're saying that constant low volume noise ("Low", probably background fan noise or similar) *should* get the same priority as constant loud talking ("High"). This would mean (and does currently mean) that a participant with constant low noise will *always* stay the active speaker, regardless of participants actually talking *more loudly*. What use is t

[2021-04-01 02:42] tmilovan123 commented on #260
Correction: we discovered some issues with using `DefaultVideoRenderView` - it seems to create artifacts in our on-top animations when the device is in use extensively. So we will need to drop it as a workaround :(

[2021-04-01 12:44] k-zahid commented on #256
@zhinang-amazon  the issue described in #15 is considered as enhancement but it's a bug. Once a meeting is ended by host using iOS or Web SDK the callback is not received immediately although meeting is ended after 20-30 seconds

[2021-04-01 15:36] Doko-Demo-Doa commented on #246
I haven't tried it with 0.61.x, but downgrading RN should not be the solution.

[2021-04-01 17:28] hokyungh commented on #260
@tmilovan123 I think your conjecture is correct. The problem seems to be in [code](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/internal/audio/DefaultAudioClientController.kt#L150) where we are using main thread to start the audio client, which takes over UI thread causing some freezing issue there.
We'll try t

[2021-04-01 17:35] tmilovan123 commented on #260
@hokyungh Thanks for getting back! One thing, can you ping me when you have a potential fix so I could test with a dev version of the SDK in our app? The reason is, I tried moving it to another thread by myself, building an SDK and using in our app, and it still had some effects of freezing, even though it appeared fixed in demo app. So I would like to get to the bottom of it as well. Not sure if

[2021-04-05 22:25] hokyungh commented on #259
Hi @firx, we have [Voice Focus](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/api_overview.md#11-using-amazon-voice-focus-optional) which should suppress noise.

 We'll take a look further look on policy.

[2021-04-07 04:05] Doko-Demo-Doa commented on #246
@hokyungh Alright, I did the test. It __does not__ crash with 0.61.x at all, and always crash with 0.62.x and above.

[2021-04-09 01:33] tmilovan123 opened #267 "Add informational thread annotations to customer-facing methods"
Based on the discussions @hokyungh and I had about [this issue](https://github.com/aws/amazon-chime-sdk-android/issues/260).
Sometimes some of the exposed methods might do a lot of work on the UI thread, and moving them off UI thread can resolve certain issues.
However, as a consumer of the SDK, we cannot be sure a certain method is safe to be called off UI thread or not. It can be determined by r

[2021-04-09 02:29] dylonChime commented on #246
We have identified a fix that will come out with the next release.

[2021-04-09 02:47] tmilovan123 commented on #260
@hokyungh As a result of our conversation, I can confirm that your fix + moving `DeviceController#chooseAudioDevice(…)` to be called on `Dispatchers.Default` resolves the issue. My question therefore is, do you see any potential issues with calling  `chooseAudioDevice(...)` on another thread, or is it safe to do?

[2021-04-09 17:34] dylonChime commented on #167
I have added some documentation to call out the importance of audiovideo.stop(). I will close this issue for now. Feel free to reopen if you continue to experience the same issue.

[2021-04-09 17:34] #167 closed

[2021-04-09 19:43] dylonChime commented on #245
I will close this for now. Feel free to reopen if the problem persists.

[2021-04-09 19:43] #245 closed

[2021-04-09 20:53] dylonChime commented on #143
I will close this issue for now. Feel free to reopen if the issue persists.

[2021-04-09 20:53] #143 closed

[2021-04-09 21:59] dylonChime commented on #225
I will close this for now. Feel free to reopen if you still have this issue.

[2021-04-09 21:59] #225 closed

[2021-04-09 22:47] dylonChime commented on #252
I'll close this for now. Feel free to reopen if you have further questions.

[2021-04-09 22:47] #252 closed

[2021-04-09 23:19] dylonChime commented on #253
@bdcgoogle Sorry for the late reply. Are you still experiencing this issue? Can you provide the full stack trace for the crash using the sample SDK app? Thanks.

[2021-04-09 23:26] dylonChime commented on #254
I will close this issue for now. Feel free to reopen if you still have the issue.

[2021-04-09 23:26] #254 closed

[2021-04-11 06:11] k-zahid opened #270 "App crashes when host end meeting for all attendees"
**Describe the bug**
When host leave the meeting and then attendee tries to leave meeting the application crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a meeting and invite another user
2. Join the meeting with both users
3. leave the meeting as host
4. try to leave the meeting

**Expected behavior**
The application should not crash and leave meeting properly.

**Logs**
Fat