[2021-04-12 05:55] dylonChime commented on #270
Hi @k-zahid, can you please provide the following information?:

- Device: [e.g. Pixel3]
 - OS: [e.g. Android 10]
 - Version amazon-chime-sdk: [e.g. 0.4.0]
 - Version amazon-chime-sdk-media: [e.g. 0.4.0]
 - Did you use Bitcode enabled sdk binaries?
 - Full stack trace so we can symbolicate on our end

[2021-04-12 06:01] k-zahid commented on #270
@dylonChime

- Device : Samsung A51
- OS : Android 10
- Version amazon-chime-sdk: [0.11.2]
- Version amazon-chime-sdk-media: [0.11.2]
- Did you use Bitcode enabled sdk binaries? No
- Full stack trace so we can symbolicate on our end : The stack trace attached is the bug is received via crashlytics

[2021-04-12 14:53] arocha55 commented on #253
Hi @dylonChime

I'm no longer able to reproduce the crash with the SDK sample app. I'm still seeing the crash however with Amazon Chime app, same exact stack strace as originally shared. App version is 4.39.6461 and running Android 12 Developer Preview 2 on a Pixel 4 device, app crashes soon as I launch it.

Hope this helps.
Alex

[2021-04-13 06:34] k-zahid commented on #256
@zhinang-amazon  can you please revise this bug as I am facing this issue.

[2021-04-13 17:46] dylonChime commented on #270
@k-zahid

I assume you are not using our demo since the demo doesn't support ending a meeting for all.

Are you calling audioVideo.stop() multiple times? I will try that with our demo and see if I get a crash.

[2021-04-13 21:50] dylonChime commented on #270
I'm not able to reproduce the crash. Can you provide more specific details about how your application differs from the demo? Are you calling stop from a different thread? Are there any modifications you've made to the SDK?

[2021-04-14 06:02] k-zahid commented on #270
@dylonChime  the crash happens when the host end the meeting for all and the invitee remains in the meeting. The invitee tries to leave the meeting which is already ended by the host.

[2021-04-15 18:48] alnlau commented on #260
Hello @tmilovan123,

The only potential issue I currently see is if `listAudioDevices()` and `chooseAudioDevice(...)` was called at the same time on an Android device below API level 23 since both use `AudioManager` (specifically `isBluetoothScoOn` and `setBluetoothScoOn`). Upon audio devices changing, `DefaultDeviceController` will call `listAudioDevices()` on the main thread for `onAudioDeviceCh

[2021-04-16 06:23] tmilovan123 commented on #260
Hi @alnlau ,

Thanks for your response. Our minSdkVersion is 24, so it is not a risk for us. It's good to know `AudioManager` is thread-safe in newer versions of Android.

Based on this, we can move both calls to another thread, and this should resolve/mitigate the impact. I know that part of the `audioVideo.start()` code uses `uiScope` (not sure how much it contributes overall), I think @hokyungh

[2021-04-16 11:01] Doko-Demo-Doa commented on #246
Is there any update on this one?

[2021-04-16 13:08] ribafish opened #274 "OpenGLES exception, resulting in Application Not Responding"
We are implementing chaging the call functionality, without closing the screen and ran into issues with the `DefaultVideoRenderView`. When we want to switch calls, we leave the first one and reset everything chime SDK related (stop local and remote streams, unbind from streams/views, stop the call), then we join the 2nd call. While this is underway, the UI is updated to reflect the state, but the

[2021-04-16 16:55] alnlau commented on #274
Thanks for reporting the issue.

For the repro steps:
* What APIs are called for the reset?
* What else isn't recreated for the call swap?

[2021-04-17 10:41] e-nouri commented on #246
@hokyungh Sorry for the late answer. Right now 0.63, on iOS I have the last Chime version for SDK and media SDK. On Android, I downgraded to 0.9.1 for the SDK, 0.9.0 for the Media SDK. I am not using the video though only audio in my case.

[2021-04-20 16:24] ribafish commented on #274
### What APIs are called for the reset?

Calls to start/join the call:

[code]

Switch the call (stop the current one, cleanup after it and start/join a new one):

[code]

Leave the 2nd call:

[code]

### What else isn't recreated for the call swap?

The whole UI (fragment and it's presenter and any attached managers we use) is not recreated, all of the classes that we use to manage the call are a

[2021-04-22 20:00] ziyiz-amzn commented on #270
Hi @k-zahid

We still cannot reproduce this crash in the demo app, in which the other user ends meeting for all at web demo app.
The mobile demo app will try to reconnect and will go back to joining view after few seconds.

[2021-04-27 17:06] k-zahid commented on #270
@ziyiz-amzn the issue seems in the reason of delay of 30 seconds. Can't the callback done immediately?

[2021-04-27 19:56] ziyiz-amzn commented on #270
@k-zahid  Not for now, it has been in our enhancement backlog.
https://github.com/aws/amazon-chime-sdk-android/issues/15

[2021-05-04 13:36] julienlocatelli opened #275 "[React native] The video is cropped when scalingType AspectFit"
I'm using chime on a React-native app and Amazon chime is bridged.
I notice that the video is cropped event if the VideoScalingType of the SurfaceRenderView is set to AspectFit.
It looks like the SurfaceRenderView does not take in account the parent container dimensions.
Weird...

**Test environment Info:**
-  React-native: 0.61
 - Device: Huawei P20 lite
 - OS: Android 10

[2021-05-04 17:49] linsang21 commented on #226
Hi @nealmanaktola, @Doko-Demo-Doa do you still experience the crash? Were you able to reproduce on the demo app?

[2021-05-05 16:39] zhinang-amazon commented on #275
Hi @julienlocatelli
I tested with our Android demo app in this repo on Huawei P20 device.
Setting `scalingType` on `SurfaceRenderView` to `AspectFit` does prevent cropping comparing to `AspectFill`

You can reference our demo app layout logic [here](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/adapter/VideoAdapter.kt#L63)

Let u

[2021-05-10 00:26] tmilovan123 opened #276 "No sound during a meeting until a headset (headphones) connected"
**Describe the bug**
When the Chime meeting starts and all parties join (we have 1:1 setup where the first party is mobile and the second party is Web), the mobile side cannot hear Web until they plug in a headset (potentially just headphones, no confirmed repros). The Web side can hear the mobile side well at all times.

The issue does not reproduce every time, we have several (3) confirmed repro

[2021-05-11 13:58] sagarpatel288 commented on #275
@zhinang-amazon Ok, in the given demo for Android (in ```item_video.xml```), when we change the height and width of the ```SurfaceRenderView``` (having an id as ```video_surface```) to be ```0dp``` to make it ```match_parent``` as it is in ```ConstraintLayout```, we find that no ```scalingType``` is working. In such cases, how can we have the video covering the full screen without cropping?

[2021-05-12 17:43] hokyungh commented on #276
@tmilovan123 Thank you for reporting. We'll look into this issue and get back to you.

[2021-05-12 17:58] hokyungh commented on #276
Could you also provide us with any logs that could be helpful?

[2021-05-12 18:13] tmilovan123 commented on #276
@hokyungh As mentioned above, unfortunately no, as we don't have any logcat output from prod. We have limited app-side breadcrumb logs which only confirm the Chime meeting was started and the audio output on the mobile side was Speaker. But no additional details are logged beyond that, and no output from Chime logging, therefore I don't think they will be useful to you in any way.

[2021-05-12 21:37] hokyungh commented on #276
@tmilovan123 just curious, when the sound didn't come from testing, does it even not come from earpiece, so absolutely 0 sound?

[2021-05-12 21:43] tmilovan123 commented on #276
@hokyungh Yes, this is what our QA team reported. No sound at all. We previously had an issue where the device was selected incorrectly and earpiece was used, so I asked additionally about this, got a reply that the sound was put at 100% but nothing came through.

[2021-05-12 21:45] tmilovan123 commented on #276
For the purpose of this issue, I am just interested how these meetings looked like from Chime media data perspective (since we don't have any data on our side). More information will provide more clues to investigation.

[2021-05-12 21:46] hokyungh commented on #276
Based on audio team, it looks like sound actually comes through, so it seems to be client side issue.

[2021-05-12 22:08] tmilovan123 commented on #276
Got it, any recommendations/suspects for this case (besides being able to reproduce on test environments)? We have excluded the hardware failure (same device works well with speaker on test envs). If the only possibility is reproducing in an environment with logs, what should we specifically look for?

[2021-05-14 02:12] Doko-Demo-Doa commented on #246
After upgrading another library (comet-chat) to new version, the app doesn't crash anymore (with Chime SDK on latest version - 0.11.4 as of now). I guess it's just a conflict between libraries.

[2021-05-14 02:12] #246 closed

[2021-05-17 09:35] nambmt97s opened #278 "Freezing when startLocalVideo and stopLocalVideo"
**Describe the bug**

i am working with an attendee list. I am showing all attendees on recyclerView. When I call
`audioVideo.stopLocalVideo ` or `audioVideo.startLocalVideo(cameraCaptureSource)`
then the other attendees' DefaultVideoRenderView froze for a short time and continuing smoothly afterwards. How do I could fix this problem. Thank you.

[2021-05-17 21:38] hokyungh commented on #278
@nambmt97s could you provide with logs/sdk version/media sdk version/device information?

Is this happening due to recycler view creating/deleting new `DefaultRenderView` or does it happen even when it is fixed?

[2021-05-18 14:08] ajkerfaisal opened #279 "UnsatisfiedLinkError on Huawei"
We are using amazon chime 0.11.4 and media 0.11.3 and everything going smooth so far.
Recently we found a crash coming from "Huawei Y3 CRO-U00" with Android OS 6.0.
Log provided below. The crash happens on the very first step when the app is trying to join the meeting.
For all the other devices, it's all working fine.

[code]

[2021-05-18 15:23] nambmt97s commented on #278
I give you some information as sdk version 31.0.0 / media sdk version v0.11.2/ Sony Xperia XZ1. My log could not support in my case.
To make it easy to understand now I don't use a recycleview anymore, this problem still occurs when I apply in other cases which will be simpler. I would describe my problem in detail to you. I want to build a view like facebook (picture attached below). When I click

[2021-05-19 17:06] linsang21 commented on #279
Thanks for reporting the issue. We'll try to reproduce the issue and get back to you with more data.

[2021-05-20 10:12] ribafish commented on #274
Are there any news on this?

[2021-05-20 11:49] NicoleSithole commented on #43
ERROR: Gradle DSL method not found: 'compileSdkVersion()'
Possible causes:
The project 'My LocationTrackoverFBDB' may be using a version of the Android Gradle plug-in that does not contain the method (e.g. 'testCompile' was added in 1.1.0).

imreceiving this error?
 please help

[2021-05-21 08:27] rlebosse opened #280 "Is this possible to choose the video input bandwidth ?"
**Is your feature request related to a problem? Please describe.**

With `amazon-chime-sdk-js`, it is possible to choose the video input quality with the method `chooseVideoInputQuality(width, height, frameRate, maxBandwidthKbps)`.

With `amazon-chime-sdk-android`, I noticed it was possible to choose `width`, `height` and `maxFps` in the [DefaultCameraCaptureSource](https://aws.github.io/amazon-ch

[2021-05-21 08:56] coditive opened #281 "TimeStampAligner Not Found"
![Screenshot_20210521_142332](https://user-images.githubusercontent.com/41199211/119111101-6039b500-ba40-11eb-928a-f80986720454.png)

I have followed every step of guide provided on README page but this error is coming,

[2021-05-21 17:13] linsang21 commented on #281
Hi there, what's your Android SDK and Media SDK version?

[2021-05-22 05:57] coditive commented on #281
It's the latest one which i downloaded from README page.

[2021-05-24 03:58] nambmt97s commented on #278
@hokyungh Could you please explain to me this problem ?

[2021-05-24 18:23] linsang21 commented on #280
Thanks for submitting the request - we're already tracking this feature here: https://github.com/aws/amazon-chime-sdk-android/issues/140. Will update any progress on that thread!

[2021-05-24 18:23] #280 closed

[2021-05-24 22:18] linsang21 commented on #281
So I took that as you pull the source code from git hub, follow the README [Running the demo app](https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app) section. (Because `Setup` section is to integrate SDKs into your existing project, and the screenshot shows this is just SDK demo app project.) Let me know if otherwise.

Then the latest MEDIA SDK version is 0.11.3: https://github.c

[2021-05-25 09:55] coditive commented on #281
Tried again by downloading latest sdk's from release page and it worked thanks for the help.

[2021-05-25 09:55] #281 closed

[2021-05-25 18:46] tmilovan123 commented on #276
Hi! Is there any news on this one? Let me know if any info is needed (besides the logs from repro I have outside of GitHub).

[2021-05-27 21:48] alnlau commented on #253
Hello @arocha55

Client team has released a new version (4.39.6483) with fixes for this issue. Let us know if you are still experiencing this issue on the new version.

[2021-05-27 22:11] arocha55 commented on #253
Great, thanks for the update and for fixing this issue, confirmed issue is no longer seen in Android 12 Beta 1.

Regards,
Alex

[2021-05-28 09:08] mikhail-shekhtman commented on #226
@zhinang-amazon I am able to reproduce it with demo app, but not consistent, I get same dump with our app and with demo:
I spend significant time trying to figure out preconditions for this crash, but it seems random.

**Test environment Info (please complete the following information):**

Device: Galaxy S9
OS: Android 9/10
Version amazon-chime-sdk: 0.11.4
Version amazon-chime-sdk-media: 0.11.3

B

[2021-05-28 09:23] Doko-Demo-Doa commented on #226
I did post my answer at #246 , but it might not be helpful to you because root cause is the conflict with 3rd party lib I use (CometChat). However I think there must be another lib that is fighting with Chime SDK in your case.

[2021-05-29 05:19] Doko-Demo-Doa commented on #226
The conflicting library may not be another video libs, it can be anything that use native modules / C++ specifically. For example: webview, QR-scanner, printer connector,...

Mind sharing your `package.json`?

[2021-05-29 09:42] mikhail-shekhtman commented on #226
@Doko-Demo-Doa it is a package json of chime demo app that is also crashing:

[code]

[2021-06-01 16:15] rnewman commented on #226
Looks like:

* https://stackoverflow.com/questions/26990412/c-boost-crashes-while-using-locale
* https://github.com/wildfirechat/android-chat/issues/451
* https://github.com/JaneaSystems/nodejs-mobile/issues/297

I suggest downgrading to NDK r21e or r21b, see if that addresses your issue.

[2021-06-01 16:22] #253 closed

[2021-06-03 09:03] mikhail-shekhtman commented on #226
@rnewman thank you for the input, this seems to help.

For those who is looking for solution here is what I added to `app/build.gradle`:

[code]

And before that in android studio I installed the NDK. To have a list of installed version you need to check `Show Package Details` below the list.

<img width="999" alt="Screen Shot 2021-06-03 at 12 02 17 PM" src="https://user-images.githubusercontent.c

[2021-06-10 00:08] nggandhi opened #282 "Update documentation about ordering of Active Speakers in onActiveSpeakerDetected() callback"
[iOS documentation](https://aws.github.io/amazon-chime-sdk-ios/Protocols/ActiveSpeakerObserver.html#/c:@M@AmazonChimeSDK@objc(pl)ActiveSpeakerObserver(im)activeSpeakerDidDetectWithAttendeeInfo) says Active Speakers are in the correct order (i.e decreasing score) while [Android documentation](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.a

[2021-06-10 08:23] nataliia-zarudna opened #283 "Cannot scale other attendee's video"
Hello.
I want to scale attendee's video so that if I have tablet-phone call no user parts were cut off. I tried to use
`DefaultVideoRenderView#setScalingType in VideoTileObserver#onVideoTileAdded` callback. But it works for me only for my video tile, others' videos stay the same no matter what scaling type I set. Please advise maybe this is expected behavior or I'm doing something wrong. Thank you

[2021-06-11 00:07] ziyiz-amzn commented on #283
Thanks for reporting @nataliia-zarudna

I have tried `videoRenderView.scalingType = VideoScalingType.AspectFill` in the demo app, and it works fine.
Hope it helps.

[2021-06-15 10:15] sagarpatel288 commented on #258
Currently, only web has recording feature... Android app cannot record the meeting using ```amazon-chime-sdk-android``` as of now, is it so? @zhinang-amazon

[2021-06-15 20:00] shaurysh opened #285 "Query regarding audio processing"
I am working on trying to use the Chime Android SDK to communicate with a JS SDK backend. I am mainly trying to send audio to the backend and trying to get active speaker callbacks. I need to send un-processed audio to the backend (without any enhancements such as Amazon Voice Focus, but not limited to that).
I am working in Java and thus I am calling `meetingSession.getAudioVideo().realtimeSetVoi

[2021-06-16 14:00] SIDDIQUISAZID opened #286 "ActiveSpeakerDetected Error"
Hey Executive,

We tried the below code in our react native application, but it's not working
----------------------------------------------------------------------------------------------------
onActiveSpeakerDetected(attendeeInfo: Array<AttendeeInfo>) {
         attendeeInfo.forEach {
             logger.info(TAG, "Received attendee leave event for attendee ${it.attendeeId} with externalUserId $

[2021-06-16 16:16] zhinang-amazon commented on #226
@mikhail-shekhtman Glad that it worked for you.
I will close this issue for now.
Feel free to reopen if this is still an issue for anyone.

[2021-06-16 16:16] #226 closed

[2021-06-16 17:05] zhinang-amazon commented on #282
@ziyiz-amzn has a PR out to fix the documentation. Thanks for bringing this to our attention @nggandhi

[2021-06-16 18:46] haifengx commented on #285
Hi @shaurysh,

Thanks for the inquiry. The Amazon Chime Android SDK currently does not support disabling entire audio processing other than voice focus as you mentioned. Are you seeing issues with the audio processing? Do you mind sharing why you don't want any kind of processing?

Thanks,
-Haifeng

[2021-06-16 22:28] zhinang-amazon commented on #286
Hi @SIDDIQUISAZID,
Can you clarify what is not working?
Are you able to see the logger logging the `(TAG, "Scores of active speakers are: $scoreString")` on Android native side, but you are not able to capture the event on React Native side?
Or you are not able to see the `onActiveSpeakerScoreChanged` method being invoked at all on your observer?

[2021-06-18 17:45] zhinang-amazon commented on #282
PR is merged, closing this issue

[2021-06-18 17:45] #282 closed

[2021-06-19 12:29] SIDDIQUISAZID commented on #286
Hey there,

1. Yes you're right , I am not able to see the logger logging neither on native nor in react native. I am not getting any logger.

2. Yes , for this also "onActiveSpeakerScoreChnages" I am not getting callback also don't see any observer.

Please help me. Thanks in advance.

[2021-06-21 13:11] vats05 commented on #286
Hi AWS Team,

Please help resolve this issue. Thank you.

[2021-06-21 18:27] zhinang-amazon commented on #286
Hi @SIDDIQUISAZID @vats05 ,
Have you registered the active speaker observer before starting the meeting [here](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/android/app/src/main/java/com/amazonaws/services/chime/rndemo/NativeMobileSDKBridge.kt#L115)?
`it.audioVideo.addActiveSpeakerObserver(meetingObservers)`

[2021-06-22 05:37] SIDDIQUISAZID commented on #286
Hey there,
Already Added,
Please help resolve this issue
<img width="1100" alt="Screenshot 2021-06-22 at 11 05 33 AM" src="https://user-images.githubusercontent.com/20954375/122869501-ffa4dd00-d349-11eb-848e-905cd1b87d8c.png">

Thanks

[2021-06-22 14:14] vats05 commented on #286
Hi @zhinang-amazon ,

can you please review? active speaker observer is registered as per your suggestion.

Please suggest.

[2021-06-23 13:43] sagarpatel288 commented on #286
@SIDDIQUISAZID Based on the screenshot you have provided, It seems you have not added ```addActiveSpeakerObserver```.

[2021-06-23 13:50] vats05 commented on #286
HI @sagarpatel288 ,

Where does this need to be added? Appreciate you providing the help.

[2021-06-23 14:10] sagarpatel288 commented on #286
@vats05 I am yet to become an Amazon developer (I mean, I am not an Amazon Developer), but to help you:

1. In [HomeActivity], [authenticate] calls [joinMeeting] and passes required POST parameters.
2. We are making a POST request in [joinMeeting] and its return type is our response.
3. We are passing the response of [joinMeeting] in [authenticate] to [onCreate] of [MeetingActivity].
4. So, [joinM

[2021-06-23 14:36] sagarpatel288 commented on #122
@mj8894 I am late in the party but Another workaround I can think of is inspired from:

[Application lifecycle event](https://proandroiddev.com/react-to-app-foreground-and-background-events-with-processlifecycleowner-96278e5816fa)

So, when the application is going in the background while we are talking over the phone call and if the meeting is already going on, we will mute ourselves for the chim

[2021-06-23 16:36] vats05 commented on #286
Thank you @sagarpatel288 .

@zhinang-amazon / AWS team, what are your thoughts here?

[2021-06-23 17:26] sagarpatel288 opened #289 "Landscape recording is cropping out the device screen width in the recorded file"
**Screen recording when the device is in landscape mode is cropping the width in the recorded file**

1. Chime android SDK version: **0.11.4**
2. [Screen recording api] (https://github.com/aws-samples/amazon-chime-sdk-recording-demo)
3. Device: Samsung SM-E625F (Galaxy F62)
4. Device Resolution: 1080 width * 2400 height (Portrait Mode)
5. Device Android Version: 11
6. Process we have followed:

[2021-06-23 19:54] hokyungh commented on #286
@vats05 From the [code](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/android/app/src/main/java/com/amazonaws/services/chime/rndemo/NativeMobileSDKBridge.kt#L116), could you try to add addActiveSpeaker to it as described by @zhinang-amazon ?

I don't see addActiveSpeaker portion on your code.

1. Change [`MeetingObservers.kt`](https://github.com/aws-samples/amazon-chime

[2021-06-23 22:43] hokyungh commented on #289
@sagarpatel288 I have tried to reproduce it, but the whole page stays the same. When you say cropped, does the recording video has cropped web page?

For 2. do you mind opening a issue in https://github.com/aws-samples/amazon-chime-sdk-recording-demo?

[2021-06-24 00:33] hokyungh commented on #274
@ribafish sorry for late reply. I have tried to reproduce the issue, but I wasn't able to reproduce the same issue.
Here is what I did. Let me know if following steps are similar
1. Change the demo `fragment_meeting.xml` to have `DefaultVideoRenderView`. We can call it `mainVideoView`.
2. When endMeeting, I commented out code for back so the fragment stays the same.
3. When there is local video, I

[2021-06-24 05:00] sagarpatel288 commented on #289
@hokyungh  Thanks for the quick reply.

Not the web page but the screen of the Android Application. I should have been more clear on that. Let me tell you more detail:

We are making a meeting application for Android that has a recording feature (record meeting) similar to Amazon chime and zoom.

The screen recording is happening from our Android Application (within Android application) using amaz

[2021-06-24 09:28] VicRen commented on #83
I think this issue is with WebRTC on some specific devices.

I came across the same issue with same stack and exception  "java.lang.IllegalArgumentException: Invalid size: 0x0" with standard WebRTC m84.

My device is Honor 8

the stack goes:

 java.lang.RuntimeException: java.lang.IllegalArgumentException: Invalid size: 0x0
     at org.webrtc.GlTextureFrameBuffer.setSize(GlTextureFrameBuffer.java:

[2021-06-24 16:12] hokyungh commented on #83
@VicRen Could you open new issue?

[2021-06-25 05:04] vats05 commented on #286
@sagarpatel288 , I have emailed (on your gmail)you for a collaboration. Please do check and revert back.

[2021-06-25 06:38] rnqayush opened #291 "I want to improve audio quality in my react native app and used realtimeVoiceFocusEnabled but it returns with an error. kindly help me with this resolving"
![voiceFocus](https://user-images.githubusercontent.com/74084740/123381161-ff0c8080-d5ad-11eb-8269-be8b96ea7d37.png)

[2021-06-25 06:40] rnqayush commented on #291
![voicefocus2](https://user-images.githubusercontent.com/74084740/123381365-47c43980-d5ae-11eb-8668-904e54095b60.png)

[2021-06-25 16:41] hokyungh commented on #291
@rnqayush could you check [voice-focus](https://github.com/aws/amazon-chime-sdk-android#amazon-voice-focus). I think it is `realtimeSetVoiceFocusEnabled` not `realtimeVoiceFocusEnable` and you pass boolean to it.

[2021-06-25 18:15] hokyungh commented on #289
Thank you for reporting, I was able to reproduce the first issue. Will further look into it.

[2021-06-28 05:13] rnqayush commented on #291
![voiceFocus3](https://user-images.githubusercontent.com/74084740/123583569-75eb8880-d7fd-11eb-98f7-c46320b37cfd.png)

i have set this code. now is it ok and will work perfectly?

[2021-06-28 16:19] hokyungh commented on #291
Hi I think this is more react native issue, but [voice-focus](https://github.com/aws/amazon-chime-sdk-android#amazon-voice-focus) returns boolean. You can pass callback as described [here](https://reactnative.dev/docs/native-modules-android) or just logs it out after calling `realtimeSetVoiceFocusEnabled` to check whether enabling/disabling was successful.

[2021-07-01 13:02] sharadmhaske91 opened #294 "how to halt the meeting when incoming call is received on android phone while amazon chime meeting in progress"
**Is your feature request related to a problem? Please describe.**
How does Amazon chime SDK handles the case when meeting is in progress and we receive incoming phone call. We are not able to pause the meeting or mute the audio for user while he speak on call.

**Describe the solution you'd like**
Give API to pause and play the meeting when there is any incoming call either phone call or any othe

[2021-07-01 20:34] dylonChime commented on #294
This can probably be implemented with [ConnectionService](https://developer.android.com/reference/android/telecom/ConnectionService.html). The iOS SDK has CallKit to handle this use case. I will leave this open as a feature request.

[2021-07-02 05:22] sharadmhaske91 commented on #294
@dylonChime Can we reset the audiodevice in chime sdk so that we can mute the meeting? Is there way we can mute the call speakers along with micrphone?

[2021-07-02 17:23] dylonChime commented on #294
Good question. I'm not sure its possible without something like [ConnectionService](https://developer.android.com/reference/android/telecom/ConnectionService.html). You can mute remote attendees with [data messages](https://github.com/aws/amazon-chime-sdk-android/issues/60), but that would mute them for everyone, not just you. I hope that answers your question. The ultimate solution is to implemen

[2021-07-02 17:27] dylonChime commented on #294
I think this is actually a duplicate of #122.

[2021-07-05 12:06] sharadmhaske91 opened #295 "Crash when start and stop audiovideo on callbacks when camera is on in chime meeting"
**Describe the bug**
We are trying to start and stop the audiovideo using AudioVideoFacade class in sdk while stop does gets success where as start causing a crash when camera was turned on.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the meeting and turn on camera
2. Make a phone call on number
3. App loose the audio focus
4. We are calling audiovideo stop on focus loss(Using Andr

[2021-07-07 13:40] massimo-bortolamei-hegias opened #296 "Cannot change audio volume on Oculus Quest 2"
**Describe the bug**
Pressing the hardware volume buttons on the quest, when the audiovideo has started, does not change volume of the call, and also does not show quest's UI for volume control anymore.

It is my understanding that when audiovideo starts, the mode gets changed to `MODE_IN_COMMUNICATION`, but the quest apparently directs everything towards `STREAM_MUSIC`.

With the following script

[2021-07-07 16:57] zhinang-amazon commented on #296
Hi @massimo-bortolamei-hegias,

Thanks for reporting the issue, and it's interesting to see that you are bridging our Android SDK to Unity and building on Quest. We will take a look and get back to you.

[2021-07-07 23:15] zhinang-amazon commented on #295
Hi @sharadmhaske91,

Can you try testing to ensure your audioVideoFacade start/stop invocations are on the same thread?

[2021-07-12 07:44] jungmal opened #298 "setZOrderMediaOverlay dosen't work"
Hi,

setZOrderMediaOverlay works on amazon-chime-sdk ver 0.8.1(like videoRenderView.setZOrderMediaOverlay(true))

but I think it dosen't work amazon-chime-sdk ver 0.11.4 (like defaultVideoRenderView.setZOrderMediaOverlay(true))

In addition, I've stacked two surfaceviews and would like to change the order of which to top at runtime.

Please check it.

thanks.

**Test environment Info (please compl

[2021-07-13 01:51] jungmal commented on #298
There was a slight confuse. SetZOrderMediaOverlay doesn't work in both versions.

[2021-07-13 20:50] alnlau commented on #298
Hello,

When are you trying to call `setZOrderMediaOverlay`? From the [Android docs](https://developer.android.com/reference/android/view/SurfaceView#setZOrderMediaOverlay(boolean)):

[code]

Also, if changing the z ordering for the stacked surface views isn't working, what about rebinding the video views with `bindVideoView` and `unbindVideoView` to swap which video is being rendered on the surfa

[2021-07-14 06:53] jungmal commented on #298
Applying the code outside of onCreate became a problem.
Thank you for your reply.

[2021-07-14 06:53] #298 closed

[2021-07-14 19:16] alnlau commented on #295
Let us know if the suggestion resolves your issue.

[2021-07-14 19:16] #295 closed

[2021-07-14 19:16] alnlau commented on #291
Let us know if the suggestion resolves your issue.

[2021-07-14 19:16] #291 closed

[2021-07-14 19:16] alnlau commented on #283
Let us know if the suggestion resolves your issue.

[2021-07-14 19:16] #283 closed

[2021-07-14 19:18] alnlau commented on #294
Closing this in favor of https://github.com/aws/amazon-chime-sdk-android/issues/122

[2021-07-14 19:18] #294 closed

[2021-07-14 22:18] alnlau commented on #274
Feel free to re-open if this is still an issue.

[2021-07-14 22:18] #274 closed

[2021-07-21 22:21] JureSencar opened #302 "[Android] VideoScalingType has no impact on actual video cropping"
**Describe the bug**

Setting property to`VideoScalingType.AspectFit` does not work.

In the provided Android sample you change the size of the `SurfaceRenderView` and not the content.

I wanted to implement zooming on top of `TextrueRenderView` so that the zoomed in picture could also use the free space around the original (zoomed-out) picture.

I don't even see a feasible workaround without digg

[2021-07-21 22:30] linsang21 commented on #289
Fix has been release in [v.11.6](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.11.6), you could try out. Feel free to re-open if there's further issue.

[2021-07-21 22:30] #289 closed

[2021-07-22 13:19] sagarpatel288 commented on #289
Hi @linsang21 Thanks for the update. I tried [v.11.6](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.11.6) and I am still facing the same issue in the same way. It is working fine only when we change the `width` as below in `DefaultScreenCaptureSource`:

[code]

_P.S. I have already provided two videos (after and before changes) in the review section of the associated PR. You can

[2021-07-24 00:49] Phi1123581 opened #303 "I need help using the voice focus feature to clean up some recordings."
I want to build an app that can clean up recordings to output clean human voice recordings and throw away the background noise.

If I need a subscription to use the ask I will get one.

If someone can tutor me to get the app running, I will be thankful or I can hire someone to either tutor me or to make the app.

Is that possible?

Thanks a lot

Philip

:)

[2021-07-26 19:56] linsang21 commented on #303
Hi there, thanks for submitting the issue. Seems like you'd like to get voice focus as a separate processor to handle an existing voice record. Unfortunately that's not supported by the mobile SDK. The closest thing on the mobile SDK is to apply voice focus feature during a meeting, see [here](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/api_overview.md#11-using-amazon-voice-

[2021-07-27 03:36] ambhar11 opened #304 "Record meeting audio using Android SDK"
Hi,

I have been looking for documentation for recording the meeting audio using Android SDK.

The scenarios for which I am looking for this is-
_There will be 2 users who will join the chime meeting using mobile devices. Once they join the meeting, we want to start the call recording and save it to S3 once call is ended._

I have found documentation for web SDK for this feature but could not find

[2021-07-27 10:12] nataliia-zarudna opened #305 "Screen sharing is broken on Lenovo tablet"
Hello.
We have an issue with screen sharing. Works ok on Pixel/Samsung, but when you start it from Lenovo TB-J606F (Android 10) other participants see broken video.

**Steps to reproduce the behavior:**
1. Connect to session on Lenovo TB-J606F (Android 10)
2. Start screen sharing
3. Other side sees broken video of Lenovo's screen

**Screenshot**
![Screenshot_20210727-110924_AmazonChimeSDKDemo](htt

[2021-07-27 17:21] prashanthacharyam opened #306 "App crashes on loading of meeting"
**Describe the bug**
I am using the lib in React Native app. When the meeting view is shown, it crashes.
Error Message -> Abort message: 'terminating with uncaught exception of type std::bad_cast: std::bad_cast'

**Logs**
2021-07-27 22:38:45.881 30771-31194/com.testapp V/AudioTrack: processAudioBuffer(351): obtainBuffer(300) returned 320 = 300 + 20 err 0
2021-07-27 22:38:45.881 30771-31194/com.tes

[2021-07-27 18:18] linsang21 commented on #304
Thanks for submitting the request, unfortunately recording is not supported on mobile SDK yet. Let's track in this consolidated issue: https://github.com/aws/amazon-chime-sdk-android/issues/247.

[2021-07-27 18:18] #304 closed

[2021-07-27 19:36] hokyungh commented on #305
Hi @nataliia-zarudna, is this newly introduced with 0.11.6/0.12.0 or were you experiencing this with old version?

[2021-07-27 19:47] hokyungh commented on #302
Thank you for reporting. Will try to reproduce and get back to you.

[2021-07-27 22:38] hokyungh commented on #302
Hello @JureSencar , I don't think you should change RenderView directly. Changing renderView directly gives sense that you want specific size instead of AspectFit. See [code](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/internal/utils/VideoLayoutMeasure.kt#L54).

If you see our [code](https://github.com/aws/ama

[2021-07-28 00:16] hokyungh commented on #279
Hi @ajkerfaisal , we currently don't have device, but I tested with different huawei device and wasn't able to reproduce it. Do you mind providing us with full logs?

[2021-07-28 09:16] ajkerfaisal commented on #279
Sorry, as I collected the log from the google play console. Can't provide the full log at this moment.

[2021-07-28 20:08] hokyungh commented on #306
Thank you for reporting, could you see if https://github.com/aws/amazon-chime-sdk-android/issues/226 helps? Basically downgrading ndk version.

[2021-07-29 09:01] prashanthacharyam commented on #306
Hi,
   I tried downgrading to 21 and 20 versions. None of them worked.

   Adding this line on onCreate does not crash the app
  -> System.loadLibrary("c++_shared");
   This is from [29377](https://github.com/facebook/react-native/issues/29377#issuecomment-852926468).
   Don't know if this is the correct way to solve the issue.
   Anyone care to explain what does the line do and its impact on the

[2021-07-30 04:59] Suresh-Reddevil opened #309 "java.lang.UnsatisfiedLinkError: No implementation found for long org.amazon.chime.webrtc.TimestampAligner.nativeCreateTimestampAligner() - App crashes"
Hi,

I am trying to use the provided camera capture implementation as a custom source in a video call to open the device camera before creating the meeting session.  I get an unsatisfied link error while trying to execute `CaptureCameraSource.start.`

I am following the link below :
https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/custom_video.md#using-the-provided-camera-capture

[2021-07-30 22:05] hokyungh commented on #309
@Suresh-Reddevil
Hi I just wanted to check few of followings
1. Are you using our SDK directly (only use media SDK) or using prebuilt SDK and media SDK.
2. Do you know if media SDK is also included? For instance, do you see in your build.gradle
[code]
3. What version of SDK/media SDK are you using?
?

[2021-08-01 17:20] i-soroka opened #310 "Messaging session"
## Tell us about the problem you are trying to solve and why is it hard?
I want to establish messaging session, just as in messaging-session example. Is it possible? Cause I have not found any related classes such as DefaultMessagingSession in android chime sdk.

Is it even possible? Any help is appreciated!

[2021-08-02 04:51] Suresh-Reddevil commented on #309
Hi,

Thank you for the response.

We are using aar file for both chime and media sdk.

**Version 0.11.2**

![Screen Shot 2021-08-02 at 10 32 33 AM](https://user-images.githubusercontent.com/13093548/127805554-9c8d69ac-1f09-4c3c-8b12-37612db29451.png)

![Screen Shot 2021-08-02 at 10 35 11 AM](https://user-images.githubusercontent.com/13093548/127805761-31781f1f-7047-406a-bcd3-8dc308076a1b.png)

We

[2021-08-02 04:57] hokyungh commented on #275
Hi @sagarpatel288, see https://github.com/aws/amazon-chime-sdk-android/issues/302 for reference. Directly setting width and height of `SurfaceRenderView` will ignore `scalingType.`

[2021-08-02 15:01] Guy1982 opened #312 "Crash when video starts"
**Describe the bug**
Crash when video starts

**To Reproduce**
Steps to reproduce the behavior:
1. start video session

**Expected behavior**
Not to crash

**Logs**
java.lang.IllegalArgumentException: Cannot round NaN value.
at kotlin.math.MathKt__MathJVMKt.roundToInt(MathJVM.kt:602)
at com.amazonaws.services.chime.sdk.meetings.internal.video.gl.DefaultGlVideoFrameDrawer$calculateTransformedRender

[2021-08-02 17:39] mharlowfod opened #313 "1080x1920 Camera Input resulting in 1072x1920"
Hello,

I have recently been building out a chime implementation on web, iOS, and Android and have been exploring how to offer the best video resolutions to the user. In doing so, I noticed a strange issue: when 1 android device turns on video using a format of 1080x1920@15, a 2nd android device receives the video tile, but it reports in the console log as 1072 instead of 1080.

As a side note, I

[2021-08-02 22:01] hokyungh commented on #310
Thanks for opening issue. We'll update the ticket if this feature is out.

[2021-08-02 22:59] hokyungh commented on #309
Hi I think I know what happens here.
So some of those linking happens with [loadLibrary](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/internal/audio/AudioClientFactory.kt#L19)

However, in your case, I think you do not create any `DefaultMeetingSession`, but use `DefaultCameraCaptureSource` directly. For a work

[2021-08-03 00:51] hokyungh commented on #312
Thanks for opening issue. Could you provide a way to reproduce this issue?

Does it happen when you start our demo application and it just immediately crashes? I am trying to gather idea our some of values becomes NaN.

[2021-08-03 05:15] i-soroka commented on #310
@hokyungh hey, thanks for the replay! But maybe you can say some tricks how it can be done? Or I just have to get any library allows to connect to a websocket, and follow [this ](https://docs.aws.amazon.com/chime/latest/dg/websockets.html) reference?

[2021-08-03 06:16] Guy1982 commented on #312
Set the width and height to be dynamic. In my case I set the width and height are 55:100 ratio.
This is a cell in a horizontal collection view.

<?xml version="1.0" encoding="utf-8"?>
<androidx.constraintlayout.widget.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"

[2021-08-03 17:47] Suresh-Reddevil commented on #309
Hi @hokyungh

I tried `System.loadLibrary("amazon_chime_media_client")` before `cameraCaptureSource` and it seems to be working.
Currently, I am trying in a sample code and in the simulator. We will start real implementation today and get back to you with the outcome.

But for now, the error is gone in the simulator and is working as expected.

Thanks for the help.

Please keep us posted.

[2021-08-03 23:09] ziyiz-amzn commented on #306
@prashanthacharyam
It seems a workaround. Our team maintains a [Chime SDK react native demo](https://github.com/aws-samples/amazon-chime-react-native-demo) as well, you may refer [here](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/7cf2944bd77068041260c62e0b00011bdacab06f/android/app/build.gradle#L177).

[2021-08-04 02:27] ziyiz-amzn commented on #312
Hi @Guy1982
Does the crash happen only after you set the layout_constraintDimensionRatio?

[2021-08-04 02:34] ziyiz-amzn commented on #313
Thank you for reporting this. We will take a look and update.

[2021-08-04 05:19] Guy1982 commented on #312
Hi,
The crash happens new participant is added or removed from the list.
We can set a hands-on session (Viedo call ZOOM?) and I will reproduce the
crash for you in live.
I'm located in Israel and available from 09:00AM-18:00PM weekdays.

Guy Shachar.

On Wed, Aug 4, 2021 at 5:27 AM Ziyi Zhang ***@***.***> wrote:

--

Guy Shachar.

[2021-08-04 07:39] nataliia-zarudna commented on #305
I could reproduce it on versions 0.11.6/0.12.0.
Video was like that during call. Touch icon didn't help.
I didn't see any errors in logs. Maybe you can give us some tags by which to search for a logs you need?

[2021-08-04 11:42] prashanthacharyam commented on #306
I have copied that exact section. But app still crashed.
Only with System.loadLibrary it's stable.

[2021-08-05 00:52] gsphyo91 opened #315 "[Question] Can I use the Javascript SDK and Android SDK together?"
I am developing a video meeting service using Javascript SDK.
I want to provide the service on Android and iOS too, but I can't use Screen Share on my mobile browser.

Among the functions of services developed using Javascript SDK, can only Screen Share be developed using Android SDK?

[2021-08-05 18:44] ziyiz-amzn commented on #315
Hi @gsphyo91  Android screen share API works natively, you may need create an Android app to enable screen share feature. amazon-chime-sdk-android is easy to start with a [demo app](https://github.com/aws/amazon-chime-sdk-android/tree/master/app) and detailed documentation. More feature has being actively added to it.

[2021-08-05 19:38] ziyiz-amzn commented on #310
@i-soroka You can refer to the [messaging session in Chime JS SDK](https://github.com/aws/amazon-chime-sdk-js/blob/master/src/messagingsession/DefaultMessagingSession.ts). Basically, get an session endpoint URL, sign the request and set up an websocket connection, filter message for a certain channel.

We will update this when feature is out.

[2021-08-05 19:51] ziyiz-amzn commented on #312
Hi @Guy1982

Does the crash happen with the original demo app?

If the crash happens when you made minor changes on the demo app, could you please tell us all changes you made and the exact steps to reproduce?

If the crash happens on your own created app, debugging is out of the scope of Github Issue. You can contact AWS premium support and cut ticket to work on it.

[2021-08-05 20:22] ziyiz-amzn commented on #313
Hi @mharlowfod , We are still working on to reproduce the 1st question.

For the 2nd, Chime SDK iOS/Android does not support 30 FPS yet for now.
[Android](https://github.com/aws/amazon-chime-sdk-android/blob/4cc826f91d8c6ff76de99c13e4a4008bb673d07d/app/src/main/java/com/amazonaws/services/chime/sdkdemo/fragment/DeviceManagementFragment.kt#L267)
[iOS](https://github.com/aws/amazon-chime-sdk-ios/blo

[2021-08-06 15:57] CravenOngWL opened #316 "compileSdkVersion and targetSdkVersion set to 30"
**Describe the bug**
Cannot build the project when upgrad to SDK 30

**To Reproduce**
Steps to reproduce the behavior:
1. Build the project with SDK 30
2. Error when build project
Class 'MeetingVideoRenderView' is not abstract and does not implement abstract base class member public abstract fun surfaceChanged(p0: SurfaceHolder, p1: Int, p2: Int, p3: Int): Unit defined in com.amazonaws.services.ch

[2021-08-07 00:24] ziyiz-amzn commented on #316
Thank you for reporting. We will reproduce it on SDK version 30.

[2021-08-08 07:13] i-soroka commented on #310
@ziyiz-amzn thank you, it works great! But I need this logic in java. I moved exactly the same logic into java code, and it doesn't wanna work. All of my tries to make a request to AWS finished with "401 UNATHORIZED". Could you please look at it, if I upload my code to a repo?

[2021-08-09 00:43] gsphyo91 commented on #315
Thank you for answering. @ziyiz-amzn

Can I use the Meeting Info and Attendee Info used in the `SDK for Javascript` as they are in the `SDK for Android`?
I would like to provide only the Screen Share function in Android while using the `SDK for Javascript` application as it is.

[2021-08-09 16:25] #306 closed

[2021-08-10 05:39] Suresh-Reddevil commented on #309
Fixed and working fine now.

[2021-08-10 05:39] #309 closed

[2021-08-10 07:51] massimo-bortolamei-hegias commented on #296
Hello @zhinang-amazon , do you have any feedback on this issue? The custom solution that I got from Photon (and enhanced myself) is not working anymore since latest Oculus Quest software update :(

[2021-08-10 16:29] mharlowfod commented on #313
Thank you @ziyiz-amzn ! I am aware of the 30 fps limitations, although I am still curious if there is a good way to detect the FPS that chime has selected to send. I am aware of the "metrics" implementations of the various platforms, which help to gauge the frames received, but just looking for something on the sending end if it exists.

[2021-08-10 22:27] ziyiz-amzn commented on #315
Hi @gsphyo91 Yes, I believe you are referring to [this](https://quip-amazon.com/z3ybADL30jCM/2021-08-09-Mobile-Oncall-Handoff-ziyiz#MIS9CAnmSfB).

[2021-08-11 21:49] zhinang-amazon commented on #302
Closing. Feel free to reopen if you need more information from us.

[2021-08-11 21:51] zhinang-amazon commented on #275
Closing. Feel free to reopen if you need more information from us.

[2021-08-11 21:51] #275 closed

[2021-08-11 23:53] JureSencar commented on #302
Hi, so what is then your recommended approach on implementing zooming feature on top of RenderView while starting with AspectFit state?

A typical use case is screen sharing, where at start we don't want to crop the view, but we want to allow users to zoom in.

Zoomed in picture should also use the space that was unused due to AspectFit (and background color should be settable).

[2021-08-13 18:28] zhinang-amazon commented on #305
Hi @nataliia-zarudna,

To provide us with verbose level logging, you can refer to this section on our README: https://github.com/aws/amazon-chime-sdk-android#how-can-i-get-amazon-chime-sdk-logs-for-debugging.

[2021-08-15 17:36] prodev-alt opened #317 "Media projections require a foreground service"
**Describe the bug**
I am going to share my app screen using AWS chime content share.
I've followed their guide and implemented the functionalities.
However, I am getting the following crash whenever accessing to the media projection.

**To Reproduce**
Steps to reproduce the behavior:
1. `startScreenShare(resultCode, it, requireContext())`
2. `screenShareManager?.start()`
3. `startInternal()`
4. `

[2021-08-16 09:00] CravenOngWL commented on #316
@ziyiz-amzn  Hi, When would this be fix as currently Play store only allow app submitted with SDK version 30.

[2021-08-16 15:59] zhinang-amazon commented on #317
Hi @prodev-alt,
The error message is self explanatory. Our guide [here](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/content_share.md#constructing-the-provided-screen-capture-source-implementation) talked about creating a foreground service. Can you give it a try?

[2021-08-16 16:08] prodev-alt commented on #317
Hi @zhinang-amazon ,
I have already tried the same way, but the app has been crashed many times.

[2021-08-17 12:46] prodev-alt commented on #317
@zhinang-amazon  Any update?

[2021-08-18 18:49] prodev-alt commented on #317
@zhinang-amazon I have not heard anything from you yet. What's happening?

[2021-08-18 21:19] alnlau commented on #317
Hello,

Apologies for the delayed response.

I was able to reproduce the issue in the SDK demo app though another coworker was unable to. We used a Galaxy S9 in both cases.

For the SDK demo app's case, it's a race condition where the foreground service needs to finish starting before `DefaultScreenCaptureSource` tries to get the media projection. This is because the SDK demo app tries to start `D

[2021-08-18 21:26] prodev-alt commented on #317
@alnlau Thanks for the update.
Can you put the example code snippet here?

[2021-08-18 21:44] alnlau commented on #317
Sure.

In the SDK demo app, I modified `startScreenShare` in [MeetingFragment.kt](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/fragment/MeetingFragment.kt#L992) with the following in my experiment:

[code]

[2021-08-19 23:09] alnlau commented on #312
Feel free to re-open if this is still an issue

[2021-08-19 23:09] #312 closed

[2021-08-19 23:10] alnlau commented on #303
Let us know if there are other questions

[2021-08-19 23:10] #303 closed

[2021-08-19 23:12] alnlau commented on #285
Feel free to re-open if this is still an issue

[2021-08-19 23:12] #285 closed

[2021-08-20 22:58] alnlau commented on #317
Hello,

Were you able to resolve the crash with the suggestion above?

[2021-08-21 02:20] prodev-alt commented on #317
@alnlau The crash was fixed, but the content sharing is not working.
The host screen should be broadcasted to the participants, but failed.

[2021-08-23 18:40] ziyiz-amzn commented on #310
@i-soroka 401 mostly results from an invalid signed WebSocket URL, could you please double check the SigV4 signing process? If it works in JS SDK, you may need to ensure that the signed URL in Java is exactly the same with the one in JS. Any issue during signing will lead "401 UNATHORIZED".

[2021-08-26 07:22] hyeseong0914 opened #319 "Application crashes on video connection"
**Describe the bug**
I tried applying CHIME video call solution to my project through AWS CHIME REACT NATIVE DEMO.

- Link: https://github.com/aws-samples/amazon-chime-react-native-demo#how-to-run-the-react-native-demo-application

As a result of integrating and running IOS & ANDROID SDK in my project, after creating a video room on the web, access it from the app,
I confirmed that the connection

[2021-08-31 19:11] #319 closed

[2021-08-31 23:27] hokyungh commented on #317
Hi @prodev-alt sorry for late reply, could you provide more information on the failure?

[2021-09-01 07:20] jungmal opened #322 "The content share does not work on the SM-T500 (Samsung Galaxy A7)"
**Describe the bug**
I've read https://github.com/aws/amazon-chime-sdk-android/issues/305, but it's a little different from this.

Unlike Lenovo's case mentioned above, the video doesn't seem to break, but it doesn't seem to be uploaded at all. I checked that the 'name <<Content>>' are in the attaches list.

It works normally when installed on a different smartphone (Galaxy S8) with the same apk.

[2021-09-01 17:19] prodev-alt commented on #317
Hi @hokyungh Thanks for your reply. The sample app works without any crash, but I can see only black or white screen in other app, so the screen sharing is not working properly.

[2021-09-01 17:45] hokyungh commented on #317
@prodev-alt do you mind providing some logs/screenshot? Is screen share actually started or do you see alert message saying, "screen share wasn't able to start"?

[2021-09-01 18:03] hokyungh commented on #317
just to confirm it is reproduced using Galaxy S21, Galaxy S10 and it is device to device view. Is that correct? Additionally, if you can provide us the full logs/screen shots that would be great.

[2021-09-01 18:10] hokyungh commented on #322
Hello @jungmal, do you mind providing full logs to us? Additionally, could you try with our [development](https://github.com/aws/amazon-chime-sdk-android/tree/development) branch to see if upcoming release might fix your issue?

[2021-09-01 20:37] sagarpatel288 opened #323 "Pinch to zoom in, pan and drag support for video and content share"
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2021-09-01 21:00] hokyungh commented on #323
Thanks. Looks like you already added feature-request label. Will update this issue if we have any updates to it.

[2021-09-02 02:15] jungmal commented on #322
Hi, @hokyungh

Unfortunately, I tried to code the development branch, but it didn't work well.

Here are the full logs you requested.
[full_logs.txt](https://github.com/aws/amazon-chime-sdk-android/files/7095537/full_logs.txt)

[2021-09-03 18:24] hokyungh commented on #316
@CravenOngWL We released new version with SDK 30 on [v0.12.0](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.12.0). I'll close the ticket, but feel free to reopen it if you are still having issue.

[2021-09-03 18:24] #316 closed

[2021-09-03 18:43] hokyungh commented on #317
@prodev-alt I tried to reproduce the issue on S21, S10, but I wasn't able to reproduce the issue.

[2021-09-03 22:08] hokyungh commented on #322
Hello @jungmal , thank you for getting back. Would you be able to provide little more details on the situation?

1. How many videos were present at that time of screen share?
2. Was there any other apps running that could possibly rendering video?
3. How much space does this device has left?

[2021-09-03 23:24] hokyungh commented on #305
@nataliia-zarudna Based on the log, I couldn't find any info that seems to be issue. We don't have leonva tablet, so it might be hard for us to reproduce this issue. Since video is working fine, but content share is the issue, I feel like it might lies with [code](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/au

[2021-09-06 01:16] jungmal commented on #322
Hi @hokyungh, I'd be glad to let you know.

**1. How many videos were present at that time of screen share?**
I didn't share videos other than content share when I shared the screen. However, it still didn't work even if I used content share like one or more videos.

**2. Was there any other apps running that could possibly rendering video?**
There was no other app running that could render the vi

[2021-09-07 08:25] jungmal commented on #322
Hi @hokyungh,

I am attaching some logs additionally to help you.
On LENOVO TB-X606F (Android 10), the app crashes when I start content share.
(It's an old model of LENOVO TB-J606F.)

Here's a full log.
[full_logs_2.txt](https://github.com/aws/amazon-chime-sdk-android/files/7120034/full_logs_2.txt)

[2021-09-11 02:32] KunNiu opened #325 "Cannot receive self sent messages"
**Describe the bug**
I cannot receive self sent messages(both Android and iOS), but from the screenshot of your doc, it seems self messages are filtered.

**To Reproduce**
Steps to reproduce the behavior:
1. Create session, add observers include DataMessageObserver
2. send a message
3. Others can receive the message, but sender cannot

**Screenshots**
![image](https://user-images.githubusercontent

[2021-09-11 03:44] KunNiu opened #326 "what's the difference between onAttendeesLeft and onAttendeesLeft"
Hello team, I have a question that what's the difference between **onAttendeesLeft** and **onAttendeesLeft**, if the two API will both called when a member leave meeting?

[2021-09-11 14:38] prodev-alt commented on #317
@alnlau Please check the following screenshot.

![Meeting Demo 2021-09-11 10-29-50](https://user-images.githubusercontent.com/22884168/132951369-2a6fee19-2e88-4afe-8965-423c10452b26.png)

I was trying to share the Android phone screen while doing a video call.
However, as you can see the above screenshot, the front camera was shared, but it should be the phone screen.
Let me know the reason why.

[2021-09-13 05:10] prodev-alt commented on #317
@alnlau Any update? Actually, we need to share the back camera (rear camera)

[2021-09-13 06:29] KunNiu opened #327 "IllegalArgumentException on some device"
**Describe the bug**
Hello expert, I use **DefaultCameraCaptureSource** as the local video source, and have tested on two devices, it works well on a Samsung S20 Android 11, but occur this exception with high frequency on a Huawei Mate 20 Android 11 device.

**Expected behavior**
No exception.

**Logs**
` 1
android.hardware.camera2.CaptureRequest.convertSurfaceToStreamId(CaptureRequest.java:738)
2

[2021-09-13 15:40] zhinang-amazon commented on #326
Hi @KunNiu , I'm guessing you mean `onAttendeesLeft` and `onAttendeesdropped`?

If you look at our documentation [here](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/realtime/RealtimeObserver.kt#L58), Dropped event is due to network. Left event is either removed from server side or user leaves the meeting volunt

[2021-09-13 15:41] #326 closed

[2021-09-13 15:57] zhinang-amazon commented on #317
Hi @prodev-alt, our [DefaultScreenCaptureSource](https://github.com/aws/amazon-chime-sdk-android/blob/b1e035efe96da087246d5b341119009227efcf93/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/capture/DefaultScreenCaptureSource.kt#L34) is for sharing device screen, not front or back camera stream. If you intend to use `startLocalVideo` API to send front came

[2021-09-13 16:00] prodev-alt commented on #317
Hi @zhinang-amazon Thanks for the update.
Yes sure. I can access front and back camera of the device at the same time.

[2021-09-13 16:00] prodev-alt commented on #317
@zhinang-amazon Is there any example code snippet that I can refer?

[2021-09-13 16:11] zhinang-amazon commented on #317
[Here](https://github.com/aws/amazon-chime-sdk-android/blob/b1e035efe96da087246d5b341119009227efcf93/app/src/main/java/com/amazonaws/services/chime/sdkdemo/fragment/MeetingFragment.kt#L869) is how our DefaultCameraCaptureSource is used for the `startLocalVideo` API in our demo app. We do not have sample code for using it as content share

[2021-09-13 16:21] prodev-alt commented on #317
@zhinang-amazon can you show me the example code snippet to create another DefaultCameraSource to pass to the startContentShare API?

[2021-09-13 18:39] zhinang-amazon commented on #325
Hi @KunNiu , This is the expected behavior. The documentation is partially copied from our demo app where we invoke the `OnDataMessageReceived` handler when we send the message so that we reuse the rendering logic. We will update our documentation to explicitly call this out.

Thanks

[2021-09-13 19:01] prodev-alt commented on #317
@zhinang-amazon I was trying to create the custom video source for rear camera, but not sure how it should be.
I need your help.

[2021-09-13 19:18] prodev-alt commented on #317
@alnlau @hokyungh could you check my comments in above? Thank you!

[2021-09-13 21:14] prodev-alt commented on #317
@alnlau @hokyungh @zhinang-amazon Please check my code.

[code]

[2021-09-13 22:28] zhinang-amazon commented on #327
Hi @KunNiu, I'm not able to reproduce with Huawei Mate 20 device. Can you reproduce with our Android demo app?

[2021-09-14 01:49] KunNiu commented on #327
Hello @zhinang-amazon, thanks for your quickly reply. I'm not able to reproduce in demo app, it occur in my own app, it works well on a Samsung device, but always got this exception on a Huawei device.

[2021-09-14 02:03] KunNiu commented on #325
Thanks @zhinang-amazon

[2021-09-14 02:04] KunNiu commented on #326
Thanks @zhinang-amazon

[2021-09-14 02:06] KunNiu commented on #327
@zhinang-amazon , if more information is needed, please let me know.

[2021-09-14 15:48] zhinang-amazon commented on #327
Hi @KunNiu,

It's difficult for us to debug issues in your codebase. I would suggest comparing the call sequence related to `DefaultCameraCaptureSource` between your app and our demo app and see if anything jumps out.
Another resource is this [guide](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/custom_video.md) on how to use video source.

[2021-09-14 15:53] zhinang-amazon commented on #325
Documentation update is merged to development branch and will be released to master branch in the next release. Closing this issue

[2021-09-14 15:53] #325 closed

[2021-09-15 01:48] KunNiu commented on #327
@zhinang-amazon , not sure if this has any effect, I add two sinks to **DefaultCameraCaptureSource**.

[2021-09-15 17:20] ziyiz-amzn commented on #310
Hi @i-soroka The Amazon Chime team has published a blog post [Build chat applications in iOS and Android with Amazon Chime SDK messaging](https://aws.amazon.com/blogs/business-productivity/build-chat-applications-in-ios-and-android-with-amazon-chime-sdk-messaging/) to introduce Amazon Chime SDK messaging in iOS and Android.

[2021-09-16 03:09] jungmal commented on #322
Hi @hokyungh,

I'm confirmed that content sharing is operating normally in samsung galaxy tabs s5e (SM-T720) (Android 11).

By the way, Is any progress in this issue?

[2021-09-16 05:29] i-soroka commented on #310
Hi @ziyiz-amzn thanks to you and to the team! We already done our app, but your solution must be very helpful!

[2021-09-16 09:27] KunNiu commented on #325
@zhinang-amazon , so how can we know if the message sent out successfully.

[2021-09-18 09:17] KunNiu commented on #327
[issue.log](https://github.com/aws/amazon-chime-sdk-android/files/7189633/issue.log)
[working.log](https://github.com/aws/amazon-chime-sdk-android/files/7189634/working.log)

Hello @zhinang-amazon , I uploaded two log files, one is working log, although there is an exception in it, the working log still can work as expected. And the issue log include the IllegalArgumentException that will make app

[2021-09-20 16:26] hokyungh commented on #317
Sorry for late reply, I'll try to reproduce the issue with given code.

[2021-09-20 16:30] prodev-alt commented on #317
@hokyungh Thanks for getting back to me. Please keep me posted!

[2021-09-21 13:16] prodev-alt commented on #317
@hokyungh Any update?

[2021-09-21 17:47] hokyungh commented on #317
@prodev-alt I was able to reproduce the issue, but I am getting different logs in different devices, so currently checking why we can't open two camera at a same time

[2021-09-21 18:04] prodev-alt commented on #317
@hokyungh Ok thanks for getting back to me. Let me know once you catch anything weird.

[2021-09-21 20:56] hokyungh commented on #317
@prodev-alt So after investigation, I found out that you might need your custom capture source. The device does support multiple camera, but some camera might not be same.

some changes I made is to make capturer takes
[code]

[code]
[code]

Some camera does not support torch which causes some issue, so you might want to comment out

[code]

I also found that some combination of back/front camera

[2021-09-21 21:38] prodev-alt commented on #317
@hokyungh Ok let me check right now.

[2021-09-21 23:12] prodev-alt commented on #317
"When I tested with S21 or S20, I chose "0" and "3" as id to pass and I was able to send both at the same time."
@hokyungh can you please share your code here?

I have tried, but not sure why. Anyway it failed.

[2021-09-22 00:12] hokyungh commented on #317
Screen share
[code]
main video
[code]

Do you also mind pasting logs? Could you also list out cameras to see if you get similar results as mine?

[2021-09-22 00:41] hokyungh commented on #322
Hi @jungmal, sorry for late reply. we'll see if someone can pick up this task.

[2021-09-22 01:11] prodev-alt commented on #317
@hokyungh As you know, **DefaultCameraCaptureSource** has no member variable: cameraId.
How are you passing "0" or "3" in following code snippet?

[code]

Also, could you send me your full code? or any commit on git repo?

[2021-09-22 01:19] hokyungh commented on #317
Could you try this branch https://github.com/aws/amazon-chime-sdk-android/tree/test-dual-camera?

I directly modified `DefaultCameraCaptureSource` from SDK layer for testing purpose, so you would need your own custom source.

[2021-09-22 02:37] dylonChime commented on #259
I will close this for now. Feel free to reopen if you have further questions.

[2021-09-22 02:37] #259 closed

[2021-09-22 23:01] prodev-alt commented on #317
@hokyungh I can see the back camera's shared in demo app. Thank you!
By the way, I can not see the preview screen for back camera. Please let me know.

[2021-09-23 17:35] hokyungh commented on #317
@prodev-alt could you elaborate on not seeing back camera?

[2021-09-23 20:19] prodev-alt commented on #317
[DualCamActivity.txt](https://github.com/aws/amazon-chime-sdk-android/files/7220647/DualCamActivity.txt)

@hokyungh could you review this code snippet? Looking forward to hearing from you as quickly as possible.

[2021-09-23 23:34] prodev-alt commented on #317
@hokyungh Also, could you check the following screenshot?

The app crashed after invoking startScreenShare(). And then I can see the error log.

![Movies   TV 2021-09-23 19 31 47](https://user-images.githubusercontent.com/22884168/134597082-6b249df7-5eae-4c94-89bf-34e641e2bab8.png)

[2021-09-23 23:59] hokyungh commented on #317
@prodev-alt Do you mind providing little more information? Like
1. Steps to reproduce (Did it just crash when you start screen share)?
2. Were you screen sharing phone or phone camera?

[2021-09-24 01:23] prodev-alt commented on #317
@hokyungh Yes, sure.
1. Steps to reproduce (Did it just crash when you start screen share)?
It was crashed when I started screen share.

2. Were you screen sharing phone or phone camera?
Yes, I was sharing the phone camera. Actually, I have followed your test code in test-dual-camera branch.

[2021-09-24 16:22] dylonChime commented on #260
I'll close this for now. We have an open issue for documentation: https://github.com/aws/amazon-chime-sdk-android/issues/267

[2021-09-24 16:22] #260 closed

[2021-09-24 16:34] dylonChime commented on #286
I'll close this for now. Feel free to reopen if the issue persists.

[2021-09-24 16:34] #286 closed

[2021-09-24 23:22] hokyungh commented on #317
Sorry, I was trying to reproduce this issue with `SM-G780G`, but wasn't able to reproduce.

However, screen share code looks the same. I also try to rotate the device, but no crash observed either.

But based on the logs, it seems that there is no log for onAudioSessionStarted/onVideoSessionStarted. Do you mind starting content share after `onVideoSessionStarted`?

[2021-09-25 00:49] prodev-alt commented on #317
@hokyungh Ok Thanks for the update. Let me try again.

[2021-09-27 15:18] dylonChime commented on #278
Using the latest SDK, galaxy S10, and the provided demo, I do notice a very slight lag in the remote video when toggling the local video. Is this what you are referring to? Can you try with our demo app and compare the results? Thanks.

[2021-09-28 10:54] prodev-alt commented on #317
@hokyungh I was able to test the dual camera feature successfully.
Let me know how to preview the back camera while sharing it.

[2021-09-28 16:14] hokyungh commented on #317
Hi @prodev-alt, you can add more sinks to the back camera to see what is it rendering. See the [code](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/fragment/DeviceManagementFragment.kt#L150).

Just to make sure as well, dual camera will not work for every phone due to hardware limiation.

[2021-09-28 21:11] prodev-alt commented on #317
Hi @hokyungh Thanks for getting back to us!

The app gets stuck after ending the session.

Could you check the following code snippet?

[code]

[2021-10-04 08:44] massimo-bortolamei-hegias commented on #296
Hello @zhinang-amazon , I investigated quite a lot about what is happening and I believe I could solve the issue if I had access to the `AudioTrack` that is created by chime to stream the audio into.
Would it be possible to expose a reference to such `AudioTrack` through the API ? I believe I could then control its volume directly with [setVolume](https://developer.android.com/reference/android/me

[2021-10-05 17:33] alnlau commented on #296
Hello,

We currently do not expose the `AudioTrack`. We'll  consider exposing the audio as a feature request and update this when we have more information about this.

[2021-10-05 18:05] alnlau commented on #305
Feel free to reopen if this is still an issue

[2021-10-05 18:05] #305 closed

[2021-10-05 19:03] linsang21 commented on #317
Do you mind add break point / log trace and let us know at which line it gets stuck, and whether it's SDK API? There seems to be many app own components which we don't have much context on.

[2021-10-20 01:59] eunhwa-park opened #333 "Plan to share content with audio source"
Could you share a plan to share content with audio source?

According to the article below, screen sharing for the Amazon Chime SDKs for Android cannot support audio sharing.
https://aws.amazon.com/about-aws/whats-new/2021/01/amazon-chime-sdk-ios-android-support-screen-share/?nc1=h_ls

In Zoom or other video communication apps, I can share audio when sharing my screen.
Using Chime SDK for Android,

[2021-10-29 12:21] ajay91kukreja opened #339 "After some time audio transmitting get stopped"
**Describe the bug**
After joining the meeting if one user puts the android app in the background after 1 min the audio stops transmitting and also  I get the call back in the On AttendessDrop function.

[2021-10-29 19:06] hokyungh commented on #339
Hi @ajay91kukreja Thank for opening the issue. Are you using [service](https://developer.android.com/guide/components/services) by any chance? If you background the app, the Android OS could remove it to save memory unless you have service in place.

[2021-11-02 04:30] tmilovan123 opened #342 "[Feature Request] Provide x86-compatible SDK builds"
Hello,

Current Chime SDK builds do not provide native libraries for running on x86 emulators (only ARM 32/64-bit). It is a bottleneck for some of our developers, since they need to use a native device or an ARM emulator to test a video call.

Is it possible to provide x86-compatible debug builds (debug-only)?

[2021-11-02 16:24] hokyungh commented on #342
Thanks for opening issue. I have added feature-request label. We'll see what we can do.

[2021-11-03 09:42] VadimChubarov opened #344 "VideoFrameRGBABuffer implementation of VideoFrameBuffer (within VideoFrame) is not compatible with VideoRenderView implementations"
**Describe the bug**

We are using custom implementation of` CameraCaptureSource` with frame processing.
 As output of frame processing we are getting `VideoFrameRGBABuffer` implementation of` VideoFrameBuffer` interface (as result corresponding `VideoFrame` object). It works fine with using this camera source with `AudioVideoControllerFacade `via `startLocalVideo(source: VideoSource)` method, but

[2021-11-04 10:32] dylonChime commented on #344
Hi Vadim,
Thanks for reporting this bug.

I was able to reproduce the crash in our demo app by replacing [this line](https://github.com/aws/amazon-chime-sdk-android/blob/4cc826f91d8c6ff76de99c13e4a4008bb673d07d/app/src/main/java/com/amazonaws/services/chime/sdkdemo/fragment/DeviceManagementFragment.kt#L160) with:

[code]

Since the CpuVideoProcessor pumps out frames with VideoFrameRGBABuffers, its

[2021-11-08 10:44] prodev-alt commented on #317
@zhinang-amazon @alnlau @hokyungh We're going to share the back camera while doing a video call using front camera in iOS app.
I am just worry if there is any restriction or issue in iOS SDK.
Looking forward to hearing from you.

[2021-11-08 22:56] hokyungh commented on #317
@prodev-alt It seems to be possible according to [here](https://developer.apple.com/videos/play/wwdc2019/249/) . However, looks like it only supports from iOS13+ and iPhone X+ models. There could be hardware restriction depending on the device and the OS.

[2021-11-09 02:45] prodev-alt commented on #317
@hokyungh Thanks for reaching out to me. Yes, there is a hardware restriction in iOS.

[2021-11-10 19:30] prodev-alt commented on #317
@zhinang-amazon @alnlau @hokyungh So let us know how to share the back camera using Chime iOS SDK?

[2021-11-11 03:27] prodev-alt commented on #317
@zhinang-amazon @alnlau @hokyungh

![Monosnap 2021-11-10 22-23-32](https://user-images.githubusercontent.com/22884168/141231895-756c3322-370e-407c-9586-54678ad10ff2.png)

[code]

[code]

Please check this code snippet.

[2021-11-11 22:38] alnlau commented on #339
Let us know if the suggestion works for you.

[2021-11-11 22:38] #339 closed

[2021-11-11 22:52] alnlau commented on #317
Hello,

You can have a separate video source for each camera and pass one to `startLocalVideo ` and the other to `startContentShare`. You'll have to create your own `VideoSource` and `ContentShareSource` for this. You can reference the existing [DefaultCameraCaptureSource](https://github.com/aws/amazon-chime-sdk-ios/blob/master/AmazonChimeSDK/AmazonChimeSDK/audiovideo/video/capture/DefaultCameraCa

[2021-11-11 22:55] alnlau commented on #278
Let us know if this is still an issue.

[2021-11-11 22:55] #278 closed

[2021-11-11 23:24] prodev-alt commented on #317
@alnlau Thanks for reaching out to me.
As you can see the above code snippet, I created the separate source for each camera and passed them to startLocalVideo and startContentShare.
Can you show me the examples?

[2021-11-18 01:02] ziyiz-amzn commented on #276
@tmilovan123 Have you seen this issue again with our latest SDKs?

[2021-11-22 06:35] tmilovan123 commented on #276
@ziyiz-amzn We had reports about missing audio from customers, but don't have data whether they are related to this issue or no. So far, no other recorded cases from QA as well.

[2021-11-22 20:22] ziyiz-amzn commented on #276
Thanks, I will leave this issue open for a while. Let us know if you have more data.
We do not find any similar issue during our sanity tests of the SDK demo app.

[2021-11-22 20:33] tmilovan123 commented on #276
Feel free to close it if needed; I can re-open with newer data if there's a similar issue. Thanks!

[2021-11-22 22:18] #276 closed

[2021-11-29 06:03] california257 commented on #234
I also have the same problem when there are multiple renderviews triggered on screen.
`Fatal Exception: java.lang.RuntimeException: Failed to query context
at com.amazonaws.services.chime.sdk.meetings.audiovideo.video.gl.DefaultEglCore.(DefaultEglCore.kt:55)
at com.amazonaws.services.chime.sdk.meetings.audiovideo.video.gl.DefaultEglCoreFactory.createEglCore(DefaultEglCoreFactory.kt:32)
at com.amaz

[2021-12-09 07:01] Shakibuzzaman3104 opened #354 "Background Blur for android SDK?"
Hello,

**Background blur is available as part of the Amazon Chime SDK for JavaScript from version 2.20 onward.**  When is it coming to **[Android](https://github.com/aws/amazon-chime-sdk-android)** and **[IOS](https://github.com/aws/amazon-chime-sdk-ios)**? As you know, this is a must-have feature nowadays. Are you guys working on it? If so, when do we expect to receive the feature? Any insight o

[2021-12-14 21:04] hokyungh commented on #354
Thank you for opening issue. Since you added feature-request. I'll keep the label and update the ticket once we have this feature out.

[2021-12-15 21:52] dfbg-eldertech commented on #302
Did you find something out? I currently face the same issue

[2021-12-16 02:19] dylonChime commented on #313
I don't think this is currently supported, but I'll leave this open as a feature request.

[2021-12-21 09:41] KunNiu opened #356 "CaptureRequest contains unconfigured Input/Output Surface error happens on some devices"
**Describe the bug**
CaptureRequest contains unconfigured Input/Output Surface error happens on some devices

**To Reproduce**
Steps to reproduce the behavior:
This error happens on some devices when using the DefaultCameraCaptureSource feature.
And this error make app crash.

**Expected behavior**
No error and crash.

**Logs**
Error stack log:
android.hardware.camera2.CaptureRequest.convertSurfac

[2021-12-22 06:55] dylonChime commented on #344
Fix is out in newest release (0.14.0). Feel free to reopen if the problem persists.

[2021-12-22 06:55] #344 closed

[2021-12-22 21:33] dingyishen-amazon commented on #356
For the access denied error, have you granted the camera permission?
And could you please provide the specific reproduce steps like this?
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-12-23 20:25] markfedor opened #358 "In-Meeting support for external USB Camera's"
Hello.  we are using the android chime SDK in our App for Android and we need to be able to use an external USB camera which is plugged into the phone.   We are currently using the direct drivers provided by the camera vendor.  We can get preview video tiles on the phone from the camera.  However, when we create the Chime meeting and go through the join process, the external camera is not listed a

[2021-12-25 08:53] KunNiu commented on #356
@dingyishen-amazon I'm sure already granted the camera permission, and this issue is reported from our customers, we cannot let them try to reproduce with your demo app. And unfortunately we also cannot reproduce it because we only have Samsung phones as our test devices.

[2021-12-28 06:34] krishnakumar1123 opened #360 "XODEE client file is not supporting"
com.xodee.client.video.VideoClientConfig
 com.xodee.client.video.VideoClientDataMessageListener
 com.xodee.client.video.DataMessage as mediaDataMessage
 com.xodee.client.video.VideoClientDataMessageListener

Most of the supporting files unreadable and not supporting for development , please provide the latest working github source for us or give the solution of the issues.

[2021-12-30 01:05] ziyiz-amzn commented on #358
Hi @markfedor,

You are able to get the preview video tile from the external camera. It implies that the [MediaDevice.listVideoDevices(cameraManager)](https://github.com/aws/amazon-chime-sdk-android/blob/development/app/src/main/java/com/amazonaws/services/chime/sdkdemo/fragment/DeviceManagementFragment.kt#L172) returns all video devices. In our demo app, it filters out only FRONT/BACK_CAMERA, can

[2021-12-30 02:36] ziyiz-amzn commented on #356
Hi @KunNiu ,
I have tested our demo app on some devices in the same meeting. Tried enable/disable video for times for 10 minutes. No crashes was observed.
Xiaomi Mi MIX 2 - Android 9 - API level 28
Xiaomi MI 6 - Android 9 - API level 28
Huawei P30 - Android 9 - API level 28

Without some specific reproduce steps or scenarios, we are not able to make more investigate.
What are the size of the meeti

[2021-12-30 02:55] ziyiz-amzn commented on #360
@krishnakumar1123 Thank you for reaching to us. I double checked that the demo app we included in this repo can be built and run without any issue.

Could you please provide more context below about the issue you encountered?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down

[2021-12-30 08:26] jungmal opened #361 "Is there a way to execute 'android.media.AudioRecord.read()' during video call?"
I am currently developing an app to analyze the waveforms of audio based on sources like [this](https://github.com/bewantbe/audio-analyzer-for-android/blob/master/audioSpectrumAnalyzer/src/main/java/github/bewantbe/audio_analyzer_for_android/SamplingLoop.java).

I want to add video calls to this app using chime, but it seems that there is a problem in importing audio streams.

Is there a way to re

[2021-12-31 02:35] ziyiz-amzn commented on #361
Hi @jungmal  Thank you for the question. The team will confirm and get back to you.

[2022-01-03 07:02] krishnakumar1123 commented on #360
![image](https://user-images.githubusercontent.com/96762658/147905671-f9c66d6d-41a2-45b7-84e8-76f311ea3183.png)
![image](https://user-images.githubusercontent.com/96762658/147905691-aca5ede9-0313-4dba-a7cf-66e556b549a1.png)
![image](https://user-images.githubusercontent.com/96762658/147905711-f5fd28c8-3dc7-4a9c-8755-cdefb99fd388.png)
![image](https://user-images.githubusercontent.com/96762658/1479

[2022-01-03 17:47] ziyiz-amzn commented on #361
We currently do not support any sort of access to sent or received audio streams.

[2022-01-03 21:15] #361 closed

[2022-01-03 22:18] ziyiz-amzn commented on #360
@krishnakumar1123 Have you follow the [README](https://github.com/aws/amazon-chime-sdk-android#2-download-binary) to run the demo app?
You may not download the amazon-chime-sdk-media library and code the .aar file into the project as stated [here](https://github.com/aws/amazon-chime-sdk-android#2-download-binary)

[2022-01-04 10:52] krishnakumar1123 commented on #360
https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.14.0

Above link inside downloaded and added the  files for amazon -chime -sdk.aar and amazon-chime-sdk-media.aar files added in libs inside and added the SDK in gradle file inside , But Still we are facing the same  SDK issues only, Please check and update the issues.

![image](https://user-images.githubusercontent.com/96762658/14804

[2022-01-04 12:43] KunNiu commented on #356
Hi @ziyiz-amzn , the crash always happens when create the DefaultCameraCaptureSource. I can describe my use case. There is a MeetingActivity and it's layout is a viewpager. And there are two fragments in it, say FirstFragment (include a DefaultVideoRenderView) and SecondFragment(include a recyclerview with GirdLayoutManager). Our use case is show host in FirstFragment, and show all members include

[2022-01-04 17:26] ziyiz-amzn commented on #360
Can you double check the gradle files as below?
https://github.com/aws/amazon-chime-sdk-android/blob/v0.14.0/app/build.gradle#L44
https://github.com/aws/amazon-chime-sdk-android/blob/v0.14.0/amazon-chime-sdk/build.gradle#L93
https://github.com/aws/amazon-chime-sdk-android/blob/v0.14.0/build.gradle#L43-L49

Also, if you are running the demo app, follow [these step](https://github.com/aws/amazon-chi

[2022-01-04 17:35] VadimChubarov opened #362 "VideoFrameRGBABuffer implementation of VideoFrameBuffer (within VideoFrame) having issues with VideoRenderView implementations"
**Describe the bug**
The crash mentioned in this ticket https://github.com/aws/amazon-chime-sdk-android/issues/344 looks like was fixed, but as we have tested on our side seems remains couple of issues with this scenario.

-  `VideoRenderView` displays `RGB` video frame in mirror projection (without active mirror flag), in the same time other types of video frame displayed original. Setting `mirro

[2022-01-05 06:04] krishnakumar1123 commented on #360
![image](https://user-images.githubusercontent.com/96762658/148166160-ebbb023e-99b9-42b2-9ae0-c194b9a8f5da.png)
![image](https://user-images.githubusercontent.com/96762658/148166196-b5764c88-4203-4e8e-9a2f-5828304facce.png)
![image](https://user-images.githubusercontent.com/96762658/148166237-61c07a74-05c7-46c7-a766-8af69d607440.png)

import com.xodee.client.video.VideoClientConfig
import com.xode

[2022-01-05 19:13] linsang21 commented on #360
Hi @krishnakumar1123, looks like you're building SDK from the source code, just make sure it is intended. The unresolved classes are internal use and close sources, which are defined in `amazon-chime-sdk-media.aar`. It's OK for IDE to show this way as long as you're able to run the `app` on your device.

I just nuke my workspace and successfully build the `app` by the simple 2 steps in below, whic

[2022-01-05 22:22] linsang21 commented on #362
Hi @VadimChubarov I'm trying to reproduce the issue, and want to make sure how did you create the RGVABuffer. Because based on the previous issue, you mentioned `create VideoFrame instance with VideoFrameRGBABuffer provided like constructor param`, is this RGBABuffer created properly? Also, is this before or after a meeting session is started? Is this video frame sent with `startLocalVideo`?

[2022-01-05 23:38] linsang21 commented on #358
If I understand correctly, you do have your own customer implementation for the USB camera, and you verified that it works when preview the video (e.g. before meeting starts). After you join a meeting, you only gets front and back cameras, where you hope to use the USB camera. Is this correct?

Questions I have is for both preview and in meeting scene, is there any difference regarding to show the

[2022-01-06 04:59] krishnakumar1123 commented on #360
![image](https://user-images.githubusercontent.com/96762658/148329991-bc71f5af-0723-487d-b9bf-71d37cd7a18f.png)

import com.xodee.client.video.VideoClientConfig
import com.xodee.client.video.VideoClientConfigBuilder
import com.xodee.client.video.VideoClientDataMessageListener
AudioModeInternal

![image](https://user-images.githubusercontent.com/96762658/148330492-94390ffc-ab49-4d44-a5e3-248dd9b4ce

[2022-01-06 08:01] krishnakumar1123 commented on #360
[Sample_Amazonchime.zip](https://github.com/aws/amazon-chime-sdk-android/files/7820271/Sample_Amazonchime.zip)

I am followed  your comments and run the build , Still I am facing the same SDK un resolved issues, please download and run the above code.

[2022-01-06 08:25] VadimChubarov commented on #362
Hi @linsang21 the problem manifests exactly with same scenario like in https://github.com/aws/amazon-chime-sdk-android/issues/344, practically when` RGB frame` passed to `AudioVideoControllerFacade` via `startLocalVideo(source: VideoSource)` within meeting session we are getting `proper output picture` by using `VideoRenderView` no any problems in this case. The problem happens when the same `RGB

[2022-01-06 13:08] ajay91kukreja opened #363 "Facing crash in Android Sdk"
HI I am facing an issue with Android 11, please find the logs below:

com.amazonaws.services.chime.sdk.meetings.audiovideo.video.capture.DefaultCameraCaptureSource.start (DefaultCameraCaptureSource.java:206)
com.amazonaws.services.chime.sdk.meetings.internal.video.DefaultVideoClientController.startLocalVideo (DefaultVideoClientController.java:97)
com.amazonaws.services.chime.sdk.meetings.audiovide

[2022-01-06 21:09] linsang21 commented on #363
Hi @ajay91kukreja Please fill in the bug report template as follows.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
If applicable, add logs from logcat t

[2022-01-06 22:03] linsang21 commented on #360
2 issues.
1) the project shared about seems mixed 2 configurations in README, which make app does not recognize where to find SDK classes.
[code]
So you either build app with SDK source code, follow [Setup](https://github.com/aws/amazon-chime-sdk-android#setup), or build app with SDK pre-built aar file, follow [Running the demo app](https://github.com/aws/amazon-chime-sdk-android#running-the-demo-

[2022-01-07 07:03] ajay91kukreja commented on #363
we tried to reproduce at our end but were not able to reproduce this crash. It came to a live user of our app and reported in Crashanalytics

[2022-01-07 07:10] krishnakumar1123 commented on #360
It's working fine, Thanks for your support.

[2022-01-07 07:10] #360 closed

[2022-01-07 18:25] linsang21 commented on #363
@ajay91kukreja I'm sorry that it'd be very hard for us to investigate the crash with the limited information. We'll take further look into it once more information is available, especially the reproduce steps.

[2022-01-11 08:46] jungmal opened #364 "Is there any way to receive Local Camera's "android.media.Image" directly?"
Hi, I am going to analyze the video frame using OpenCV.

I want to analyze the frame of the local tile only.
It is not necessary to analyze the frame of the remote tile.

Is there any way to receive Local Camera's "[android.media.image](https://developer.android.com/reference/android/media/Image)" directly?

It is difficult for me to make [OpenCV Mat](https://docs.opencv.org/3.4/javadoc/org/opencv

[2022-01-12 00:25] alnlau commented on #364
Hello,

The `DefaultCameraCaptureSource` utilizes camera2 for the capturing ([documentation with sample code](https://developer.android.com/training/camera2/capture-sessions-requests)). Currently it is only taking a [SurfaceTextureCaptureSource](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/capt

[2022-01-12 02:44] jungmal commented on #364
Hi @alnlau

I didn't solve it with the suggested method, but the method you told me seems meaningful.

I created the rgbaBufferToMat function in the following way.

I'll write it down because I think it'll help others.

[code]

[2022-01-12 03:05] #364 closed

[2022-01-12 17:09] zhinang-amazon commented on #52
Our team is actively working on adding Maven support, and it should go out in Q1 2022

[2022-01-13 03:09] KunNiu commented on #356
Hi @ziyiz-amzn , do we have any updates here, thanks.

[2022-01-14 18:42] alnlau commented on #356
Hello,

I was able to reproduce the crash in our demo app on a Xiaomi Mi MIX 2. My observations during testing was that it crashes if the I called `start` on the `DefaultCameraCaptureSource` multiple times. There was one variation where I called `start` in the activity's `onCreate` and in its fragment's `onCreateView` and another variation where I just called `start` twice in one location. In the

[2022-01-18 03:21] lovemobile1234 opened #365 "Getting Dispatchers error in Java."
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.mcassemblies.AndroidToolbox.beta, PID: 11727
    java.lang.NoClassDefFoundError: Failed resolution of: Lkotlinx/coroutines/Dispatchers;
        at com.amazonaws.services.chime.sdk.meetings.internal.audio.DefaultAudioClientController.<init>(DefaultAudioClientController.kt:44)
        at com.amazonaws.services.chime.sdk.meetings.session.Defaul

[2022-01-18 03:55] KunNiu commented on #356
@alnlau Yes you are right. I called the **start()** twice. But all in activity. It's in **onCreate** & **onResume**. I put some setup codes in **onCreate**, and the last step of setup is **DefaultCameraCaptureSource.start()**, and call **start()** in **onResume**, **stop()** in **onPause**. I will remove the **start()** in **onCreate**, and do more test. Thank you from let me know this. And BTW, I

[2022-01-18 09:49] hannakim07 commented on #280
I must need it, too.

The below function exists in aprtc.
public void setBitrate(int bitrate) {
	  peerConnectionClient.setVideoMaxBitrate(bitrate);
  }

please put it in aws-chime-sdk-android. Thank you.

[2022-01-18 21:10] hokyungh commented on #365
Do you know if you have https://github.com/aws/amazon-chime-sdk-android/blob/master/app/build.gradle#L46
[code]

[2022-01-18 21:58] hokyungh commented on #356
We'll try to come up with few solutions and update the issue.

[2022-01-18 22:18] hokyungh opened #366 "Add ConnectionService to enhance calling experience."
# Community Note
* Please vote for this issue by adding a 👍 reaction to the issue. This will help the community and maintainers from the Amazon Chime SDK team to prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* Please go through the existing [issues](https://github.com/aws/amazon-chime-

[2022-01-19 21:40] hokyungh commented on #317
Will resolved the issue since https://github.com/aws/amazon-chime-sdk-ios/issues/375 got closed.

[2022-01-19 21:40] #317 closed

[2022-01-20 13:41] dongnguyen257 opened #369 "Chime SDK Android - Selfie segmentation with ML Kit on Android"
I have read the documentation at https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/custom_video.md
I'm creating background blur feature in Chime SDK Android with support from Selfie segmentation ML Kit Google. But it seems that the VideoFrameBuffer of the Chime Android SDK has been customized and cannot be used with the ML Kit library.
How to use Chime Android SDK with ML Kit ?
P/

[2022-01-21 09:06] KunNiu commented on #356
@hokyungh Thanks.

[2022-01-24 08:12] hokyungh commented on #369
Hi would you be able to add what is needed for ML Kit Google? Raw buffer? Camera Session? Raw image data?

[2022-01-24 08:13] hokyungh commented on #365
Will close this issue. Will free to reopen if you still faces issue.

[2022-01-24 08:13] #365 closed

[2022-01-25 17:10] hokyungh commented on #356
Let me know if https://github.com/aws/amazon-chime-sdk-android/pull/372 fixes your issue.

[2022-02-02 23:26] alnlau commented on #369
Hello,

It looks like the [InputImage](https://developers.google.com/android/reference/com/google/mlkit/vision/common/InputImage) takes an [Image](https://developer.android.com/reference/android/media/Image) as well. The `DefaultCameraCaptureSource` utilizes camera2 for [capturing](https://developer.android.com/training/camera2/capture-sessions-requests), so you could modify the `DefaultCameraCapt

[2022-02-02 23:51] alnlau commented on #52
Hello,

We've added Maven support in our 0.14.2 release:

* [amazon-chime-sdk 0.14.2](https://search.maven.org/artifact/software.aws.chimesdk/amazon-chime-sdk/0.14.2/aar)
* [amazon-chime-sdk-media 0.14.2](https://search.maven.org/artifact/software.aws.chimesdk/amazon-chime-sdk-media/0.14.2/aar)

Let us know if there's any issues.

[2022-02-02 23:51] #52 closed

[2022-02-03 00:07] alnlau commented on #358
Feel free to re-open if this is still an issue.

[2022-02-03 16:47] ratsilva commented on #356
Any updates on it? We are facing the same error when calling `start` on `DefaultCameraCaptureSourcemultiple` times

[2022-02-03 18:39] markfedor commented on #358
Hello, Sorry for the delay in getting back to you.  We want to keep this current so we can have this to maybe help other people in the future with the same issue.  When we get this working, we will post a full synopsis of what we had to do.

We have been pursuing your advice from the previous comments and have additional questions regarding our android app implementation of using an External USB c

[2022-02-03 18:43] markfedor commented on #358
BTW, How do I re-open this as you suggested???  Can't seem to find a way to do that.  thanks.

[2022-02-04 10:40] Pravinauti9 opened #378 "Video calling issue with Mobile Data network"
I am using chime SDK android in my application. It works well when connected to a Wifi network. But when I am trying to make a video call with the cellular network(Mobile Data), it doesn't render the video at other ends (on the Web or another android phone with a wifi network). They are not able to see my video view.

Can you help me to identify what can be the issue?

[2022-02-04 17:24] ashrafhere opened #379 "Video stream doesn't show up on the web when connected from Android App (Chime Android SDK) on the cellular network."
**Describe the bug**
Video stream doesn't show up on the web when connected from Android App (Chime Android SDK) on the cellular network. It works when the android app is connected with wifi, video streaming stops the moment I switch to the cellular network. It seems like it has to do something with the bandwidth, but there is no place in the API to connect with the lower bandwidth. Need help urge

[2022-02-04 17:34] ashrafhere commented on #378
I am having a similar issue. AWS Chime team, can you please chime in?
Thank you.

[2022-02-04 17:37] ashrafhere commented on #358
Any update on this? We are having the same issue.

[2022-02-04 21:53] ashrafhere commented on #379
Can someone from AWS chime in please?

[2022-02-05 01:21] alnlau commented on #379
Hello,

Could you provide verbose level logs for our investigation? See [README](https://github.com/aws/amazon-chime-sdk-android#how-can-i-get-amazon-chime-sdk-logs-for-debugging) for details on how to do so.

Regarding an API for bandwidth, this would be a feature request similar to the one tracked in https://github.com/aws/amazon-chime-sdk-android/issues/140

[2022-02-05 01:25] alnlau commented on #378
Hello,

Could you provide verbose level logs for our investigation? See [README](https://github.com/aws/amazon-chime-sdk-android#how-can-i-get-amazon-chime-sdk-logs-for-debugging) for details on how to do so.

Could you also fill in the following information as well:
* Device:
* OS:
* Version amazon-chime-sdk: [e.g. 0.4.0]
* Version amazon-chime-sdk-media: [e.g. 0.4.0]
* Can you reproduce this in

[2022-02-05 21:45] ashrafhere commented on #379
Please see the attached logs.
[Verbose Logs.log](https://github.com/aws/amazon-chime-sdk-android/files/8008969/Verbose.Logs.log)

[2022-02-06 14:15] ashrafhere commented on #379
More log
[Verbose (1).log](https://github.com/aws/amazon-chime-sdk-android/files/8010336/Verbose.1.log)
s

[2022-02-07 15:56] markfedor commented on #358
@ashrafhere we have not gotten this to work yet, but we feel we are close.  see our above last post on what documentation we are following.  Once we get something working I will post back here.  What is your application?  We are trying to use an external USB camera that is hands free and head mounted for medical remote consultation for medical professionals in the field.  The hard part for us is g

[2022-02-07 19:17] ashrafhere commented on #379
Yes, we will try this SDK now. Were you not able to reproduce the issue on version 0.14.2? Or 0.13.1?

Thank you.

[2022-02-07 19:21] zhinang-amazon commented on #379
We tried v0.14.0 but no repro so far

[2022-02-09 19:01] ziyiz-amzn commented on #379
@ashrafhere Could you please confirm if you can reproduce the issue in V0.13.1?

[2022-02-09 19:08] xuesichao commented on #379
@ziyiz-amzn , @zhinang-amazon FYI, customer opened the same issue in JS SDK, and they posted some updates there:
https://github.com/aws/amazon-chime-sdk-js/issues/1990

And

[2022-02-09 19:16] ziyiz-amzn commented on #379
@ashrafhere We will be working on a hotfix, will keep you updated once complete.

[2022-02-10 21:47] ziyiz-amzn commented on #358
@markfedor
DefaultEglCoreFactory link is [here](https://aws.github.io/amazon-chime-sdk-android/amazon-chime-sdk/com.amazonaws.services.chime.sdk.meetings.audiovideo.video.gl/-default-egl-core/index.html)

[2022-02-10 23:06] markfedor commented on #358
Thank you for the correct link.  Helpful!  We are making progress on our end and may have some news to report tomorrow on our ongoing efforts.  We are getting video frames into the chime meeting from the external USB camera, but the "frame processor" method needs a little work to get the continuous frames and update the proper screens.  We currently get the first frame and it displays, but then no

[2022-02-11 00:28] ziyiz-amzn commented on #379
Please find and try with the [the latest release](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.14.3). Feel free to reopen if any issue.

[2022-02-11 00:28] #379 closed

[2022-02-11 05:02] ziyiz-amzn commented on #378
@Pravinauti9 @ashrafhere Thanks for reporting this issue.

Could you please check our latest release today? It includes a fix of this particular issue.
https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.14.3

[2022-02-11 05:04] ziyiz-amzn commented on #363
Closing it now. Feel free to comment with more failure/crash detail if any.

[2022-02-11 05:04] #363 closed

[2022-02-11 05:18] ziyiz-amzn commented on #356
@ratsilva Can you try this fix? #372
We will include this fix into next release.

[2022-02-11 15:33] ckepii opened #384 "Microphone, Camera, Network + Demo issues"
**Devices:**

Xiaomi Redmi Note 7, Android 10
LENOVO Lenovo TB-X306X (Lenovo Tab M10 HD), Android 10
Web
iPhone X, 15.3

**Info:**

Android 0.14.3

Android Demo
- Last commit 2/11/2022 (yesterday)
- SHA-1: d696ab96d5086c5d262266774cf5def370a8b970
- Depend on local media binary (#383)

Web 2.26.1

**Bugs:**

- on Xiaomi I can't hear anyone and nobody can't hear me in **every** call
- from Lenovo in

[2022-02-11 19:22] ziyiz-amzn commented on #384
Cannot reproduce the issue on Pixel 3 Android 12, Pixel 4 Android 10, moto g stylus 5G Android 11.

Wait for resources to test on specific Xiaomi devices.

@ckepii Can you confirm that the release is working on other Android devices like Pixel or Samsung?

[2022-02-14 09:02] ckepii opened #385 "Demo build issue"
We are unable to build a demo application

**Info**

Android Demo
- Last commit 2/11/2022 (yesterday)
- SHA-1: d696ab96d5086c5d262266774cf5def370a8b970
- Depend on local media binary (#383)

**Logs**

[code]

[2022-02-14 09:08] ckepii opened #386 "Bad internet connection issue"
Devices:

Samsung Galaxy Note10 Lite, Android 11 (this one had poor internet connection)
LENOVO Lenovo TB-X306X (Lenovo Tab M10 HD), Android 10
Web
iPhone X, 15.3

- we tried a group call and one device had bad internet connection, which affected **all participants** (slow video, mic/video freezing/missing, ...)
-  after connection to better connection, issues was resolved
- I think the biggest pr

[2022-02-14 09:10] ckepii commented on #384
I replicated Microphone/camera issue only with Xiaomi (sometimes with Lenovo).

I created separate tickets for demo issue (https://github.com/aws/amazon-chime-sdk-android/issues/385) and poor connection issue (https://github.com/aws/amazon-chime-sdk-android/issues/386).

[2022-02-14 16:32] ziyiz-amzn commented on #385
@ckepii Were you building the demo app in Android Studio using a physical device? Can you provide steps to reproduce it? Can you build it with another physical device?

Could you also fill in the following information as well:

    Device:
    OS:
    Version amazon-chime-sdk: [e.g. 0.4.0]
    Version amazon-chime-sdk-media: [e.g. 0.4.0]
    Can you reproduce this in the demo app?

[2022-02-14 16:56] ziyiz-amzn commented on #386
Thank you for reporting. Will investigate and keep you updated.

[2022-02-14 17:47] ziyiz-amzn commented on #378
Closing it for now. Please let us know if more question.

[2022-02-14 17:47] #378 closed

[2022-02-14 23:40] ziyiz-amzn commented on #386
@ckepii Could you provide more detailed description of your observation? e.g.
* On the device which had bad internet connection, what is the behavior?
  * Can audio from this device be heard in other devices? Can self video/screen share from this device been seen in other devices?
  * Can attendee on this device hear audio/see video(s) from all other devices or only some devices?
* On other device

[2022-02-15 00:06] ziyiz-amzn commented on #384
The most closed Xiaomi device we can find is Xiaomi Redmi 8. But we are not able to reproduce it. Did you test using our demo app?

[2022-02-15 10:10] Pravinauti9 opened #387 "External USB Audio device is not working"
Devices:
- Sony Smart TV
- Android TV set-top box - Mi Box s, Android 9
- External Web camera - EMeet AI WEBCAM JUPITER [Audio + Video]
	product URL - https://emeet.com/products/webcam-jupiter?variant=40800264487083

Info:
  Chime SDK version -> amazon-chime-sdk: 0.13.1

Bugs:
We are using an external USB device for video and audio with Chime SDK. I can see the video from this external USB device.

[2022-02-15 18:00] ziyiz-amzn commented on #387
Hi @Pravinauti9 Thank you reporting this.

Have you performed test against [our demo app](https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app) with the audio+video device?

[Here](https://github.com/aws/amazon-chime-sdk-android/blob/c0671aae710a967b3237a8811a6af0f0c2d78984/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/device/DefaultDeviceController.kt#L1

[2022-02-16 19:23] #369 closed

[2022-02-23 21:48] zhinang-amazon commented on #333
Our team is currently undertaking a significant project to align our end to end audio processing pipeline with WebRTC protocols and enable features such like injectable audio and a secondary content share audio sending stream. At the same time, we want to make sure that we maintain and improve the audio quality. We will keep this ticket open until we add support for Content Share Audio.
 In the me

[2022-02-23 23:08] zhinang-amazon commented on #342
Hi apologies that our team is currently not working on this feature request. Do you mind sharing some more context on why this is crucial to you?
One scenario I can think of is when a user encounters issues that only affect x86 architecture. Before we can provide x86 emulator support, a workaround would be using a virtual device testing service, such as [AWS Device Farm](https://aws.amazon.com/dev

[2022-02-28 18:46] dingyishen-amazon commented on #386
No response from the requester for 14 days, will reopen when there are new updates.

[2022-02-28 18:46] #386 closed

[2022-02-28 18:47] dingyishen-amazon commented on #384
No response from the requester for 14 day.

[2022-02-28 18:47] #384 closed

[2022-02-28 18:47] dingyishen-amazon commented on #358
No response from the requester for 14 day.

[2022-02-28 18:47] #358 closed

[2022-02-28 19:10] dingyishen-amazon commented on #385
Closing the issue for now. Feel free to re-open if this is still an issue for you.

[2022-02-28 19:10] #385 closed

[2022-02-28 19:10] dingyishen-amazon commented on #356
Closing the issue for now. Feel free to re-open if this is still an issue for you.

[2022-02-28 19:10] #356 closed

[2022-02-28 21:11] markfedor commented on #358
Hello.  Apologies for no update.  We have yet to get this working.  We went through and followed the documentation in the github repo and we are now debugging.  We can't seem to bind the video frames from the external USB camera to the video tile while inside the chime meeting.  I cannot re-open this case, it will need to be re-opened by whomever closed it.  We are not giving up just yet.  We will

[2022-03-01 22:54] hokyungh commented on #279
Closing as we don't have device or more logs to investigate further.

[2022-03-01 22:54] #279 closed

[2022-03-11 19:52] ziyiz-amzn commented on #140
The downlink policy API to control video resolution is released in [v0.15.0](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.15.0)

The guidance of how to use downlink policy APIs can be found [here](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/configuring_remote_video_subscription.md)
You can follow [this guidance](https://github.com/aws/amazon-chime-sdk-andr

[2022-03-11 19:52] #140 closed

[2022-03-16 15:34] Saifak34 opened #409 "Getting an error while defining ActiveSpeakerObserver (scoreCallbackIntervalMs error)"
In MeetingObservers.kt

`class MeetingObservers(private val eventEmitter: RNEventEmitter) : RealtimeObserver, ActiveSpeakerObserver, VideoTileObserver, AudioVideoObserver {
    private val logger = ConsoleLogger(LogLevel.DEBUG)

    companion object {
        private const val TAG = "MeetingObservers"
    }

  override fun onActiveSpeakerDetected(attendeeInfo: Array<AttendeeInfo>) {
        attend

[2022-03-16 20:49] alnlau commented on #387
Let us know if the suggestion above works.

[2022-03-16 20:49] #387 closed

[2022-03-16 21:06] alnlau commented on #409
Hello,

You'll need to also handle `scoreCallbackIntervalMs` in addition to the two methods: https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/audio/activespeakerdetector/ActiveSpeakerObserver.kt#L19

[2022-03-17 15:41] #409 closed

[2022-03-18 10:50] nambmt97s opened #412 "Failed to encode frame"
**Describe the bug**
Set video format 176*144 @ 15FPS, Local videos cannot be received from other participants.

**To Reproduce**
Steps to reproduce the behavior on Xiaomi Redmi Note 9 Pro device.
1. Go to App
2. Click on Join Meeting
3. Click video format
4. Scroll down to last item and click
5. Click button Join
6. Click turn on video

**Expected behavior**
Expected local video could be send to

[2022-03-23 10:09] dongnguyen257 commented on #81
Hi @zhinang-amazon, I can reproduce it when change to Video format : width: 192 height: 144 on Pixel 5
Log:
[code]
Test environment Info
Device: Pixel 5 OS: Android 12
Version amazon-chime-sdk: [ 0.13.1]
Version amazon-chime-sdk-media: [0.13.1]

[2022-03-24 06:13] ziyiz-amzn commented on #412
@nambmt97s Thanks for reporting this. We will investigate more.
I cannot reproduce this issue on the following devices.
Pixel 3a Android 12
Huawei_Mate_10 Android 8

But it can be reproduced on the devices below.
Samsung_Galaxy_A9 Android 10
Samsung Galaxy S9 Android 10

Log: [Log_Samsung_Galaxy_A9_2022-03-23_11-06.txt](https://github.com/aws/amazon-chime-sdk-android/files/8338877/Log_Samsung_Gala

[2022-04-06 06:27] chetangodiya-simformsolutions commented on #270
Same issue happening for me also

[2022-04-08 02:05] tmilovan123 opened #418 "Crash in DefaultAudioVideoFacade#chooseAudioDevice"
**Describe the bug**
A fatal crash encountered for one of our customers in production. Opening a tracking issue.

**To Reproduce**
The crash happened during initial device selection.

**Expected behavior**
No crash

**Logs**
Stacktrace:
[code]

**Test environment Info (please complete the following information):**
 - Device: OnePlus (IN2025)
 - OS: Android 11
 - Version amazon-chime-sdk: 0.13.1
 -

[2022-04-08 02:12] tmilovan123 opened #419 "Crash in DefaultAudioClientObserver#onMetrics"
**Describe the bug**
A fatal crash encountered for one of our customers in production. Opening a tracking issue.

**To Reproduce**
Happened during AV session at some point during metric emission.

**Expected behavior**
No crash

**Logs**
Stacktrace:
[code]

**Test environment Info (please complete the following information):**
 - Device: SM-G991U
 - OS: Android 12
 - Version amazon-chime-sdk: 0.13

[2022-04-11 23:35] dingyishen-amazon commented on #418
Thank you for reporting. If it cannot be reproduced on demo app, we suggest to compare the difference of implementation logic between your application and demo app.

[2022-04-11 23:36] dingyishen-amazon commented on #419
Thank you for reporting. If it cannot be reproduced on demo app, it’d be more efficient to compare the difference of implementation logic between your application and demo app.

[2022-04-12 00:04] tmilovan123 commented on #419
It most likely can be reproduced since, as it's evident from the stack trace, `DefaultClientMetricsCollector` is using a non-thread-safe collections to store in-memory data. Something that can definitely be corrected.

[2022-04-12 00:09] tmilovan123 commented on #418
This one is a bit tricky cause the crash happened in the AudioService/AudioManager instead of the Chime SDK code. I don't think there's any difference in implementation between our app and Amazon Chime demo app in this scenario.

This is more of a tracking issue to see if `setMode` is invoked properly in all situations: https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/s

[2022-04-12 22:40] hokyungh commented on #418
This might be tricky for us to fix. It doesn't seem that [AudioManager.setMode](https://developer.android.com/reference/android/media/AudioManager#setMode(int)) show it can throw like that. Is there way to reproduce this such as it is run while in the background or while connected to device that doesn't have audio?

[2022-04-13 19:18] georgezy-amzn commented on #419
According to the stacktrace, it happens at DefaultClientMetricsCollector.maybeEmitMetrics(DefaultClientMetricsCollector.kt:88). I checked DefaultClientMetricsCollector for v0.13.1, there is no line 88.
Are you using a custom build?

[2022-04-14 18:00] tmilovan123 commented on #419
Hi George,

No, we always used the binaries downloaded from here: https://github.com/aws/amazon-chime-sdk-android/releases

Next release we're updating to 0.15.3 / Maven dependencies.

Thanks,
Tanya

[2022-04-14 18:16] tmilovan123 commented on #418
From the crash metadata info and the remote logs from the customer I see:

- device model: IN2025,

- the crash happened right after joining the Chime room (logs indicate between `audioVideoFacade.start()` and `AudioVideoObserver#onAudioSessionStarted` callback, but this could be because the last portion of the logs did not get uploaded cause of crash),

- the user attempted to start another call

[2022-04-20 09:18] netstratum-labs commented on #231
We found a related issue in our testing. If you want us to open this as a separate issue, please let us know.

Steps to reproduce.
1. Join the meeting from web and mobile
2. Turn off the internet on mobile
3. Drop the web attendee
4. Turn on the internet on mobile - Mobile participant will automatically reconnect and join the meeting
5. Mobile attendee will see the dropped web attendee

We underst

[2022-04-21 15:33] ckepii commented on #384
We are still having issues mentioned above

with these devices:

Xiaomi Redmi Note 7, Android 10
LENOVO Lenovo TB-X306X (Lenovo Tab M10 HD), Android 10
Web

on version: Amazon Chime 0.15.3

works ok with:
Lenovo tablet, Android 9
Lenovo tablet, Android 11

We tried call with Slack (which using Amazon Chime too).

With Redmi:

- cannot hear the other side
- call will end for Xiaomi after circa 30s

[2022-04-25 08:07] ckepii opened #426 "Call issues with some Android 10 devices"
**Describe the bug**

- on Xiaomi I can't hear anyone and nobody can't hear me in every call
- from Lenovo in some calls only a terrible sound can be heard
- camera will shutdown after few minutes (both devices)

We tried call with Slack:

***Xiaomi***
- cannot hear the other side
- call will end for Xiaomi after circa 30s

***Lenovo***
- cannot start the camera

**To Reproduce**
Steps to reproduc

[2022-04-26 00:55] dylonChime commented on #231
We've changed this to a bug and are currently investigating.

[2022-04-26 01:26] dylonChime commented on #426
Looking at the [changelog](https://github.com/aws/amazon-chime-sdk-android/blob/development/CHANGELOG.md) for 0.14.0 (released after 0.13.1), there is a breaking change:

`Breaking The AudioMode.Stereo48K will be set as the default audio mode if not explicitly specified when starting the audio session.`

Can you try changing from Stereo48K to Mono16K [here](https://github.com/aws/amazon-chime-sdk-

[2022-04-27 01:45] nikhiljgeorge opened #430 "java.lang.UnsatisfiedLinkError: dlopen failed: library "libc++_shared.so" not found"
**Describe the bug**
The sdk demo app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. I follow the instructions described [here](https://github.com/aws/amazon-chime-sdk-android#running-the-demo-app).
2. I then run the application in android studio under the emulator.
3. In the app I enter meeting ID nik and attendeeName huihiu (any meeting ID and attendeeName causes the problem.
4.

[2022-04-27 17:54] alnlau commented on #430
Hello,

Are you running the demo on an x86 emulator? We currently don't support x86 emulators so you'll have to use an ARM emulator or a real device to do testing for now.

[2022-04-27 18:10] dingyishen-amazon commented on #426
Reproduced with Xiaomi Redmi Note 7, Android 10.
This issue started with v0.14.0, tried to change AudioMode to Mono16K, but not help.
Now we are doing further investigations.

[2022-04-27 21:56] nikhiljgeorge commented on #430
My desktop machine is x86, so I guess it is an x86 emulator. I will try this on my real device and re-open the issue if it reproes on that. Thanks for your help. Having support for x86 emulators needless to say is important, because that is the typical dev environment.

[2022-04-27 21:56] #430 closed

[2022-05-04 01:47] tmilovan123 opened #437 "Incorrect audio routing with Samsung Pixel Buds Pro"
**Describe the bug**
When using Samsung Pixel Buds Pro for audio input/output, the output is sometimes routed to earpiece and not to the buds.

**To Reproduce**
Steps to reproduce the behavior:
1. Have the buds connected to the device
2. Start a meeting
3. Turn the buds off/on several times.

Note that it does not happen consistently. Sometimes the sound routed correctly.

**Expected behavior**
Th

[2022-05-06 00:40] ziyiz-amzn commented on #437
Hi, thanks for reporting this. @tmilovan123

When will routing to earpiece happen? When turn on or off the Buds?
Is this issue also happening other phones/bluetooth audio devices as well?

Once devices changed, the SDK will get a refreshed device list and all devices will be sorted in this [order](https://github.com/aws/amazon-chime-sdk-android/blob/4cc826f91d8c6ff76de99c13e4a4008bb673d07d/amazon-

[2022-05-06 07:17] jangjonghwa opened #438 "I need chooseVideoInputQuality(maxBandwidthKbps)"
I am trying to develop using chime-sdk-android. However, there is no chooseVideoInputQuality(maxBandwidthKbps) setting value. I need chooseVideoInputQuality(maxBandwidthKbps) setting as in chime-sdk-js.

[2022-05-06 07:59] ziyiz-amzn commented on #438
Hi @jangjonghwa Thank you for reporting this. Marking this as a feature request, will update you when released.

[2022-05-06 12:53] ipf-hkwak opened #439 "Questions regarding Device Management"
First of all, thank you for creating the Chime SDK for Android and providing a demo app - it has been very useful as a reference for building our application.

### Questions

1. Is it possible to use the listAudioDevices function prior to joining a session?
2. Is it possible to separate the audio input and output?

#### Regarding Question 1
In our application, we wish to check the camera, micropho

[2022-05-06 13:04] ipf-hkwak opened #440 "Update use case 24 'stopping a session'"
# Tell us about your request

I think the example provided in use case 24 is slightly incorrect. When stopping the session, shouldn't we call:

`meetingSession.audioVideo.removeAudioVideoObserver(observer)`

instead of

`meetingSession.audioVideo.addAudioVideoObserver(observer)`

when trying to stop a session?

[2022-05-06 16:10] Pravinauti9 opened #441 "Application crash on android 7.1.1 tablet"
Devices:

Samsung A350 tablet
Android 7.1.1

Info:
Chime SDK version -> amazon-chime-sdk: 0.15.4

Bugs:
We are using Chime SDK version 0.15.4. When we try to connect video consultation, the app gets crashed. Only one user was connected at that time.
Please check the attached logs.

Can you help me to identify what can be the issue?

[chime_sdk_crash_with_samsung_tablet.txt](https://github.com/aws/

[2022-05-06 19:04] hokyungh commented on #440
Hi the doc is correct. You will need to add observer in order to receive `onAudioSessionStopped` and `onVideoSessionStopped`. You can remove it when activity gets destroyed. Feel free to reopen if you still think it is issue.

[2022-05-06 19:04] #440 closed

[2022-05-06 23:37] ziyiz-amzn commented on #441
Hi @Pravinauti9 thanks for reporting this issue.
Is the crash happening in our demo app or your own client app? I have tested using 0.15.4 in Android 11 & 12 devices and cannot reproduce it. Will try android 7. But meanwhile, could you try other android versions and devices and see if still an issue please?

[2022-05-06 23:49] ziyiz-amzn commented on #441
Could you provide some crash stack trace for symbolicate use

[2022-05-07 05:52] ziyiz-amzn commented on #439
Thank you @ipf-hkwak for asking these questions.

1. You can utilize the Android native Audio Manager API [getDevices()](https://developer.android.com/reference/android/media/AudioManager#getDevices(int)) to get audio input/output devices. To use other device management API like chooseAudioDevice, device will need to be conformed to [MediaDevice](https://github.com/aws/amazon-chime-sdk-android/blo

[2022-05-09 07:25] Pravinauti9 commented on #441
Hi,

Already attached logs in the issue.

[chime_sdk_crash_with_samsung_tablet.txt](https://github.com/aws/amazon-chime-sdk-android/files/8649552/chime_sdk_crash_with_samsung_tablet.txt)

[2022-05-09 15:23] Pravinauti9 opened #442 "Issue to set Audio input & output device"
Is there any way to set Audio input and output devices separately in android SDK similar to web/js?

![image](https://user-images.githubusercontent.com/51822886/167442687-6d4b7810-4dc0-47c9-ae38-eb228358f359.png)

[2022-05-09 16:53] ziyiz-amzn commented on #439
In Android SDK, we expose speaker output in listAudioDevices() API. We will treat other customized audio input/output to be feature request.

[2022-05-09 16:57] ashrafhere commented on #441
Why was the comment deleted? Thank you.

[2022-05-09 16:59] ziyiz-amzn commented on #442
Hi @Pravinauti9 Thank you for the question.

The Android SDK provide the option to set speaker or built-in earpiece as output device. Will treat this as feature request, duplicate of [this](https://github.com/aws/amazon-chime-sdk-android/issues/439)

[2022-05-09 16:59] #442 closed

[2022-05-09 22:35] ziyiz-amzn commented on #441
Verified on a few devices with Android 7.1.1 using our demo app. Cannot reproduce it.

[2022-05-10 06:08] Pravinauti9 commented on #441
What is the reason for the crash from the logs? Is there any clue from the log?

[2022-05-10 11:40] Pravinauti9 commented on #442
Thank you

[2022-05-10 11:42] Pravinauti9 commented on #378
It is working now. Thank you!

[2022-05-10 20:23] ziyiz-amzn commented on #441
There is not much information in the log. Could you help to find the stack trace like [this](https://developer.android.com/ndk/guides/ndk-stack) to symbolize it.

[2022-05-11 21:52] linsang21 commented on #441
Hi @Pravinauti9, we can't get much information from the original log you provide, the only suspicious thing is
[code]
But we don't know where does it come from. The other thing you can try is to enable verbose log and reproduce the issue, send the extensive log. The way to do that is to setting log level to verbose at where you construct the meeting session. In demo app, it's [here](https://github

[2022-05-12 09:59] amiteshsinghkundan commented on #426
Facing the same issue with audio call in Xiaomi Redmi Note 7, xiaomi user join the meeting, sometime he able to hear other users voice, but the other person in the call can't able to hear the voice of xiaomi user

[2022-05-12 21:06] linsang21 opened #445 "Testing and testing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
If applicable, add logs from logcat to help explain your problem.

**Screenshots**
If applicable, add scree

[2022-05-12 21:15] #445 closed

[2022-05-13 06:23] ipf-hkwak commented on #439
Thank you for the prompt response!

[2022-05-13 17:31] linsang21 commented on #296
Audio stream type is supported at the latest [0.16.0](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.16.0) release. Also you can check out the README for how to use it, [here](https://github.com/aws/amazon-chime-sdk-android#use-case-1-start-a-session). Gonna close the issue, feel free to open new one if you needed.

[2022-05-13 17:31] #296 closed

[2022-05-14 00:19] richhx opened #447 "Fix code coverage workflow"
https://github.com/aws/amazon-chime-sdk-android/commit/ef39a9ba6ab073374b007f3fe000e13f9a9f7d5e broke the code coverage workflow. This appears to happen when running the android unit tests on the emulator since the ABIs do not match.

[2022-05-16 10:24] gunjanm26 opened #448 "Video calling issue from wifi to wifi."
Remote video is not rendering when both the devices are connected to wifi. Audio is working fine.
video working when calling cellular to wifi and cellular to cellular. Tested on android to android and android to iOS

Steps to reproduce the behavior:
Connect both devices to wifi.

**Test environment Info (please complete the following information):**
 - Device: Asus Zenfone 5z
 - OS:  Android 10
 -

[2022-05-16 22:52] linsang21 commented on #448
Hi @gunjanm26, were you able to reproduce it with the demo app? Were this be able to reproduce with other model, OS, wifi?

[2022-05-17 02:09] MohdIrfan12 opened #449 "Participants video not playing in android"
I get onRemoteVideoSourceAvailable and subsequently onVideoTileAdded callbacks whenever attendees turns on their video. To play the video of the attendees inside the onVideoTileAdded callback, I use -

meetingSession?.audioVideo?.bindVideoView (videoView, tileID)

However, it isn't working. I can't watch the video of the attendees. What could the cause be?
Also, why do I constantly receiving onVid

[2022-05-17 17:56] linsang21 commented on #449
Hi @MohdIrfan12, have you checked the [usage guide](https://github.com/aws/amazon-chime-sdk-android#video) for video functionalities, especially about [viewing remote videos](https://github.com/aws/amazon-chime-sdk-android#use-case-14-view-remote-videos) for basic integration with the SDK?

It's a little bit vague to know what is not working in your application with the binding based on the descri

[2022-05-18 03:19] MohdIrfan12 commented on #449
**Bug Description **
 Attendee's video is not playing.
 Below is my onVideoTileAdded function.  It is printing 'PausedForPoorConnection' on logcat and maybe that’s the reason why video is not playing. But me and my colleague both are testing it on a stable internet.

 override fun onVideoTileAdded(tileState: VideoTileState) {
mLogger.info(TAG, "onVideoTileAdded, titleId: ${tileState.tileId}, atten

[2022-05-20 09:57] Jim-Bar commented on #438
Hi, I too would like to see this feature in the SDK. It seems that managing only the format (width x height @ FPS) does not affect the emitted video bandwidth, which for some reason seems to always stick to ~1400kbit/s.

[2022-05-23 14:40] ckepii commented on #426
We tried changing to` AudioMode.Mono16K`, but issues are still there

[2022-05-24 06:32] gnarasingam opened #452 "Android chime SDK - when on speaker - audio/volume is too low"
We are using android chime SDK (v0.16.0) and able to make a video call between 2 users , when the audio is set to handset or bluetooth , we are able to hear the clear voice between the users. But when we switch to in-built speaker - volume goes down to too low. users has to keep the speaker beside the ear to hear the voice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click

[2022-05-25 09:45] nambmt97s opened #453 "Crash Pixel 6"
**Describe the bug**
I built my application and i don't know why only pixel 6 device crash when onAttendeesLeft is called
I have tested on some devices like Redmy note 9, Samsung Galaxy M21, Samsung Galaxy S9,... it works properly. But on pixel 6 device, after a few times participants left the room the device is crashed. I could not figure out the problem.
I try Demo Chime SDK App. It’s not reprod

[2022-05-25 23:08] #447 closed

[2022-05-27 10:10] saurabh810 commented on #234
I am also facing this issue on multiple devices. I am creating render views for each attendee upon attendee presence events (join/leave) & bindVideoView/unbindVideoView called on onVideoTileAdded & onVideoTileRemoved respectively.

[code]

**Test environment Info**

Device: vivo 1909
OS: Android 12

Device: moto g10 power
OS: Android 11

Device: OnePlus6T
OS: Android 11

Version amazon-chime-sdk:

[2022-05-27 17:45] georgezy-amzn commented on #453
Hi @nambmt97s, could you share me the stack trace?

[2022-05-27 18:58] georgezy-amzn commented on #452
Hi @gnarasingam,
To clarify your question, what's the volume index when it's on speaker when "volume goes down to too low."?
If the speaker volume index is same as headset/bluetooth, it could the "Absolute Bluetooth Volume" is disabled on the device.
If the speaker volume index is actually low, this should be Android behaviour since Jelly Bean: Android tracks the volume for speaker, headset, and b

[2022-05-27 23:05] richhx opened #456 "Background blur and replacement should not be pixelated"
**Describe the bug**
See https://github.com/aws-samples/amazon-chime-react-native-demo/issues/145

**To Reproduce**
Steps to reproduce the behavior:
1. Enable video and run background blur / replacement on the demo application.
2. Join the same meeting on desktop.
3. Notice that the mobile video is pixelated.

**Expected behavior**
Video should not be pixelated.

**Logs**
N/A

**Screenshots**
N/A

[2022-05-28 06:12] nambmt97s commented on #453
Hi @georgezy-amzn Thanks for replying.
I tried to get the stack trace but all the way failed, that's the cause I could not figure out the problem.

[2022-05-30 08:04] Sandip-Z opened #457 "Meeting automatically ends after some times"
**Describe the bug**
After using v0.16.0, meeting is automatically ending after some times. This is happening in server side where we have used SNS to receive meeting events. In android side we get "onVideoTileRemoved" event for attendee.

**Test environment Info**
 - Device: Mi A2
 - OS: Android 10
 - Version amazon-chime-sdk: v0.16.0
 - Version amazon-chime-sdk-media: v0.16.0
 - Can you reproduc

[2022-05-30 09:42] MohdIrfan12 commented on #270
Cannot understand how a crash becomes a feature request

[2022-05-30 09:43] MohdIrfan12 commented on #234
Cannot understand how crash becomes a feature request

[2022-05-30 21:26] georgezy-amzn commented on #453
Hi @nambmt97s,

I suspect it's related to an existing issue we are tracking(caused by the video tile), it would be helpful if you fill out the detail steps for reproducing the issue, also could you verify if you can reproduce the crash by toggling the video on/off without leaving the meeting session?

[code]

[2022-05-30 23:57] georgezy-amzn commented on #449
Hi @MohdIrfan12,

Could you share the screenshot again, it would be great if you can share a video to reproduce it with the demo app.

Thanks!

[2022-05-31 00:05] #437 closed

[2022-05-31 09:20] nambmt97s commented on #453
Hi @georgezy-amzn
I will reproduce based on the application we are developing.

**Reproduce**
1. List of devices as Galaxy M21 device, Galaxy S9 device, Redmi note 9 device, IPhone 12 mini join a meeting
2. Turn on all their cameras
3. Pixel 6 device join meeting
4. Turn on camera of Pixel 6 device
5. Leave meeting with Galaxy M21 device
6. Rejoin meeting with Galaxy M21 device
7. Turn on camera o

[2022-05-31 18:41] georgezy-amzn commented on #457
Hi @Sandip-Z,

The meeting session automatically ends after a period of inactivity, such as following:
- No audio connections are present in the meeting for more than five minutes.
- Less than two audio connections are present in the meeting for more than 30 minutes.
- Screen share viewer connections are inactive for more than 30 minutes.
- The meeting time exceeds 24 hours.

You can find more det

[2022-05-31 22:45] hokyungh commented on #270
Hi @chetangodiya-simformsolutions do you see a crash issue or delay issue?

@MohdIrfan12 I think our team added feature request for immediate callback on meetingEnded.

[2022-06-02 06:08] Sandip-Z commented on #457
Hi, @georgezy-amzn thank you for replying. None of the above cases meet here. When we use new sdk(v0.16) then SNS is sending us these events in our server:
1. "eventType": "chime:AttendeeVideoStopped"
2. "eventType": "chime:AttendeeLeft",
3. "eventType": "chime:MeetingEnded"

This doesnt happen when we switch back to sdk v0.13.

[2022-06-03 01:52] hokyungh commented on #449
Hi we'll dig into more and update the ticket.

[2022-06-03 07:32] MohdIrfan12 commented on #449
Here is my pagination logic -

fun showPreviousPage() {
    val newPageIndex = (currentPageIndexLiveData.value ?: 1) - 1
    currentPageIndexLiveData.setValue(newPageIndex)
    onPageUpdate()
}

fun showNextPage() {
    val newPageIndex = (currentPageIndexLiveData.value ?: 0) + 1
    currentPageIndexLiveData.setValue(newPageIndex)
    onPageUpdate()
}

fun onPageUpdate() {
    val mCoachChimeAtten

[2022-06-06 04:33] hokyungh commented on #457
Thanks for the update. Do you mind answering few questions?

1. Do you by any chance have logs for meeting ended?

2. Could you also elaborate on the SNS?

3. Client side shouldn't have logic to end meeting. Was there any logic change from server?

[2022-06-06 07:27] hokyungh commented on #453
Thanks we are investigating this issue. We'll update the ticket if there is any new findings or fixes.

[2022-06-06 09:55] Sandip-Z commented on #457
@hokyungh thank you for replying. This issue was resolved after using v0.17.1

[2022-06-06 09:55] #457 closed

[2022-06-07 17:52] hokyungh commented on #449
Hi we are still looking into the issue. Will update the issue if there is any update.

[2022-06-07 17:59] zhinang-amazon commented on #270
Removing the feature request label since there is already a separate issue to track the feature request. We will use this one to track the crash

[2022-06-07 18:30] zhinang-amazon commented on #426
This issue is fixed in v0.17.1. Resolving the issue for now. Feel free to reopen if you still see this after adopting v0.17.1.

[2022-06-07 18:30] #426 closed

[2022-06-07 20:11] saurabh810 commented on #234
Hey @hokyungh, This crash report was taken from the Crashlytics tool when the crash was reported by the alpha tester, so I don't have any reproduction instructions for it. On these devices, it's all random. When this crash occurs on these devices, it happens frequently. Today we tested again with alpha testers, and we faced this issue on these devices many times.

[code]

**Test environment Info**

[2022-06-07 23:36] hokyungh commented on #234
So the error means that you are creating too many egl.
Would you be able to let us know how you implement the binding so we are interested in code that looks like
[code]

Do you bind for every attendee that's coming in?

Would you be able to bind only when you render that attendee?

[2022-06-08 01:02] dingyishen-amazon commented on #270
Hi, I think the reason is calling release() twice.
Tried to call [`eglCore?.release()`](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/internal/video/DefaultVideoClientController.kt#L102) twice., then got the same error:
[code]

[2022-06-08 04:01] saurabh810 commented on #234
@hokyungh Here are the steps of our implementation:

1. We create a separate `DefaultVideoRenderView` for each attendee and store it in HashMap when the attendee joins (upon attendee presence event: `onAttendeesJoined`).
2. When we decide which 5 attendees will show on the current screen after the logic of business requirement, we will subscribe to the video source of  these attendees to receive v

[2022-06-08 17:39] hokyungh commented on #234
Would you be able to provide the logs just by making similar setup? Just wanted to check how many times it call for better debugging.

[2022-06-09 00:04] hokyungh commented on #449
@MohdIrfan12 would you be able to call `audioVideo.resumeRemoteVideoTile(<tile-id>)` on newList and see if improves anything?

[2022-06-09 21:39] dingyishen-amazon commented on #453
Could you please try with [#465](https://github.com/aws/amazon-chime-sdk-android/pull/465)? It may fix this issue.

[2022-06-09 22:13] dingyishen-amazon commented on #453
[#465](https://github.com/aws/amazon-chime-sdk-android/pull/465) may address this issue, and we are targeting include this PR in the next release.

[2022-06-10 05:35] saurabh810 opened #468 "Audio session not getting connected in second time"
**Describe the bug**
If you try to connect to the audio session for the second time within a few seconds after leaving the prior session, it will not connect. On the other hand, the video session is connected. If we wait a few more seconds before reconnecting, the audio session will reconnect.

**To Reproduce**
Steps to reproduce the behavior:
1.  Start the session
2. Leave the session
3. Join the

[2022-06-10 10:58] ar5-rehman opened #469 "The chime video/audio call gets disconnected after having a phone call or WhatsApp/IMO call in android 12"
The chime video/audio call gets disconnected after having a phone call or WhatsApp/IMO call in android 12.

**To Reproduce**
Steps to reproduce the behavior:
1. Chime video/audio call started.
2. Receive a phone call or Whatsapp/IMO call.
3. First the Audio will be paused and after the user ends the phone call or Whatsapp/IMO call, the audio of chime is still be paused and the call gets disconnect

[2022-06-10 11:04] ar5-rehman opened #470 "The chime video call Blinking issue in android 10 11 12 versions"
The chime video call Blinking issue in android 10 11 12 versions

To Reproduce
Steps to reproduce the behavior:

Chime video call started.
After having a 7 to 10 mins call the video call gets blinks for a few mins or seconds.

Expected behavior
The Chime video call should not blink on any device.

Logs
N/A

Screenshots
Here is the video demo of call blinking:
video call blink video time stamp 8:00

[2022-06-10 11:24] ar5-rehman opened #471 "The local user video is not starting again on local device after stop local video and start local video again."
**Describe the bug**
I am using a full screen for remote video, and a small screen for local video over the remote video screen.
When the chime call started mobile app turns on the camera it was working fine but when the user turn off the camera and turn it on again the mobile app user not able to resume the local video at local device.

**To Reproduce**
Steps to reproduce the behavior:
1. Started

[2022-06-10 19:01] richhx commented on #456
https://github.com/aws/amazon-chime-sdk-android/pull/459

[2022-06-10 19:01] #456 closed

[2022-06-13 07:24] dingyishen-amazon commented on #471
Hi @ar5-rehman, I cannot reproduce this issue, did you use our demo app logic as reference?

[2022-06-13 07:28] dingyishen-amazon commented on #469
You may need to reconnect the audio session.

[2022-06-13 07:39] dingyishen-amazon commented on #470
Could you please provide the Device name?

[2022-06-13 11:27] saurabh810 opened #472 "Audio is not transferring to secondary display"
**Describe the bug**
We are using a secondary display (i.e. presentation is a special kind of dialog whose purpose is to present content on a secondary display) to show attendees videos on it. But the audio is not transferring to the secondary display it's still coming from the phone instead of the secondary display.

**To Reproduce**
Steps to reproduce the behavior:
1. Start screen mirroring from

[2022-06-13 21:40] dingyishen-amazon commented on #472
Hi @saurabh810, for clarification, do you use Motorola Edge 20 as the secondary display and mirror the screen of Pixel 6 Pro to it?

[2022-06-13 21:44] dingyishen-amazon commented on #468
It will not take 5 seconds if you leave the meeting and stay on the joining page, then rejoin the meeting.

[2022-06-13 21:57] dingyishen-amazon commented on #270
The advice we could give is to find where you called `DefaultVideoClientController.stopAndDestroy()` twice.

[2022-06-13 22:43] dingyishen-amazon commented on #468
Hi @saurabh810, I tried with our demo app, and cannot reproduce it. It will not take 5 seconds if you leave the meeting and stay on the joining page, then rejoin the meeting. I suggest you compare our demo app logic with yours [here](https://github.com/aws/amazon-chime-sdk-android/blob/master/README.md).

[2022-06-14 03:10] saurabh810 commented on #472
Hi @dingyishen-amazon, no, I am casting/mirroring the screen of Motorola Edge 20 or Pixel 6 Pro to a Chromecast-enabled device (in my case it's Mi TV).

[2022-06-14 04:34] saurabh810 commented on #468
hi @dingyishen-amazon I am also not able to reproduce the above case in your demo app. But I want to know what will be a reason to not triggered these callbacks `onAudioSessionStartedConnecting` & `onAudioSessionStarted` when we call `audioVideo.start()`, but `onVideoSessionStartedConnecting` & `onVideoSessionStarted` is getting called each time.

[2022-06-14 04:58] ar5-rehman commented on #469
Thanks for your response, but it's working for android versions 8 9 10, and 11 but not working only for android 12, that's why I post it.

[2022-06-14 04:59] ar5-rehman commented on #470
@dingyishen-amazon device name is already mention it's A3s.

[2022-06-14 06:57] ar5-rehman commented on #471
@dingyishen-amazon yes i am following the same logic, actually the in OLD sdk it;s working perfectly but in new one it's not working.

[2022-06-14 09:04] parkjurung opened #473 "onVideoSessionStarted not invoked"
**Describe the bug**
A clear and concise description of what the bug is.

I am not sure it's bug or my mistake. I think it's more like my fault but I am sharing the issue while I've been struggling several days.

onVideoSessionStarted is not invoked while onAudioSessionStarted and even onVideoSessionStopped is called well.
So that local video is not shared to remotes. Audio is working well.
Also,

[2022-06-14 13:35] saurabh810 commented on #234
@hokyungh When can we expect a release of #465 fix? Because it's creating frequent crashes on Pixel 6 Pro.

[2022-06-14 20:02] prabint opened #474 "listAudioDevices() removes AUDIO_HANDSET if wired headset plugged in"
We have a requirement to show all available audio output sources. The sdk removes handset option incase a wired headset is plugged in. Hence, it does not show up in the list.
[code]
Curious what's the reason behind removing it.

I tried to force the sdk to select handset even if wired headset is plugged in but that does not seem to work. It always plays sound from wired headset.
[code]
Curious if

[2022-06-15 01:43] parkjurung commented on #473
later update:
I found out there are error logs from DefaultVideoClientObserver

[code]

[2022-06-15 02:06] parkjurung commented on #473
I got more logs in detail.

[code]

[2022-06-15 06:11] parkjurung commented on #473
I just run the demo app, and it works well on same device.
Maybe I can figure it out by comparing demo app codes to mine. So I am gonna close this issue.

[2022-06-15 06:11] #473 closed

[2022-06-15 06:22] ar5-rehman commented on #471
Thanks for the response, can we have chat on these issues on an urgent
basis? check the GitHub issues.
Thanks

On Mon, 13 Jun 2022 at 12:24, Dingyi Shen ***@***.***> wrote:

[2022-06-15 08:08] MohdIrfan12 commented on #449
yeah, we added it. We are still verifying it though

[2022-06-15 17:11] georgezy-amzn commented on #469
Hi @ar5-rehman,

Could you verify you can reproduce it with the demo app, I'm not able to reproduce it on my end. Also, are you able to reproduce it with other Android 12 devices?

[2022-06-16 05:05] ar5-rehman commented on #469
@dingyishen-amazon hi,

Yes, I am facing this issue in android 12. The audio stopped callback called and the audio stops working.

[2022-06-16 05:14] ar5-rehman commented on #471
@dingyishen-amazon Hi,

This is basically my code for turning on and off the local camera:

 private fun toggleVideo() {
            if (meetingModel.isCameraOn) {
                //stops local video streaming
                audioVideo!!.stopLocalVideo()
                selfSurface.visibility = View.VISIBLE
                ivVideoIcon.setImageResource(R.drawable.ic_video_off)
                Self

[2022-06-16 07:08] ar5-rehman commented on #469
The audio stopped callback called and the audio disconnected, no other callback method called, how can i reconnect it then?

[2022-06-16 17:42] prabint commented on #474
Found out that `setWiredHeadsetOn(boolean on)` has been deprecated and there's seems to be no alternative(?). So, we don't have any option to route audio through handset while a headset is plugged in. We are limited to
[code]

[2022-06-16 17:54] georgezy-amzn commented on #469
You should be able to reconnect by calling [meetingSession.audioVideo.start()](https://github.com/aws/amazon-chime-sdk-android#starting-a-session).

[2022-06-16 22:54] georgezy-amzn commented on #471
Hi @ar5-rehman,

I'm not able to tell what's wrong by looking at your code. Please follow the instruction below for tracking down root cause:
- Try to reproduce this with the demo app.
   - If it's reproducible, it can help us identify the cause much faster.
   - If it's not reproducible, we can scope the cause to your code.
- In your app, turn your log to verbose level([instructions](https://gith

[2022-06-17 00:39] georgezy-amzn commented on #472
Hi @saurabh810,

This is not supported currently, I'll mark this as feature request.

[2022-06-17 00:42] #452 closed

[2022-06-17 00:44] #448 closed

[2022-06-17 00:46] #441 closed

[2022-06-17 00:49] georgezy-amzn commented on #419
Hi @tmilovan123,

Do you still observe the crashes with newer version of SDK?

[2022-06-17 09:10] ar5-rehman commented on #469
@georgezy-amzn Thanks for the suggestion but in Android 8 9 10 and 11 the call automatically resumes after having the phone/whatsapp call, but not in android 12 version.

[2022-06-17 17:54] georgezy-amzn commented on #469
@ar5-rehman

- Please share me the stack trace where `onAudioSessionStopped` is called, and the logs.
- Please try to reproduce it with the demo app, this can help us identify if the issue happens only on some specific devices.
- Since the `MeetingSessionStatusCode` is `OK`, it could be logic error in your app, remove all code that stop the call, see if it still happens.

[2022-06-17 22:57] prabint opened #476 "videoReceivePacketLossPercent is always zero"
**Describe the bug**
The `videoReceivePacketLossPercent` is always zero regardless of the strength of the wifi signal. I would expect that value to be above zero if peer network is slow and choppy. We are hoping to use this metric to determine call quality.

**To Reproduce**
Steps to reproduce the behavior:
1. Start video call
2. Use Network Link Conditioner to slow down wifi (or chrome dev tool n

[2022-06-17 23:49] georgezy-amzn commented on #476
Hi @prabint, thanks for reporting this. We will investigate more.

[2022-06-18 16:00] ar5-rehman commented on #471
@georgezy-amzn

setZOrderOnTop is not getting false anywhere, the old SDK is working perfectly in this case, sdk version is v0.7.1, please check it out may be if something is change.
Looking forward to hearing from you.

Thanks

[2022-06-18 16:12] ar5-rehman commented on #469
@georgezy-amzn

Actually its's only Android 12 devices issues in other versions its working very fine, the audio stopped first, since Since the MeetingSessionStatusCode is not OK.

onAudioSessionStopped method called and call disconnected.

**override fun onAudioSessionStopped(sessionStatus: MeetingSessionStatus) {
        if (sessionStatus.statusCode != MeetingSessionStatusCode.OK) {

[2022-06-19 05:04] ar5-rehman commented on #469
@georgezy-amzn

 I tried with the demo app as the well same thing happened the call disconnected after having WhatsApp call in between our meeting on Chime SDK.

 Here are the logs:

 2022-06-19 10:02:31.195 14520-14520/com.amazonaws.services.chime.sdkdemo I/MeetingFragment: meetingStartRequested {"timestampMs":1655614950979,"deviceName":"vivo V2109","deviceManufacturer":"vivo","deviceModel":"V210

[2022-06-20 06:14] georgezy-amzn commented on #476
Duplicate of https://github.com/aws/amazon-chime-sdk-ios/issues/489

[2022-06-20 06:14] #476 closed

[2022-06-20 06:34] georgezy-amzn commented on #234
Hi @nealmanaktola, @saurabh810,

The fix has been released in the latest version([v0.17.2](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.17.2)).

[2022-06-20 06:38] georgezy-amzn commented on #453
Hi @nambmt97s, #465 has been released in the latest version, please verify if that fix your issue.

[2022-06-21 10:24] #453 closed

[2022-06-21 22:52] #354 closed

[2022-06-22 19:13] linsang21 commented on #234
Hi @saurabh810, the #465 is out with [v0.17.2](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.17.2). Please check and let us know if it works for you.

[2022-06-22 19:47] #412 closed

[2022-06-22 19:47] saurabh810 commented on #234
Hi @linsang21, I tested it with v0.17.2. However, it did not work. We are still facing this problem.

[2022-06-22 19:54] linsang21 commented on #234
@saurabh810 There seems were 2 different crashes, one is in the original description, which happen on Java layer, and also another one in the native code with error message `A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0xf87c1de7bf34f5bc in tid 22404 (EglRenderer), pid 21479`. Are we still seeing both crashes even with 0.17.2?

[2022-06-22 20:08] saurabh810 commented on #234
@linsang21 We are facing the issue with the one described in the description.

I am unable to investigate the crash of the native code because it is difficult to reproduce as it occurs only in some cases on the Pixel 6 Pro device and when it occurs it breaks the thread, so it does not report on crashlytics. So I'll have to test it with multiple meetings in debugging mode only.

[2022-06-22 22:15] linsang21 commented on #471
Hi @ar5-rehman, do you mind also answer the rest of questions or follow the suggestion that George provided in the previous comment and let us know?
Also I'm curious why you don't call `audioVideo!!.unbindVideoView(tileId)` when the video tile being removed is self video?

[2022-06-22 22:22] linsang21 commented on #470
@ar5-rehman A3s sounds like a model name not the brand, is it Oppo? Also the name in original description is A13, is it Samsung? Can we confirm the device?

Do you experience the same issue for other kind of devices / OS in order to identify if this is a device specific issue or general issue?

 Can you let us know if it's reproducible with our demo app? This is to identify whether the problem is

[2022-06-22 22:32] linsang21 commented on #469
One thing I'm not quite get is why not just print out the `statusCode` but print OK even when the condition is statusCode is **NOT** OK?

[2022-06-23 03:46] ar5-rehman commented on #469
@linsang21 Hi,
leave that code that's not important actually, i provided the logs of your demo app, where i am still facing the same issue.

[2022-06-23 22:25] linsang21 commented on #469
Sure, but I also tested with the latest demo app as today with Pixel 6 Android 12, couldn't reproduce the reported issue.
Steps along with log:
[code]
I guess this could be device specific issue. We could try with `VIVO y33s` as well.

[2022-06-24 04:19] ar5-rehman commented on #469
@linsang21 it's interesting to see, yes please try it with Vivo y33s, after the .resume the chime call waits for at least two minutes and check whether it's disconnected or not.

Thanks

[2022-06-24 06:22] ar5-rehman commented on #471
@linsang21 Hi, i am using **audioVideo!!.unbindVideoView(tileId)** to stop the local video by calling  **audioVideo!!.stopLocalVideo()** and using **audioVideo!!.bindVideoView(
                    SelfVideoSurface as VideoRenderView,
                    attendeeCollection.videoTileState.tileId
                )** for stating the local video. by calling **audioVideo!!.startLocalVideo()**

but it's

[2022-06-30 12:48] saurabh810 commented on #234
@linsang21 We are still facing crashes in the native code on the Pixel 6 Pro device. You can check the logs.

[code]

[2022-06-30 13:46] ar5-rehman commented on #469
@linsang21 have you tested on Vivo y33s device? I am looking forwards for results.

[2022-06-30 13:46] ar5-rehman commented on #471
@linsang21 Anything on this?

[2022-06-30 13:47] ar5-rehman commented on #470
yes oppo A3s

[2022-06-30 19:30] dingyishen-amazon commented on #471
Hi @ar5-rehman, have you tried with calling `audioVideo!!.unbindVideoView(tileId)` when video tile is removed?

[2022-06-30 19:32] dingyishen-amazon commented on #470
Hi @ar5-rehman, thank you for your information. Could you please answer the rest questions from linsang21? I cannot reproduce this issue on Google pixel 5a, we may need more information.

[2022-06-30 20:01] dingyishen-amazon commented on #468
Before you call `audioVideo.start()`, did you call `audioVideo.stop()` properly? Is your logic the same as [demo app](https://github.com/aws/amazon-chime-sdk-android/blob/88094313e208b0c671fc4ddc737880aef03bf0a3/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/internal/audio/DefaultAudioClientController.kt#L216)?

[2022-06-30 20:48] dingyishen-amazon commented on #449
Closing the issue for now. Feel free to re-open if this is still an issue for you.

[2022-06-30 20:48] #449 closed

[2022-06-30 22:39] dingyishen-amazon commented on #270
Close this issue for now, feel free to reopen if validating the suggestion not work.

[2022-06-30 22:39] #270 closed

[2022-07-01 03:39] ar5-rehman commented on #471
@dingyishen-amazon yes, you can see that in my code, i posted above.

[2022-07-01 19:22] dingyishen-amazon commented on #234
The advice we could give is to only have few tiles and rebind on top of them. Try to bind the view when you display the video vie instead of binding whenever there is a new attendee. Ans also, we’ll investigate more on the egl issue. Thank you.

[2022-07-06 08:44] Jim-Bar opened #478 "Help identifying why the video is cropped / black boxed upon resizing"
Hi,

I have trouble identifying what's causing the video not to resize smoothly in an application I am working on. Upon resizing, the video freezes and depending on the resize direction is either cropped or black boxed. If the resizing gesture is slow enough, resizing the video kind of work, but if the gesture is quick it seems that the video just "waits" for it to slow down before adapting its si

[2022-07-06 17:28] hokyungh commented on #478
Thanks for opening an issue. I think this could be possible since frame rendering is called on the main thread and you are resizing, so the frame might look paused. Are you resizing the SurfaceRenderView or the parent of the view?

[2022-07-07 23:44] hokyungh commented on #471
Do you mind posting logs? It is hard to know the flow of the code based on the comments and the code posted. It is also hard to tell whether it is due to view being invisible or no frame is coming through.

[2022-07-07 23:50] hokyungh commented on #469
Sadly, we don't have that device, do you have any other device models that is having similar issue?

[2022-07-08 11:08] bhugoVilela opened #480 "Broadcast video from Tile to multiple VideoSinks"
**Describe the bug**
I have created a `class VideoFrameBroadcaster: VideoSink` that broadcasts received frames to two `DefaultVideoRenderView`s.
However after doing all the setup and binding the tile, video is not shown and I get a warning: `W/DefaultEglRenderer: Skipping frame render request, no render handler thread`.

**To Reproduce**
[code]
if I bind directly to `mainSink` it works. But if it

[2022-07-08 15:56] Jim-Bar commented on #478
Okay so I wasn't too sure how to resize the `SurfaceRenderView` directly, but I found that using a `TextureRenderView` instead of a `SurfaceRenderView` fixed the problem. See the video below:

[Video-Chime-Resize-2.webm](https://user-images.githubusercontent.com/8939266/178027319-eea09884-d27b-4ad2-ad43-4119da05e6c5.webm)

It's subjective but my feeling is that the general performance is better us

[2022-07-08 18:16] hokyungh commented on #478
Glad you found the solution. I think you can use `TextureRenderView`. I think TextureRenderView is more memory intensive.

[2022-07-08 21:40] hokyungh commented on #478
Closing for now. Feel free to reopen if you still have issue.

[2022-07-08 21:40] #478 closed

[2022-07-08 22:41] hokyungh commented on #480
Thanks for opening issue. My guess is it didn't get initialized due to binding logic. Try `mainSink.init(eglCoreFactory)`?

[2022-07-09 13:39] bhugoVilela commented on #480
`mainSink` is a `DefaultVideoRenderView` initialized in a .xml layout file. From my understanding, it shouldn't require the .init call. Or am I missing something?

Nevertheless, I tried calling .init and the result was the same
Thank you for your reply.

[2022-07-11 06:00] hokyungh commented on #480
Were you able to confirm that onVideoFrameReceived is called for `VideoFrameBroadcaster`?

[2022-07-12 01:04] hokyungh commented on #234
@nealmanaktola Based on our observation, `Failed to query context` is caused when `eglCoreFactory.createEglCore()` is called more than what the phone can handle, which the number varies between different phones. This is called when we called [bindVideoView](https://github.com/aws/amazon-chime-sdk-android/blob/041584a8ba4e4c08d7f71d32c9a1e2af624e94a9/amazon-chime-sdk/src/main/java/com/amazonaws/ser

[2022-07-12 06:48] Guy1982 opened #482 "Audio not transmitted from Android to JS"
**Describe the bug**
On CHIME SDK version  0.14.3 audio stopped working on several Android devices:
1. Samsung Galaxy S8 SM-G950F with Android OS 9
2. OnePlus Nord with Android 12
3. Xiaomi Redmi 7, Android 10

We have a video call between Android and Web. The audio from Android is not received on WEB side.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a video call between Android and

[2022-07-12 15:43] Metalingus opened #483 "Front Camera turning black / Low exposure"
**Describe the bug**
Hi, I am having some front camera issues with the AT&T Fusion Z  phone, it works fine if there's nothing in front of it but as soon as there's an object to focus, the camera flickers and then turns very dark as if the exposure was set super low, I can still see light sources. I tried the demo app on that phone and still the issue is happening. I tried other apps on the mention

[2022-07-12 17:47] hokyungh commented on #483
Hi @Metalingus, Could you try to change some of settings [here](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/capture/DefaultCameraCaptureSource.kt#L372) to see if it improves? You can reference [captureRequest](https://developer.android.com/reference/android/hardware/camera2/CaptureRequest#summ

[2022-07-12 19:07] Metalingus commented on #483
Hi @hokyungh, I did try many of the combinations and it seems that only the Exposure settings are affecting the output but eventually it goes dark. Is there a way to keep the camera capture settings to the default settings by the phone?

[2022-07-12 22:16] ziyiz-amzn commented on #471
In the code snippet above, the logic is that if the tile is not local tile, it calls `unbindVideoView(tileId)`. unbind should be called if isLocalTile = true.
[code]

Also, a video recording and logs will help us to investigate more efficiently. @ar5-rehman

[2022-07-13 11:09] Shakibuzzaman3104 opened #484 "App crashes after updating Chime SDK from v0.13.1 to v0.17.2"
**Description**
I have recently updated SDK from v0.13.1 to v0.17.2. The app crashes every time when receiving a call. But, the crash doesn't occur if data and cache are cleared.

**To Reproduce**
Steps to reproduce the behavior:
1. Build an application with SDK version v0.13.1
2. Perform a video call
3. Update the SDK to v0.17.2
4. Build a new .apk and update the app
5. Try video calling again
6.

[2022-07-13 18:27] ziyiz-amzn commented on #484
Thank you @Shakibuzzaman3104 for reporting this. We are investigating on it and will share update in this thread.

[2022-07-13 18:59] Guy1982 commented on #482
I tried all 3 options, AudioMode.Mono48K, AudioMode.Mono16K, and Stereo48K. In all 3 configurations, the bug reproduces and audio is not received from the Android side.

[2022-07-13 20:43] ziyiz-amzn commented on #482
@Guy1982 Would you mind try v0.17.1, which contains an audio fix on some devices, or later? Please let us know if this audio issue still the same?

[2022-07-13 20:49] Guy1982 commented on #482
We used version 0.17.2.
Please send me your email  (to guys@tytocare.com) and I will send you DEBUG logs of the session.

[2022-07-13 21:00] ziyiz-amzn commented on #482
I believe you have created an AWS support ticket. Could you upload debug logs there? Thanks. @Guy1982

[2022-07-13 23:20] ziyiz-amzn commented on #483
Hi @Metalingus Will the issue occur when you start local video during a meeting as well?

[2022-07-14 00:16] ziyiz-amzn commented on #418
Closing it as stated this seems a AudioService/AudioManager issue. Feel free to reopen if it is observed on more various devices.

[2022-07-14 00:16] #418 closed

[2022-07-14 04:01] ar5-rehman commented on #471
@ziyiz-amzn sure i will provide the video recording. but this code is working in sdk version is v0.7.1.

[2022-07-14 11:36] ar5-rehman commented on #471
@ziyiz-amzn @linsang21 @dingyishen-amazon please checkout the video demo, hopefully will be clear to you guys.
https://share.vidyard.com/watch/YcCwntm3mN1fMNFbEg6n9g

Thanks

[2022-07-14 18:38] Metalingus commented on #483
Hi @ziyiz-amzn yes it still happens when the meeting starts.

[2022-07-14 23:42] ziyiz-amzn commented on #470
Closing it now. Feel free to reopen if further question.

[2022-07-14 23:42] #470 closed

[2022-07-15 05:41] ziyiz-amzn commented on #471
The recording you provided shows that when the local video turns off, the tile was not unbind with the view on local user, so the following binding will not succeed.

When a local video is turned off, `onVideoTileRemoved` will be called and `tileState.isLocalTile` will be `true`. You will need to call unbindVideoView with the tileId.

You can refer to our demo app [onVideoTileRemoved](https://gith

[2022-07-15 23:55] ziyiz-amzn commented on #483
We cannot reproduce this issue using demo app on various Android devices.

I would suggest you follow hokyungh's advise and try more combinations [here](https://github.com/aws/amazon-chime-sdk-android/blob/master/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/capture/DefaultCameraCaptureSource.kt#L412-L414).

[CameraMetadata.CONTROL_AE_MODE_OFF](https://d

[2022-07-15 23:56] ziyiz-amzn commented on #482
Closing this for now, tracking it in AWS support ticket.

[2022-07-15 23:56] #482 closed

[2022-07-15 23:59] ziyiz-amzn commented on #468
Closing it due to inactive. Feel free to reopen if need.

[2022-07-15 23:59] #468 closed

[2022-07-16 05:23] ar5-rehman commented on #471
@ziyiz-amzn thank you for the help, the issue is resolved, that really helps me.

[2022-07-16 06:35] ar5-rehman commented on #469
@hokyungh @linsang21 @dingyishen-amazon @georgezy-amzn Hi guys, i tried with vivo y33s(Android 12), Samsung M21(Android 12), and Samsung A13(Android 12), but stills call drops after having phone call during the chime call.

[2022-07-17 16:20] Metalingus commented on #483
Thank you @ziyiz-amzn and @hokyungh, I was able to solve the issue by using the following parameters:

` captureRequestBuilder.set(CaptureRequest.CONTROL_AE_MODE, CaptureRequest.CONTROL_AE_MODE_OFF)
captureRequestBuilder.set(CaptureRequest.CONTROL_AWB_MODE, CaptureRequest.CONTROL_AWB_MODE_AUTO)
captureRequestBuilder.set(CaptureRequest.SENSOR_SENSITIVITY, 650)
captureRequestBuilder.set(CaptureReque

[2022-07-18 06:24] ipf-hkwak opened #486 "User enters a state of limbo"
**Describe the bug**
A user (for convenience call him U1) enters the session and then is 'dropped' after 30 seconds. However, U1 is not _completely_ dropped as they are still able to receive other users videos and messages (and can send messages as well). The issue is from the perspective of **other** users. They cannot see User1, in fact, the `onAttendeesDropped` function is called from the `Defa

[2022-07-18 16:28] ziyiz-amzn commented on #471
@ar5-rehman You are welcome. Closing this.

[2022-07-18 16:28] #471 closed

[2022-07-18 16:38] ziyiz-amzn commented on #483
Cool! Glad to see it works. closing this now.

[2022-07-18 16:38] #483 closed

[2022-07-18 20:07] ziyiz-amzn commented on #486
@ipf-hkwak Thank you for reporting this. We will investigate and keep posted.

[2022-07-18 20:12] ziyiz-amzn commented on #486
In the meantime, you may also consider to integrate with [ConnectionService](https://developer.android.com/reference/android/telecom/ConnectionService.html) to have better audio call experience.

[2022-07-20 04:49] ipf-hkwak commented on #486
After further investigation, we found out that this is an issue on our side so I have decided to close it!

**Reason for the bug**
I attach an explanation in case other users may experience a similar issue in the future. Before entering the session, our app enabled users to test out their microphone but afterwards, the necessary resources was not being released properly. I'm not sure as to why it

[2022-07-20 04:49] #486 closed

[2022-07-23 17:52] Shakibuzzaman3104 commented on #484
@ziyiz-amzn Is there any update? We had to rollback to the previous version as real users were being affected by this. Any insight on this will help us prevent future crashes. Thanks

[2022-07-25 15:50] kevineder opened #488 "ConcurrentModificationException in ObserverUtils"
**Describe the bug**
Occasional crash with the following stack trace:

[code]

**To Reproduce**
I haven't been able to find a reliable repro.

**Expected behavior**
Should not crash.

**Test environment Info (please complete the following information):**
- We've seen this on a variety of device types.
- amazon-chime-sdk-media: `0.17.0`
- amazon-chime-sdk: `0.17.0`

**Additional context**
It looks

[2022-07-26 05:00] prajnas opened #490 "Audio is not sent when bluetooth device is connected and the call disconnects after a while"
**Describe the bug**
On Android where when you are connected to the any bluetooth headphones, the audio from the android phone is not sent. We can receive the audio , but the user's voice on bluetooth headphones are not sent over..
This is 100% reproducible on any Samsung or Pixel phones.
We are using the chime sdk & media sdk version : 0.17.0 , I upgraded to 0.17.2 and it does not help.

**To Rep

[2022-07-26 20:34] ziyiz-amzn commented on #490
Thanks for reporting this. We will investigate and update in the support ticket.

[2022-07-27 16:54] Saifak34 opened #491 "Video goes blank as soon as we rotate the mobile screen ."
**Describe the bug**
We are running app in android devices and iOs devices, for android phones as soon as we rotate the screen from vertical to horizontal or vice versa the video for attendees goes blank . (please refer to images) .

Meanwhile it works fine in IOS devices, we are not able to figure out what is wrong . I am attaching images and logs for reference. Also the RNVideoViewManager.js fil

[2022-07-27 18:52] ziyiz-amzn commented on #491
Thank you for reporting this. @Saifak34
Which amazon-chime-sdk version are you using?
In your app, have you tried to override `onVideoTileAdded()` and `onVideoTileRemoved()` observer functions to controller over the render view during screen rotation?

[2022-07-27 19:46] Saifak34 commented on #491
Do you mean this version ?

"amazon-chime-sdk-component-library-react": "^2.15.0",
    "amazon-chime-sdk-js": "^2.27.0",

    Also I did not get what you mean by " have you tried to override onVideoTileAdded() and onVideoTileRemoved() observer functions to controller over the render view during screen rotation?"

[2022-07-27 20:33] Saifak34 commented on #491
for more info,

`const onAddVideoTileSubscription = getSDKEventEmitter().addListener(MobileSDKEvent.OnAddVideoTile, (tileState) => {
            setTiles(prevTiles => ([...prevTiles, tileState]));
		});

const onRemoveVideoTileSubscription = getSDKEventEmitter().addListener(
			MobileSDKEvent.OnRemoveVideoTile,
			(tileState) => {
                setTiles(prevTiles => prevTiles.filter(tile => tile

[2022-07-27 20:34] Saifak34 commented on #491
[code]

[2022-07-27 21:40] ziyiz-amzn commented on #491
Are you working on a React Native app with Amazon Chime iOS/Android SDK following our [RN demo](https://github.com/aws-samples/amazon-chime-react-native-demo)?

Or are you using Amazon Chime JS SDK? what you mentioned are JS SDK:
"amazon-chime-sdk-component-library-react": "^2.15.0",
"amazon-chime-sdk-js": "^2.27.0",

[2022-07-27 22:12] ziyiz-amzn commented on #491
I tested our [RN demo](https://github.com/aws-samples/amazon-chime-react-native-demo) and rotation is working as expected. Can you refer to the [RNVideoRenderView](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/src/components/RNVideoRenderView.js) here? Can you try remove bin/unbind in `componentDidUpdate` in yours

[2022-07-28 01:52] Saifak34 commented on #491
Yes we are working on React Native App with Amazon Chime iOS/Android following React Native Demo.

here are versions :
IOS : v0.18.1
Android : v0.14.3
amazon-chime-sdk version : 0.18.1

[2022-07-28 02:12] rixiang-dev commented on #379
Hi @ashrafhere previously we released a hot fix 0.14.3 for this issue. We have recently made a server side fix that should have fixed this for 0.14.2 as well. Could you verify if the issue can still be reproduced on 0.14.2 (https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.14.2)?

[2022-07-28 03:33] Saifak34 commented on #491
Even if I remove whole componentDidUpdate code issue still remains , I changed whole file too , copied same content from  [RNVideoRenderView](https://github.com/aws-samples/amazon-chime-react-native-demo/blob/master/src/components/RNVideoRenderView.js) still when we flip screen we see this in logs,

6201-6201/com.aetonix.mobileappprod I/DefaultVideoTileController: tileId = 3 already had a differen

[2022-07-28 17:21] ziyiz-amzn commented on #491
I believe this issue is your implementation details. The best suggestion I can give is to refer to working our demo app. Debugging is out of the scope here.

[2022-07-28 17:21] #491 closed

[2022-07-28 17:39] Saifak34 commented on #491
Do you test your demo version in a physical device or in android simulator ?

[2022-07-28 17:42] ziyiz-amzn commented on #491
Physical device.

[2022-07-28 17:48] Saifak34 commented on #491
it might be possible android studio is having issues and not updating our code , and that removing componentDidUpdate should fix this issue

[2022-07-28 18:19] ziyiz-amzn commented on #491
Great to see it works! Yeah, Clean project/cache may always be best practice when develop in Android/RN.

[2022-07-28 18:22] Saifak34 commented on #491
I am yet to test though i think that is what happening

[2022-07-28 18:27] ziyiz-amzn commented on #488
Duplicate - https://github.com/aws/amazon-chime-sdk-android/issues/419
Will update once fix is out.

[2022-08-01 20:48] pedroportugal opened #495 "Can't join meeting as a "listener" receiving only audio - AudioMode, .noDevice, .noAudio"
**Describe the bug**

Joining with audioMode as .noDevice causes no audio to be received/sent; and joining with default configuration causes camera and audio permissions to be asked even without using it aka "join a listener". We want this behavior to make users to join using the [media replication feature](https://docs.aws.amazon.com/chime-sdk/latest/dg/media-replication.html) which is receive-on

[2022-08-04 02:29] georgezy-amzn commented on #495
Hi @pedroportugal, please see the response [here](https://github.com/aws/amazon-chime-sdk-ios/issues/507#issuecomment-1204677798).

[2022-08-04 07:53] ipf-hkwak opened #496 "RealtimeObserver does not invoke callback on left attendee after network reconnect"
**Describe the bug**
Suppose a user (A) joins a meeting and then their network service disconnects for some reason. Whilst A's network is down, a different user (B) may also leave the meeting. Once A has reconnected, I would expect to be notified via some callback that attendee B is no longer in the meeting (n.b. the VideoTileObserver is insufficient to know about the attendee's presence). Surpris

[2022-08-04 18:03] georgezy-amzn commented on #496
Hi @ipf-hkwak,

Thanks for reporting! I'll mark this as bug, and look into it ASAP.

[2022-08-04 18:11] georgezy-amzn commented on #496
This is a duplicate of #231, please track using this issue.

[2022-08-04 18:11] #496 closed

[2022-08-05 00:58] ipf-hkwak commented on #231
@dylonChime @zhinang-amazon hello, I was wondering if there is any update on this matter? Thanks.

[2022-08-09 18:49] linsang21 commented on #484
https://github.com/aws/amazon-chime-sdk-android/pull/498 is out to address this issue.

[2022-08-09 22:26] linsang21 commented on #234
Close the issue due to no response, please let us know if you have any other questions.

[2022-08-09 22:26] #234 closed

[2022-08-10 04:21] Shakibuzzaman3104 commented on #484
Thank you for the update. Hopefully, the issue will be resolved soon.

On Wed, Aug 10, 2022, 12:50 AM Sang Lin ***@***.***> wrote:

[2022-08-12 15:38] Jim-Bar opened #499 "Video binding failing in some cases due to a bug in `DefaultVideoTileController`"
Hi,

We think there is a mistake in [`DefaultVideoTileController`](https://github.com/aws/amazon-chime-sdk-android/blob/v0.17.4/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/DefaultVideoTileController.kt) which causes video bindings to fail under certain circumstances. This occurs when two participants in a video meeting swap their videos.

**Description

[2022-08-15 20:17] ziyiz-amzn commented on #438
This feature is released in https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.17.5

[2022-08-15 20:17] #438 closed

[2022-08-15 20:17] ziyiz-amzn commented on #488
The fix is released in https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.17.5

[2022-08-15 20:17] #488 closed

[2022-08-15 20:18] ziyiz-amzn commented on #419
The fix is released in https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.17.5

[2022-08-15 20:18] #419 closed

[2022-08-16 18:30] #490 closed

[2022-08-18 18:01] dingyishen-amazon commented on #499
Thanks for reporting this. We will investigate and update in the support ticket.

[2022-08-19 04:26] dingyishen-amazon commented on #499
Hi @Jim-Bar,
I think the logic is already been handled [here](https://github.com/aws/amazon-chime-sdk-android/blob/v0.17.4/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/DefaultVideoTileController.kt#L153).
If `renderViewToBoundVideoTileMap[videoView]` is not empty, we will first call `removeRenderViewFromBoundVideoTileMap()` to remove it then rebind.

[2022-08-19 08:16] Jim-Bar commented on #499
Hi @dingyishen-amazon,

Yes `removeRenderViewFromBoundVideoTileMap()` is indeed called, but in the failing cases we observe that this call removes the wrong render view.

The key fact is that sometimes `renderViewToBoundVideoTileMap` contains two render views bound **to the same** tile id. This because when `onRemoveVideoTile(videoId)` is called from [here](https://github.com/aws/amazon-chime-sdk-

[2022-08-23 20:14] hokyungh commented on #484
https://github.com/aws/amazon-chime-sdk-android/pull/498 merged. Will update again when we release new Android.

[2022-08-24 22:14] hokyungh commented on #499
Hi @Jim-Bar , when `onVideoTileRemoved` is invoked, do you call `audiovideo.unbindVideoView`? I am trying to figure out the flow little better.

[2022-08-24 23:01] harenj commented on #495
+1 👍

I'd like to be able to swap the `AudioVideoConfiguration`'s `AudioMode` between `NoDevice` and another value on the fly without having to stop/start the session.

[2022-08-26 00:47] hokyungh commented on #484
https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.17.6 released. Let us know if you still have issue.

[2022-08-26 00:47] #484 closed

[2022-08-27 09:48] Jim-Bar commented on #499
Hi @hokyungh, no we don't call `audiovideo.unbindVideoView`. I figured out that the issue would probably not occur if we did call it, however:

- it's a bit complex to implement in our app due to the frameworks we use
- we felt like bringing it up to you was the best thing to do as the problem may arise in other circumstances

Thanks for taking the time to look into this.

[2022-08-29 15:33] ThomasDev321 opened #504 "Background video filters don't work before joining the meeting session."
**Describe the bug**

The application crashes when it tries to display the camera capture with a background filter before joining a meeting session.
This feature works on iOS

**Logs**
[code]

**Test environment Info :**
 - Device: Note 10 pro
 - OS: Android 11
 - Version amazon-chime-sdk: 0.17.6
 - Version amazon-chime-sdk-media: 0.17.6
 - Version amazon-chime-sdk-machine-learning: 0.1.0

[2022-08-29 16:14] hokyungh commented on #504
Thanks for reporting. We'll try to reproduce on our side and get back on to you.

[2022-08-29 16:52] hokyungh commented on #499
Thank you. This looks like we need to redesign DefaultVideoTileController to make it easier to use. Let me add feature request label and discuss with the team.

[2022-08-29 18:45] Jim-Bar commented on #499
Okay, thanks for the feedback.

[2022-08-30 09:01] ThomasDev321 commented on #504
I reproduce it on the demo app in [DeviceManagementFragment.kt(#L166)](https://github.com/aws/amazon-chime-sdk-android/blob/master/app/src/main/java/com/amazonaws/services/chime/sdkdemo/fragment/DeviceManagementFragment.kt#L166) file.
The app doesn't crash but quit the meeting with same logs
[code]

[2022-08-30 23:01] pedroportugal opened #505 "Crash when running for ling time"
**Describe the bug**

This Host is reporting that when they Go Live the live cuts off randomly, but this has only happened when they go live from an Android device. The Host describes it as “When the live cut off the screen just goes black. It asked if I wanted to switch the Livestream here. I said yes and then it comes back on as normal.“ I could not test this, but in the recording, it can be see

[2022-08-30 23:19] tenge-amzn commented on #505
hi @pedroportugal
Could you be more specific? what livestream are you using?

[2022-08-30 23:26] pedroportugal commented on #505
I am joining to a chime meeting and sharing my local camera.

We have a third party app that uses chime sdk to create livestreams for our end users.

When they try to go live (using their camera), some of them are having this crash for long living meetings!

[2022-08-30 23:29] tenge-amzn commented on #505
I can't comment on the third party app. Have you tried the recent offering we have for livestreaming? It's a managed service - you only need to provide rtmp(s) endpoint.

https://aws.amazon.com/blogs/business-productivity/amazon-chime-sdk-launches-live-connector-for-streaming/

[2022-08-30 23:31] pedroportugal commented on #505
@tenge-amzn The issue happens on the peer starting the transmission (the origin of the livestream).

[2022-08-31 00:51] dylonChime commented on #505
Hi @pedroportugal,

Thanks for reporting this. It's interesting that `OpenGLES error 1285` is an out of memory error. I wonder if it's related to the media layer memory leaks reported in [this issue](https://github.com/aws/amazon-chime-sdk-ios/issues/216). Is it possible for you to run a memory/CPU profiling tool on your 3rd party app? Also, are you able to reproduce this in our demo app?

[2022-08-31 02:38] pedroportugal commented on #505
Yes. Demo app also crashes. We just need to keep the the meeting online. Some times it takes 30mins. some times 2hours but it always crashes!

I also believe this is out of memory too! But I am not able to do anything since it crashes internally!

[2022-08-31 09:56] sam-apps commented on #504
Same problem

[2022-08-31 16:46] dylonChime commented on #505
Thanks for the info. I'll try to reproduce this on my side and continue to investigate.

[2022-09-02 00:50] dylonChime commented on #505
I wasn't able to reproduce after running for a couple hours with Galaxy S9 and Galaxy S10 with our demo app. I also didn't see any increase in memory used in Android Studio's memory profiler. I think it might be a memory leak on your app. It may be necessary to somehow run a profiling tool on your app and try to narrow down the source of the leak.

[2022-09-02 12:25] pedroportugal commented on #505
Hi @dylonChime I will try the memory profiler...

I am wondering if we could schedule a meeting to talk about tis problem. I can show you my app and ask for some help!

[2022-09-02 13:41] pedroportugal commented on #505
After running with profiler, some findings:

Took me about an hour to get the crash. During the while test the memory allocation was stable around 540MB
![image](https://user-images.githubusercontent.com/3346283/188158701-846cfa46-51b7-4ebe-a06a-65705c262d6d.png)

I dont know exactly why we get the OutOfMemoryError from OpenGL layer. But I need some help on this!

[2022-09-02 19:31] hensmi-amazon commented on #505
Hi @pedroportugal , can you provide some details on how video is received in your app?

* What implementation are you using for `VideoRenderView`? Are you calling `release` when no longer rendering the video? e.g. :https://github.com/aws/amazon-chime-sdk-android/blob/18e0d8e2df0eb70430ec94064ca3701f6bf99895/amazon-chime-sdk/src/main/java/com/amazonaws/services/chime/sdk/meetings/audiovideo/video/D

[2022-09-08 14:19] ThomasDev321 commented on #504
Hi @hokyungh, did you reproduce this bug ?

[2022-09-13 12:51] Jim-Bar commented on #499
Hi, just letting you know that we reproduce this issue on iOS too (0.22.2).

A possible fix seems similar to the one for Android (adding `removeRenderViewFromBoundVideoTileMap(tileState.tileId)` line 157 in [`DefaultVideoTileController::onRemoveTrack()`](https://github.com/aws/amazon-chime-sdk-ios/blob/v0.22.2/AmazonChimeSDK/AmazonChimeSDK/audiovideo/video/DefaultVideoTileController.swift#L157)).

[2022-09-15 02:17] ziyiz-amzn commented on #499
Thank you @Jim-Bar for the detailed explanation. As stated in the [use case 14](https://github.com/aws/amazon-chime-sdk-android/#use-case-14-view-remote-videos) and [api overview](https://github.com/aws/amazon-chime-sdk-android/blob/master/guides/api_overview.md#bindunbind-video-view), it is suggested that `bindVideoView()` and `unbindVideoView` should be called in pairs for a single video. Can yo

[2022-09-16 00:48] ziyiz-amzn commented on #504
Yes, we are able to reproduce it with the code snippet. We are investigating on it.

[2022-09-19 09:14] kemruto opened #506 "Auto set audio output to speaker of device"
**Describe the bug**
When I start a meeting and connect with earphones, app still sets audio's output is speaker. I get list by audioVideo.listAudioDevices, it log type from Bluetooth -> Handset -> Builtin Speaker

Devices and OS: any android and ios device I have
ChimeSDK: amazon-chime-sdk-media:0.17.5 and amazon-chime-sdk:0.17.4

**To Reproduce**
Steps to reproduce the behavior:
Case 1:
1. Conne

[2022-09-20 00:44] ziyiz-amzn commented on #506
Thank you @kemruto  for reporting this.

Which SDK version does your app run on?
Have you tried with `val devices = audioVideo.listAudioDevices().sortedBy { it.order }` when you list audio device and always get the first and then call `chooseAudioDevice(devices[0])` when a meeting is started.

[2022-09-20 02:25] kemruto commented on #506
Hi @ziyiz-amzn. App running on SDK 32
I have tried it and it't didn't work. I check the logs and I saw the last device in onAudioDeviceChanged() is bluetooth. However chooseAudioDevice() not work. Sound of meeting still come from built-in speaker

[2022-09-20 04:07] kemruto commented on #506
Hi @ziyiz-amzn
I solved this issue by follow issue #89 in IOS. Many thanks for helping

[2022-09-20 18:24] ziyiz-amzn commented on #506
@kemruto Great to hear that! Do you solve it by adding logic to manually set the priority when `audioSessionDidStart`?

[2022-09-21 04:44] kemruto commented on #506
@ziyiz-amzn yes I added logic to onAudioSessionStarted on Android and to DeviceChangeObserver

[2022-09-21 04:46] kemruto commented on #506
Yes I added logic to onAudioSessionStarted on Android and using DeviceChangeObserver to listen whenever output audio is changing

[2022-09-21 04:46] #506 closed

[2022-09-21 20:37] ethanjanadrake commented on #480
Hi @bhugoVilela,

Are you still experiencing this issue?

[2022-09-21 20:37] ethanjanadrake commented on #362
Hi @VadimChubarov,

Are you still experiencing this issue?

[2022-09-21 20:53] hensmi-amazon commented on #362
This may be related to https://github.com/aws/amazon-chime-sdk-android/issues/504

[2022-09-27 00:33] ziyiz-amzn commented on #362
@VadimChubarov Were you able to observe the memory issue on various of devices or some specific devices like Redmi?

[2022-09-27 07:46] Jim-Bar commented on #499
Hi, as I said previously due to the framework with use in our app this is no simple task. I managed to do it though, I *think* it solves most of our cases but I'm not 100% sure yet.

Nonetheless I would recommend to add the lines I described previously in the SDK because I really think this can show up as soon as one fails to properly call `unbind` (even once), and the fix seems safe.

[2022-09-29 06:25] qinghua-pactera opened #507 "Does it support pause audio for a tileid?"
hello,thanks for you.

[2022-10-11 19:45] #480 closed

[2022-10-18 10:39] krunal9797 opened #511 "MeetingSessionConfiguration Not working"
val configuration = MeetingSessionConfiguration(
                        **CreateMeetingResponse(joinMeetingResponse.joinInfo.meetingResponse.meeting),**
                        **CreateAttendeeResponse(joinMeetingResponse.joinInfo.attendeeResponse.attendee)**
                    )

                    val meetingSession = DefaultMeetingSession(configuration, logger, applicationContext)

can not r

[2022-10-19 00:14] dylonChime commented on #511
Hi @krunal9797,

From the screenshot it looks like you might have 2 definitions of Meeting. Can you ensure you are importing and using only Meeting from `com.amazonaws.services.chime.sdk.meetings.session.CreateMeetingResponse`?

[2022-10-20 10:23] krunal9797 commented on #511
![image](https://user-images.githubusercontent.com/37956748/196923964-2b973a27-c3a0-4726-90d7-f2c6fae45850.png)

[2022-10-20 10:24] krunal9797 commented on #511
Unable to join meeting. HttpException(errorCode=405, errorReason=)

[2022-10-20 19:20] dylonChime commented on #511
How are you configuring your server? Have you deployed the serverless demo app or do you have a custom server?

[2022-10-21 05:35] krunal9797 commented on #511
yes u have custom server

On Fri, Oct 21, 2022 at 12:50 AM Dylon Dickinson ***@***.***>
wrote:

[2022-10-21 21:47] ziyiz-amzn commented on #504
The fix has been released in the latest [release 0.17.7](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.17.7). Please check and let us know.

[2022-10-21 21:47] #504 closed

[2022-10-21 21:58] ziyiz-amzn commented on #362
The fix has been released in the latest [release 0.17.7](https://github.com/aws/amazon-chime-sdk-android/releases/tag/v0.17.7). Please check and let us know.

[2022-10-21 21:58] #362 closed

[2022-10-25 08:15] Jim-Bar commented on #504
Hi, I was interested by this bugfix too, but I encounter a strange behaviour with it.

Before joining a meeting session, I can use a regular camera capture source normally. But as soon as I add a background processor (both blur and background replacement) in between the camera capture source and the video view the processed video appears upside down.

1. Camera capture source -> Render view: OK
2.

[2022-10-26 13:02] adesun2k opened #513 "PlayStore Error [Vulnerable WebRTC Versions]"
<img width="1277" alt="Screenshot 2022-10-26 at 1 59 31 PM" src="https://user-images.githubusercontent.com/57893099/198032439-bc10c4f5-1632-40ff-8966-6ace6b480dc7.png">

Am getting this error message after uploading my app to PlayStore

Vulnerable WebRTC Versions
Your app uses a bad version of WebRTC, which contains security vulnerabilities.

    implementation 'software.aws.chimesdk:amazon-chime-

[2022-10-26 13:10] adesun2k commented on #513
this is the link that was provided by PlayStore
https://support.google.com/faqs/answer/12577537

Additional details
These vulnerable versions of WebRTC use [usrsctp](https://github.com/sctplab/usrsctp), a third-party library that is the source of the vulnerabilities, and is no longer used by WebRTC.

I checked for usrsctp in the dependency tree, but I couldn't find any.

[2022-10-27 17:59] alnlau commented on #513
Hello,

Thanks for reporting the issue! We do not use data channels (and therefore do not use SCTP and usrsctp), but we will work on a libWebRTC update.

According to https://support.google.com/faqs/answer/12577537:

Are you still able to submit / publish the app on the Play Store despite the error?

[2022-10-27 22:03] alnlau commented on #511
Hello,

Our demo app is intended to work with the serverless demo from [amazon-chime-sdk-js](https://github.com/aws/amazon-chime-sdk-js). If you have your own server, it'll have to make [CreateMeeting](https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateMeeting.html) and [CreateAttendee](https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateAttendee.html) API calls and pass t

[2022-10-28 03:03] adesun2k commented on #513
No. Although the Publication status of our app did not change. But Google won't publish any submitted update unless the error stuff has been fixed.

Please kindly help with the fix you suggested. Thanks

[2022-11-02 22:21] #505 closed

[2022-11-03 13:48] Jim-Bar commented on #499
Hi, this is still a problem for us. Did you make progress on what you want to do with this issue?

If you are willing to accept PRs I could make one that fixes this for both Android and iOS.

[2022-11-03 14:11] Jim-Bar commented on #504
Hi, I come back to you with this question. I made a video to highlight the problem:

https://user-images.githubusercontent.com/8939266/199742416-5dbc5ea7-d187-4213-8070-09bfc1fead71.mp4

As you can see, before a meeting session is started, just rendering the camera capture source and enabling blur or background image flips the video.

But once in a meeting session (this is not shown in the video),

[2022-11-08 01:01] lhr000lhr commented on #513
received the same error as well.

when will Chime fix that?

[2022-11-08 22:39] lhr000lhr commented on #513
hi bro @adesun2k ,

did u resolve this error?

[2022-11-09 17:05] zhinang-amazon commented on #513
Our team is actively working on this issue. Upgrading libWebRTC version takes sizable effort and we also need to do sufficient testing before we release a new version with this change. We will keep this issue updated when the team can release the fix.

To clarify, is Google PlayStore blocking you from submitting an updated app? @lhr000lhr

[2022-11-09 17:19] adesun2k commented on #513
Not yet. Waiting for the Chime team to release an update.

[2022-11-09 17:19] adesun2k commented on #513
Yes they passed our app but it was delayed for about 2 weeks.

[2022-11-09 18:52] emathew80 commented on #513
@zhinang-amazon is there details on the exact vulnerability that can be exploited by using usrsctp? CVE link?

[2022-11-10 04:01] kemruto opened #514 "ISSUE: Question for Media Pipeline"
Hi. I've developed a meeting and my logic code will start meeting when onAttendeeJoined return more than 2 id, one for localUser and 1 for remoteUser.
But my problem is when remoteUser have not joined yet, but onAttendeeJoined returned for me 2 for local and for unknown user.
I have read documentation and found out maybe that the id of the media pipeline.
( this link: https://aws.amazon.com/blogs/

[2022-11-10 13:05] Nailik commented on #513
The only information google gives is
These vulnerable versions of WebRTC use [usrsctp](https://github.com/sctplab/usrsctp), a third-party library that is the source of the vulnerabilities, and is no longer used by WebRTC.

And there seems to be only one CVE in usrsctp but from 2020
https://www.cvedetails.com/vulnerability-list/vendor_id-22579/product_id-77709/year-2020/Usrsctp-Project-Usrsctp.html

[2022-11-10 17:19] zhinang-amazon commented on #513
Thanks @Nailik, that is also as much information we have on the CVE from usrsctp. As @alnlau pointed out, the Amazon chime SDK for iOS and Android do not use libWebRTC's data channels (and therefore do not use SCTP and usrsctp), so there is no impact on the end user, but the team is actively working on a libWebRTC version upgrade to resolve the PlayStore error.

[2022-11-10 17:31] tenge-amzn commented on #514
Media pipeline will have a externalUserId starts with "MediaPipeline-".

[2022-11-10 18:14] zhinang-amazon commented on #514
Let us know if you have more questions on this @kemruto

[2022-11-10 18:14] #514 closed

[2022-11-10 19:02] #511 closed

[2022-11-11 02:01] kemruto commented on #514
Thanks a lot

[2022-11-14 15:06] emathew80 commented on #513
@Nailik thank you, I came to the same conclusions as you based on some research I did on Thursday. I just wanted to get confirmation from the Chime Team as we had to take information higher up the food chain.

@zhinang-amazon thanks for the update. Unfortunately even with the information from above "As @alnlau pointed out, the Amazon chime SDK for iOS and Android do not use libWebRTC's data channe

[2022-11-15 18:17] zhinang-amazon commented on #513
The team is actively working on this, and we are targeting a few weeks to release the libWebRTC version upgrade

[2022-11-17 08:29] Jim-Bar opened #517 "Background filters flip the video upside-down before joining a meeting"
Hi. Recently a fix was made so that it is possible to use background blur / replacement image before joining a meeting session on Android: #504. But now when using those filters before joining a meeting, the video is upside-down.

1. Implement a blur filter
2. Apply it to the video preview, not being in a meeting
3. The blur is applied, but the video is upside down

The same occurs with the backgr

[2022-11-21 17:02] dingyishen-amazon commented on #517
Thanks for reporting the issue, we will investigate it.

[2022-11-26 05:31] dev-tryit opened #518 "The vulnerable open ssl version needs to be updated."
**Describe the bug**
I am using amazon-chime-sdk:0.15.0. During the Google app review, a vulnerability in openssl 1.1.1b was reported and ordered to be fixed. I've heard that it is resolved in 1.1.1i. Could you possibly get a corrected version?

The latest version of Amazon Chime is 0.17.8. Has the open ssl version problem been resolved in this version?

related document:
https://support.google.co

[2022-11-26 08:47] dev-tryit commented on #518
OpenSSL 1.1.1b in lib/armeabi-v7a/libamazon_chime_media_client.so

[2022-11-26 08:55] dev-tryit commented on #513
I am waiting for the app review like everyone else. It must be very difficult, but please do it quickly.

I also received an issue from Google about the vulnerability of open ssl 1.1.1b.
https://github.com/aws/amazon-chime-sdk-android/issues/518

I would appreciate it if you could solve the two problems together.

[2022-11-26 16:15] Nailik commented on #518
Simply update your dependency, the current amazon-chime-sdk (0.17.8) uses Open SSL 1.1.1n where the issue is resolved.
Jus the THIRD-PARTY.txt shows 1.1.1b as it is not updated it seems.

[2022-11-27 03:13] dev-tryit commented on #518
Thank you.

[2022-11-27 03:13] #518 closed